<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ asset('css/404.css')}}">

	<title>Page Introuvable</title>
</head>
<body class="pageerror">


<div class="bloc_message_error">

<h2>Oup's... la page que vous cherchez n'a pu être trouvée </h2>
<div class="text_error">
<p class="first">Elle est peut-être effacée, modifiée, ou temporairement innaccéssible ...</p>
<p>Merci de revenir sur la page d'accueil de notre site en cliquant sur le lien ci-dessous :</p>
</div>
<a href ="{{path('m_core_homepage')}}" class="btn_bacc"> Accueil</a>


<div class="pied_error">
	<img src="http://rencontres-et-vous.ma/bundles/mcore/images/logo.png" alt="r&v">
</div>
</div>
</body>
</html>