<nav class="authentication {% if is_granted('ROLE_USER') == false %}on{% endif %}" role="navigation">
	{% if is_granted('ROLE_USER') or is_granted('ROLE_FREE')  %}
		<ul>
		    <li style="font-size: 12px;">Bienvenue <span class="username">{{ app.user.username|capitalize }}</span></li>
            {% if is_granted('ROLE_USER') or is_granted('ROLE_FREE')  %}
    		    <li><a class="slidable-menu stopAnimation" href="{{ path('m_core_profile_compte') }}" >Mon compte</a></li>
                <li><a class="slidable-menu stopAnimation menu_parrainage" href="{{ path('m_core_profile_parrainage') }}" >Parrainage</a></li>
             {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATEUR') %}
                <li>
                    <a class="slidable-menu stopAnimation" href="{{ path('m_core_admin') }}" title="">Administration</a>
                </li>
                {% else %}
                <li><a class="slidable-menu stopAnimation" href="{{ path('m_core_profile_abonnement') }}" >Abonnement</a></li>
                {% endif %}
            {% endif %}
		    <li><a class="slidable-menu stopAnimation" href="{{ path('m_core_logout') }}" >Déconnecter</a></li>
		</ul>
	{% else %}
		<form class="" id="auth" action='{{ path('m_core_login_check') }}' method="POST">
            <div class="block_auth">
            	<input type="text" class="username_auth field_auth" placeholder="Pseudo ou e-mail" name="_username" value="{# derniere_username #}" tabindex="10">
            	<input type="checkbox" class="remember_auth" id="remember_me" name="_remember_me" checked />
            	<label for="remember_me">Se souvenir de moi</label>
            </div>
            <div class="block_auth">
            	<input type="password" class="password_auth field_auth" placeholder="Mot de passe" name="_password" tabindex="20">
            	<a class="oublie_auth" href="#">Mot de passe oublié</a>
            </div>
            <input type="submit" class="button ok_auth" value="OK" tabindex="30" >
        </form>
        <div class="hidden">
            <form action="{{ path('m_core_registration_forgot_password') }}" method="POST" accept-charset="utf-8" class="usernameOrEmailForm">
                <input type="hidden" name="usernameOrEmail" class="usernameOrEmail" value="" >
            </form>
        </div>
	{% endif %}
</nav>
