<html>
<head>
	<title></title>
	{% stylesheets  
			'bundles/mcore/css/reset-mayer.css' 
            'bundles/mcore/css/meAndYou.css' 
            filter='cssrewrite'
        %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body class="intro_page">
	<div class="container">
		<div class="centerMe">
			<h1>En Septembre, préparez-vous à faire de nouvelles rencontres au Maroc ! *</h1>
			<h2>* Entre célibataires sérieux !</h2>
		</div>
		<div class="bottomMe">
			<div class="footer_left">
				<p class="inlineblock">Rejoignez-nous sur : </p>
				<ul>
	                <li class="social facebook">
	                	<a href="https://www.facebook.com/pages/Rencontres-Vous/711248492249485" class="text-indent" title="Rejoignez nous sur Facebook" target="_blank">Facebook</a>
	                </li>
	                <li class="social twitter">
	                	<a href="https://twitter.com/RV_maroc" class="text-indent" title="Rejoignez nous sur Twitter" target="_blank">Twitter</a>
	                </li>
	                <li class="social google">
	                	<a href="https://plus.google.com/101628787872181534013" class="text-indent" title="Rejoignez nous sur Google+" target="_blank">Google+</a>
	                </li>
	            </ul>
			</div>
			<div class="footer_right logo">
				<a href="#" title="Rencontres &amp; Vous"><img src="{{ asset('bundles/mcore/images/logo.png') }}" class="logo" alt="Rencontres &amp; Vous" /></a>
			</div>
		</div>
	</div>
</body>
</html>