{% set root = app.request.attributes.get('_route') %}
<nav class="menu_principal menu" role="navigation" >
	<ul>
		<li {% if root == 'm_core_homepage' %}class="active"{% endif %}>
			<a href="{{ path('m_core_homepage') }}" title="">Accueil</a>
		</li>
		<li {% if root == 'm_core_homepage_decouvrir' %}class="active"{% endif %}>
			<a href="{{ path('m_core_homepage_decouvrir') }}" title="">Découvrir</a>
		</li>
		<li {% if root == 'm_core_homepage_temoignages' %}class="active"{% endif %}>
			<a href="{{ path('m_core_homepage_temoignages') }}" title="">Témoignages</a>
		</li>
		<li {% if root == 'm_core_homepage_evenements' %}class="active"{% endif %}>
			<a href="{{ path('m_core_homepage_evenements') }}" title="">Les sorties</a>
		</li>
		<li {% if root == 'm_core_homepage_rencontres' %}class="active"{% endif %}>
			<a href="{{ path('m_core_homepage_rencontres') }}" title="">Rencontres</a>
		</li>
		<li {% if root == 'm_core_homepage_services' %}class="active"{% endif %}>
			<a href="{{ path('m_core_homepage_services') }}" title="">Coaching</a>
		</li>
		<li class="last{% if root == 'm_core_homepage_presse' %} active{% endif %}">
			<a href="{{ path('m_core_homepage_presse') }}" title="">Revue de Presse</a>
		</li>
	</ul>
</nav>
