{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container abonnement abonnement_coordonnees_page">
		<header>
			<div class="entete">
				<h2>Abonnement</h2>
				<p>Vous n'êtes actuellement pas encore abonné sur "Rencontres &amp; Vous"</p>
			</h2>
		</header>
		<div class="abonnement_coordonnees">
			<form method="POST" action="#" >
				{#<div class="block_coordonnees">
					<h3><span class="circle"></span>Information de Facturation*</h3>
					<div class="block_input">
						{{ form_label(oFormUser.nom, 'Nom : ') }}
						{{ form_widget(oFormUser.nom) }}
					</div>
					<div class="block_input">
						{{ form_label(oFormUser.prenom, 'Prenom : ') }}
						{{ form_widget(oFormUser.prenom) }}
					</div>
					<div class="block_input">
						{{ form_label(oFormUser.adresse, 'Adresse : ') }}
						{{ form_widget(oFormUser.adresse) }}
					</div>
					<div class="block_input">
						{{ form_widget(oFormUser.adresse_suite, {'attr':{ 'class' : 'lonely' }}) }}
					</div>
					<div class="block_input">
						{{ form_label(oFormUser.code_postal, 'Code Postal : ') }}
						{{ form_widget(oFormUser.code_postal) }}
					</div>
					<div class="block_input">
						{{ form_label(oFormUser.ville, 'Ville au Maroc : ') }}
						{{ form_widget(oFormUser.ville) }}
					</div>
					<div class="block_input">
						{{ form_label(oFormUser.telephone, 'Téléphone : ') }}
						{{ form_widget(oFormUser.telephone) }}
					</div>
				</div>#}
				<div class="enveloppe_blocks">
					<div class="block_parainage">
						<h3><span class="circle"></span>Parrainage</h3>
						{% if app.user.parrain %} 
						<p>Vous êtes parrainé par : <span class="{% if app.user.parrain.sexe=="femme"%}femme{% else %}homme {% endif %}">{{ app.user.parrain.username}} </span></p>
						{% else %}
						<p>Vous n'avez pas aucun parrain </p>
						{% endif %}
						<a href="#">Plus d'infos sur le Parrainage</a>
					</div>
					<div class="block_codepromo">
						<h3><span class="circle"></span>Code Promotionnel</h3>
						<p>Vous avez un Code Promotionnel ?</p>
						<p>Merci de nous l'indiquer ci-dessous :</p>
						<div class="block_input">
							{{ form_widget(oFormAbonnement.codePromotionnel) }}
						</div>
						<div class="block_input_apply">
							<button class="apply_reduction">Appliquer</button>
						</div>
						<div class="overlay_apply hide">
										<img src='{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}' class='preloader'/>
						</div>
					</div>
				</div>
				<div class="block_paiement">
					<div class="offre">
						<span class="circle"></span>
						{{ form_label(oFormAbonnement.offreAbonnement, "Votre Abonnement : ") }}
						{{ form_widget(oFormAbonnement.offreAbonnement) }}

						
					</div>
					<div class="parrainage_promo">
						{% if app.user.parrain %}
						<div class="bloc_parrainage"><span class="circle"></span>  Parrainage : <strong id="txt_parrainage"> </strong> </div>
						{% endif %}
						<div class="bloc_promo"></div>
					</div>
					<div class="montant">
						<span class="circle"></span> <strong> Montant Total Facturé :  
						<i id="totalpayed"> </i> Dhs TTC</strong>
					</div>
					<div class="block_input">
						<h3><span class="circle"></span>Choisissez votre mode de paiement : </h3>
						<div class="moyens">
							{% for oInput in oFormAbonnement.moyenPaiement %}
								<div class="moyen">
									{{ form_widget(oInput ,{ 'attr': {'class': 'moyenpaiement'} }) }}
									{{ form_label(oInput) }}
								</div>
							{% endfor %}	
						</div>
						<div class="logo_bank">
							<img src="http://www.finance.mmu.ac.uk/images/cards_list.png" >
							<br>
							<img src="{{ asset('binga.png')}}" class="logo_binga">
						</div>
						<p class="txt_moyenpaiement">
							<b>"Rencontres &amp; Vous" garantit la sécurité de son système de paiement en ligne avec Maroc Telecommerce. Ce système de sécurisation des paiements électroniques est certifié et reconnu par le Centre Monétique Interbancaire (CMI), par les Banques marocaines ainsi que par les organismes internationaux tels que VISA et MasterCard.
						</p>
					</div>
				</div>
				
				{{ form_rest(oFormAbonnement) }}
				<div class="buttons">
					<a href="{{ path('m_core_profile') }}" title="Annuler ma Commande" class="button annuler_commande">Annuler ma Commande</a>
					<input type="submit" class="button valider_commande" value="Valider ma Commande" />
				</div>
			</form>
		</div>
	</section>
	<script>
		$(document).ready(function(){
			$('.offre select option:eq({{ app.session.get("TypeAbonnement") }})').attr('selected', 'selected');
			var select = $("#m_corebundle_abonnementcoordonneestype_offreAbonnement");
			indexselected = select[0].selectedIndex;
				changemyselected(indexselected);
			
			$("#m_corebundle_abonnementcoordonneestype_offreAbonnement").on('change',function(){

				indexselected = select[0].selectedIndex;
				changemyselected(indexselected);
			});

			$(".block_codepromo .apply_reduction").on('click',function(e){

				changemyselected(indexselected);
				var sUrl= "{{ path('m_core_profile_calculatepromo')}}";
				var sCodepromo = $.trim($("#m_corebundle_abonnementcoordonneestype_codePromotionnel").val());
				var iPrix = $("#totalpayed").text();
				e.preventDefault();
				if(sCodepromo === '')
				{
					$("#m_corebundle_abonnementcoordonneestype_codePromotionnel").focus();
				}
				else
				{
				$(".overlay_apply").show();
				calculateCodePromo(sUrl,sCodepromo,iPrix);
				}
			});

					$('input[name="m_corebundle_abonnementcoordonneestype[moyenPaiement]"]').on('change', function(){
						txt_moyenpaiement= $('.txt_moyenpaiement');
						txt_moyenpaiement.html('');
					    if ($(this).val()=='0') {
					       txt_moyenpaiement.html('"Rencontres &amp; Vous" garantit la sécurité de son système de paiement en ligne avec Maroc Telecommerce. Ce système de sécurisation des paiements électroniques est certifié et reconnu par le Centre Monétique Interbancaire (CMI), par les Banques marocaines ainsi que par les organismes internationaux tels que VISA et MasterCard.');
					         
					    }
					    else if ($(this).val()=='1')
					    {
					    txt_moyenpaiement.html("Il vous suffit de :<br>- Nous envoyer par courrier un chèque certifié à l'ordre de Optim Achat (Société propriétaire du site www.rencontres-et Vous.ma) à l'adresse suivante:  Optim Achat , 10 rue d' Oran Quartier Gauthier 20100 Casablanca.<br>- Ajouter à votre courrier votre pseudo ainsi que la durée de l'abonnement choisi,<br>Le montant du chèque doit correspondre à la durée de l'abonnement que vous avez choisi. Nos tarifs sont indiqués sur le site");
					    }
					    else if ($(this).val()=='2')
					    {
					    	txt_moyenpaiement.html("Vous pouvez vous rendre à l'adresse suivante : Rencontres & Vous  , 10 rue d' Oran Quartier Gauthier 20100 Casablanca.<br><br>Les règlements par chèque et par espèce sont acceptés.")
					    }
					    else if ($(this).val()=='3')
					    {
					    	
					    }
					});
			
		});
	</script>
{% endblock %}