{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container abonnement abonnement_coordonnees_page abonnement_recap">
		<header>
			<div class="entete">
				<h2>Abonnement</h2>
				<p>Vous n'êtes actuellement pas encore abonné sur "Rencontres &amp; Vous"</p>
			</h2>
		</header>
		<div class="abonnement_coordonnees">
			<form method="POST" action="#" >
				<div class="block_coordonnees">
					<h3><span class="circle"></span>Information du Client :</h3>
					<div class="block_input">
						{{ app.user.prenom ~ ' ' ~ app.user.nom }}
					</div>
					<div class="block_input">
						{{ app.user.adresse }}
					</div>
					<div class="block_input">
						{{ app.user.adresseSuite }}
					</div>
					<div class="block_input">
						{{ app.user.codePostal ~ ' ' ~ app.user.ville.nom }}
					</div>
					<div class="block_input">
						{{ app.user.email }}
					</div>
					<div class="block_input">
						Tél : {{ app.user.telephone }}
					</div>
				</div>
				<div class="enveloppe_blocks">
					<div class="block_parainage">
						<h3><span class="circle"></span>Détail de votre Commande :</h3>
						<div class="block_input">
							Votre n° de Commande : {{ oAbonnement.numeroCommande }}
						</div>
						<div class="block_input">
							Montant de la transaction : {{ oAbonnement.totalPaye }} DHS TTC
						</div>
						<div class="block_input">
							Code Promotionnel : {% if oAbonnement.codePromotionnel %} - 50% {% endif %}
						</div>
						<div class="block_input">
							Nom du parrain : {% if oAbonnement.parrain %} <span class="username" >{{ oAbonnement.parrain.username|capitalize }}</span> ( 1 mois offert ) {% endif %} 
						</div>
						<div class="montantAPayer">Total à régler : {{ oAbonnement.totalPaye }} DHS TTC</div>
					</div>
				</div>
				<div class="block_paiement">
					<h3><span class="circle"></span>Bon de Paiement par Carte Bancaire *</h3>
					<div class="block_input">
						<div class="block_input">
							<label for="type_carte">Type de Carte Bancaire :</label>
							<select name="type_carte" id="type_carte" required  >
								<option value="Visa">Visa</option>
								<option value="MasterCard">MasterCard</option>
							</select>
						</div>
						<div class="logo_bank">
							<img src="http://www.finance.mmu.ac.uk/images/cards_list.png" >
						</div>
						<div class="block_input">
							<label for="numero_carte">Numéro de Carte de Paiement :</label>
							<input type="text" name="numero_carte" id="numero_carte" required >
						</div>
						<div class="block_input date_expiration">
							<label for="date_expiration_mois">Date d'expiration :</label>
							<select name="date_expiration_mois" id="date_expiration_mois" required >
								{% for iKey in 1..12 %}
									{% set key = 0 %}
									{% if iKey|length == 1 %} {% set key = '0' ~ iKey %} {% else %} {% set key = iKey %} {% endif %}
									<option value="{{ key }}">{{ key }}</option>
								{% endfor %}
							</select>
							<select name="date_expiration_annee" id="date_expiration_annee">
								{% for iKey in 2014..2020 %}
									<option value="{{ iKey }}">{{ iKey }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="block_input float_me">
							<label for="code_verif">Code de Vérification :</label>
							<input type="text" name="code_verif" id="code_verif" required >
						</div>
						<p>(3 derniers chiffres au dos)</p>
						<div class="block_input reglement">
							<input type="checkbox" value="1" name="accepte_reglement" id="accepte_reglement" required >
							<label for="accepte_reglement">J'accepte les <a href="#" title="">conditions générales de vente</a> de "Rencontres &amp; Vous"</label>
						</div>
						
					</div>
				</div>
				<div class="notice">
					<p class="right">* Les informations sur le paiement vous concernant resteront confidentielles.</p>
				</div>
				<div class="buttons">
					<a href="{{ path('m_core_profile_abonnement_coordonnes') }}" title="Retour à la page précédante" class="button annuler_commande">Retour à la page précédante</a>
					<input type="submit" class="button valider_commande" value="Valider mon Paiement" />
				</div>
			</form>
		</div>
	</section>
	<script>
		$(document).ready(function(){
			//$('.offre select option:eq({{ app.session.get("TypeAbonnement") }})').attr('selected', 'selected');
		});
	</script>
{% endblock %}