{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container abonnement">
		<header>
			<div class="entete">
				<h2>Abonnement</h2>
				<p>
					{% if is_granted('ROLE_FREE') %}
						Vous n'êtes actuellement pas encore abonné sur "Rencontres &amp; Vous"
					{#% elseif is_granted('ROLE_USER') and oAbonnement.dateExpiration|date("m/d/Y") > "now"|date("m/d/Y") %}
						Votre abonnement est en cours depuis le {{ oAbonnement.dateCreation|dateTimeFR('fr_FR','d MMMM Y') }} et valable jusqu'au {{ oAbonnement.dateExpiration|dateTimeFR('fr_FR','d MMMM Y') }} inclus.#}
						{% elseif is_granted('ROLE_USER') %}
						Votre abonnement est en cours
					{% endif %}
				</p>
			</h2>
			<div class="packs">
				<form method="POST" action="#" class="form_packs" >
					{% for iKey, oInput in oForm.typeAbonnement %}
						<div class="block_radio block_radio{{iKey}}">
							{{ form_widget(oInput) }}
							{{ form_label(oInput) }}
						</div>
					{% endfor %}
					{{ form_rest(oForm) }}
					{% if is_granted('ROLE_FREE') %}<input type="submit" class="button" value="Je m'abonne !" />{% endif %}
				</form>	
			</div>
		</header>
		<div class="abonnement_details"></div>
	</section>
	<script>
		$(document).ready(function(){
			$('.content_container .body_container.abonnement header .entete .packs').css({
						'backgroundPosition' : '385px -370px'
			});
			$(document).on('change', '.form_packs input', function(){
				if ( $(this).is(':checked') && $(this).attr('value') == 0 )
				{
					$('.content_container .body_container.abonnement header .entete .packs').css({
						'backgroundPosition' : '385px 0px'
					});
				}
				else if ( $(this).is(':checked') && $(this).attr('value') == 1 )
				{
					$('.content_container .body_container.abonnement header .entete .packs').css({
						'backgroundPosition' : '385px -370px'
					});
				}
				else if ( $(this).is(':checked') && $(this).attr('value') == 2 )
				{
					$('.content_container .body_container.abonnement header .entete .packs').css({
						'backgroundPosition' : '385px -740px'
					});
				}
				else if ( $(this).is(':checked') && $(this).attr('value') == 3 )
				{
					$('.content_container .body_container.abonnement header .entete .packs').css({
						'backgroundPosition' : '385px -1110px'
					});
				}
			});
		});
	</script>
{% endblock %}