{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		<section class="stats agenda">
			<h3>Mon Agenda</h3>
			<div class="block_section">
				<p>L'agenda vous permet de noter vos rendez-vous  planifié avec les autres membres et de pouvoir visualiser les sorties auxquelles vous participez. Pour noter votre rendez-vous, il vous suffit de cliquer sur la date de votre choix, à compléter les informations liées à votre rendez-vous.</p>
				<p>Lorsque vous  vous inscrivez à une sortie, celle-ci vient directement s'inscrire dans votre agenda.</p>
			</div>
			<div class="block_section agenda">
				<div id="datepicker"></div>
			</div>

			<div class="hidden form_content_add_agenda">
				<h3><div class="SelectedDate"></div><span class='close_popup' >X</span></h3></h3>
				<div class='corps' >
					{#  
						1 - CONFIGURE LE FORM ACTUL POUR Y METTRE LE ROUTE OU TU VEUX RECEVOIR LES DONNEES
						2 - 2 ACTIONS A PRENDRE EN CONCIDERATION => AJOUT/SUPPRESSION
						3 - TU POURRAS DETERMINTER L'ACTION EN QUESTION A TRAVERS LES "NAME" DES BOUTONS SUBMIT QUE JE T'AI MIS

					 #}
					<form method="post" class="form_add_agenda" >
						<input type="hidden" name="date_agenda" class="date_agenda" />
						<div class="block_field">	
			    			<span class="circle"></span><label for="titre">Titre :</label>
			    			<input type="text" class="input_titre" name="titre" />
			    		</div>
						<div class="block_field">	
			    			<span class="circle"></span><label for="lieu">Lieu :</label>
			    			<input type="text" class="input_lieu" name="lieu" />
			    		</div>
			    		<div class="block_field">
			    			<span class="circle"></span><label for="titre">Heure :</label>
			    			<select name="heure" class="input_heure" >
			    				{% for i in 0..23 %}
			    					<option value="{% if i|length == 1 %}{{ '0' ~ i }}{% else %}{{ i }}{% endif %}">
			    						{% if i|length == 1 %}{{ '0' ~ i }}{% else %}{{ i }}{% endif %}
			    					</option>
			    				{% endfor %}
			    			</select>
			    			<select name="minute" class="input_minute" >
			    				{% for i in 1..59 %}
			    					<option value="{% if i|length == 1 %}{{ '0' ~ i }}{% else %}{{ i }}{% endif %}">
			    						{% if i|length == 1 %}{{ '0' ~ i }}{% else %}{{ i }}{% endif %}
			    					</option>
			    				{% endfor %}
			    			</select>
			    		</div>
			    		<div class="block_field">	
			    			<span class="circle"></span><label for="titre">Commentaires :</label>
			    			<textarea class="input_commentaire" name="commentaire"></textarea>
			    		</div>
			    		<input type="submit" name="supprimer" class="supprimer_bouton hidden button" value="Supprimer">
						<input type="submit" name="enregistrer" value="Enregistrer" class="button" >
			  		</form>
				</div>
			</div>


			<div class="hidden saved-dated">
				{% set bToday = false %}
				{% for donnees in aAgenda %}
					{% if donnees.date == "now"|date('dmY') %} {% set bToday = true %} {% endif %}
					<ul class="d{{donnees.date}}">
						<li class="titre">{{donnees.titre}}</li>
						<li class="lieu">{{donnees.lieu}}</li>
						<li class="heure">{{donnees.heure}}</li>
						<li class="minute">{{donnees.minute}}</li>
						<li class="commentaire">{{donnees.commentaires}}</li>
						<li class="type">{{donnees.type}}</li>
					</ul>
				{% endfor %}
				{% if bToday == false %} 
					<ul class="d{{"now"|date('dmY')}}">
						<li class="titre"></li>
						<li class="lieu"></li>
						<li class="heure"></li>
						<li class="minute"></li>
						<li class="commentaire"></li>
					</ul>
				{% endif %}
			</div>
		</section>
	</section>
	<script>
		$(document).ready(function(){
			

			$Dates = ['{{ "now"|date("d/m/Y") }}',{% for donnees in aAgenda %}'{{donnees.date2}}'{% if not loop.last %},{% endif %}{% endfor %}];
			//$Dates = [{% for donnees in aAgenda %}'{{donnees.date2}}'{% if not loop.last %},{% endif %}{% endfor %}];

			// Activation du Script de calendrier
			$('#datepicker').calendarsPicker({     	
		    	altFormat: 'DD, d MM, yyyy',
		    	yearRange: 'c-0:c+10',
				firstDay: 1,
				pickerClass: 'CalendarPicker',
		    	multiSelect: 1, 
		    	monthsToShow: 2, 
		    	monthsToStep: 2,
		    	prevText:'',
		    	nextText:'',
		    	selectDefaultDate: false,
		    	multiSelect: 1000,
		    	onSelect: function(dates) {  }
		    	/*onDate: function()
		    	{
		    		console.log('changed');
		    		$('.calendars-month td .calendars-highlight').removeClass('calendars-highlight');
		    	}*/
		    });
		    $(document).on('click', '.calendars-cmd', function(e){
		    	console.log('changed');
		    	$('.calendars-month td .calendars-highlight').removeClass('calendars-highlight');
		    });
		    // Mise en place des dates remplies
		    $("#datepicker").calendarsPicker('setDate', $Dates);

		    // En cliquant sur une date
			$(document).on('click', '.calendars-month tbody a', function(e){
				// Prévention de la redirection
		    	e.preventDefault();
		    	// Si la date est déjà en selection on sort de la fonction
				if ( $(this).hasClass('calendars-selected') ) return false;

				// Capture de la date complète concernée
		    	$aDate = $(this).attr('title').split(' ');
		    	var sYear = $('.calendars-month-header .calendars-month-year:eq(1) option:selected').text();
		    	$sDate = $aDate[2] + ' ' + $aDate[3] + ' ' + $aDate[4] + ' ' + sYear;
		    	// Mise en place de la date dans le header du popup
		    	$('.form_content_add_agenda h3 .SelectedDate').text($sDate);
		    	// Capture de la date en format YY-MM-JJ
		    	var aMonths = ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'];
		    	var iMonth = parseInt($.inArray( $aDate[4], aMonths )) + 1;
		    	iDay = ($aDate[3] > 0 && $aDate[3] < 10) ? '0' + $aDate[3] : $aDate[3];
		    	iMonth = (iMonth > 0 && iMonth < 10) ? '0' + iMonth : iMonth;
		    	$('.form_content_add_agenda .date_agenda').attr('value', sYear + '-' + iMonth + '-' + iDay);
		    	// Activation du popup
				popUpCreate($(".form_content_add_agenda").html(), 'agenda', '{{ asset("bundles/mcore/images/") }}');

				// Cacher le bouton "Supprimer"
				$(".supprimer_bouton").addClass("hidden");
				// Vidage des champs
				$('.form_add_agenda .input_titre').attr('value', '');
		    	$('.form_add_agenda .input_lieu').attr('value', '');
		    	$('.form_add_agenda .input_heure option:eq(0)').attr('selected', 'selected');
		    	$('.form_add_agenda .input_minute option:eq(0)').attr('selected', 'selected');
		    	$('.form_add_agenda .input_commentaire').text('');

		    	// Redéfinition des dates remplies
		    	$("#datepicker").calendarsPicker('setDate', $Dates);
		    });

			// En cliquant sur une date déjà remplie
		    $(document).on('click', '.calendars-selected', function(e){
		    	// Capture du jour
		    	$iDay = $(this).text();
		    	$iDay = ( $iDay.length === 1 ) ? '0' + $iDay : $iDay;
		    	// Capture du mois
		    	$iMonth = $('.calendars-month-header .calendars-month-year:eq(0) option:selected').attr('value').split('/')[0];
		    	// Si c'est le calendrier de droite on rajoute 1 au mois
		    	$iMonth = ( $(this).parents('.calendars-month').hasClass('last') ) ? parseInt($iMonth) + 1 : $iMonth;
		    	$iMonth = ( $.trim($iMonth).length === 1 ) ? '0' + $iMonth : $iMonth;
		    	// Capture de l'année
		    	$iYear = $('.calendars-month-header .calendars-month-year:eq(1) option:selected').text();
		    	// Construction de la classe
		    	var sClass = 'd' + $iDay + $iMonth + $iYear;
		    	
		    	// Si les données de la date concernée sont introuvables
		    	if ( $('.' + sClass + ' li.titre').length === 0 )
	    		{
	    			// On affiche un message d'erreur et on sort de la fonction
	    			alert('Une erreur est survenue. Merci de contacter un administrateur du site.');
	    			return false;
	    		}

	    		// Capture de la date complète concernée
		    	$aDate = $(this).attr('title').split(' ');
		    	var sYear = $('.calendars-month-header .calendars-month-year:eq(1) option:selected').text();
		    	$sDate = $aDate[2] + ' ' + $aDate[3] + ' ' + $aDate[4] + ' ' + sYear;
		    	// Mise en place de la date dans le header du popup
		    	$('.form_content_add_agenda h3 .SelectedDate').text($sDate);
		    	// Capture de la date en format YY-MM-JJ
		    	var aMonths = ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'];
		    	var iMonth = parseInt($.inArray( $aDate[4], aMonths )) + 1;
		    	iDay = ($aDate[3] > 0 && $aDate[3] < 10) ? '0' + $aDate[3] : $aDate[3];
		    	iMonth = (iMonth > 0 && iMonth < 10) ? '0' + iMonth : iMonth;
		    	$('.form_content_add_agenda .date_agenda').attr('value', sYear + '-' + iMonth + '-' + iDay);
		    	

	    		// Activation du popup
		    	popUpCreate($(".form_content_add_agenda").html(), 'agenda', '{{ asset("bundles/mcore/images/") }}');

		    	// Affichage du bouton "Supprimer"
		    	$(".supprimer_bouton").removeClass("hidden");
		    	// Completion des champs avec les données de la date
		    	$('.form_add_agenda .input_titre').attr('value', $('.' + sClass + ' li.titre').text());
		    	$('.form_add_agenda .input_lieu').attr('value', $('.' + sClass + ' li.lieu').text());
		    	$('.form_add_agenda .input_heure option:contains("' + $('.' + sClass + ' li.heure').text() + '")').attr('selected', 'selected');
		    	$('.form_add_agenda .input_minute option:contains("' + $('.' + sClass + ' li.minute').text() + '")').attr('selected', 'selected');
		    	$('.form_add_agenda .input_commentaire').text($('.' + sClass + ' li.commentaire').text());

		    	// Redéfinition des dates remplies
		    	$("#datepicker").calendarsPicker('setDate', $Dates);
		    	
		    });
		});
	    
	</script>
{% endblock %}