{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		{% include 'MCoreBundle:Profile:menu_profil_details.html.twig' %}
		<div class="profil_details_album profil_details">
			<form method="POST" id="uploadData" class="form_album_perso" >
				<div class="block_section">
					<h3 class="no-extra-margin"><span class="circle"></span>Créez votre album perso</h3>
			    	<div class="explication">
			    		<p class="explication extra-margin">
			    			Créer votre album perso vous permet d'ajouter jusqu'à 10 photos de votre choix dans la mesure où celles-ci répondent aux conditions d'utilisation des photos du site. Choisissez ensuite de partager cette album avec certains membres de la communauté .
			    		</p>
			    		<a href="{{asset(roots.documents.Photos)}}" target="_blank">Voir les conditions d'utilisation des photos</a>
			    	</div>
				</div>
				<div class="bloc_photos">
					<ul>
						{% set iCount = 1 %}
						{% for iKey, oImageProfil in aImagesAlbum %}
							<li class="full">
								<input id="upload{{ iCount }}" class="upload" type="file" name="upload{{ iCount }}" accept="image/*" multiple="">
								<span>
									<a class="photo" href="#">
										<img alt="{{ app.user.prenom ~ ' ' ~ app.user.nom }}" src="{{ oImageProfil.image }}" />
									</a>
									<a class="delete" href="#"> x </a>
								</span>
								<label for="profil_default{{ oImageProfil.id }}" class="profil_default_label">Photo de profil {{ iCount }}</label>
							</li>
							<input type="hidden" name="DOC_{{ oImageProfil.id }}" class="DOC" value="{{ oImageProfil.image }}" />
							{% set iCount = iCount + 1 %}
						{% endfor %}
						{% if aImagesAlbum|length < 10 %}
							{% for iKey in 9..aImagesAlbum|length %}
							    <li class="empty">
									<input id="upload{{ iCount }}" class="upload" type="file" name="upload{{ iCount }}" accept="image/*" multiple="">
									<span>
										<a class="photo" href="#">
											<span class="loader"></span>
											<span class="add">
												<span class="plus">+</span>
												<p>Ajouter une photo</p>
											</span>
										</a>
									</span>
									<label for="profil_default{{ iCount }}" class="profil_default_label">Photo de profil {{ iCount }}</label>
								</li>
								<input type="hidden" name="ADD_upload{{ iCount }}" class="ADD_upload{{ iCount }}" />
								{% set iCount = iCount + 1 %}
							{% endfor %}
						{% endif %}
					</ul>	
				</div>
				<div class="block_section explication status_album colored gray">
					<h3 class="no-extra-margin"><span class="circle"></span>Partagez votre album perso</h3>
					<p><b>En mode privé : </b>Vous pouvez rendre votre album perso visible par un autre membre du site seulement pendant une conversation tchat. Dès la fin de votre conversation tchat, l'accès à cet album sera fermé automatiquement.</p>	
					<p><b>En mode public : </b>Votre album perso sera visible par tous les membres du site et à tout moment.</p>
					<div class="album_status">
						<p><b>Je souhaite que mon album perso soit : </b></p>
						<div class="block_checkbox"><input type="radio" name="status_album" value="prive" id="prive" {% if app.user.getStatusAlbum == 0 %}checked="checked"{% endif %} /><label for="prive">Privé</label></div>
						<div class="block_checkbox"><input type="radio" name="status_album" value="public" id="public" {% if app.user.getStatusAlbum == 1 %}checked="checked"{% endif %} /><label for="public">Public</label></div>
					</div>
				</div>
				<div class="footer">
					<input type="reset" value="Annuler mes modifications" class="button refresh" >
					<input type="submit" value="Enregistrer mes modifications" class="button btn_submit_album_perso" >
				</div>
			</form>
		</div>
	</section>
	<script>
		var sform_clean;
			var used_submit = 0;
			sform_clean = $(".form_album_perso").serialize();  

				// Before we leave the page we now compare between the new form values and the orignal
				window.onbeforeunload = function (e) {
				    var sform_dirty = $(".form_album_perso").serialize();
				    if(sform_clean != sform_dirty && used_submit ==0) {
				        return 'Vous allez quitter cette page sans enregistrer vos modifications.';
				    }
				};

			$(".btn_submit_album_perso").on('click',function(e)
			{

				used_submit = 1;
			});
	</script>
{% endblock %}