{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		{% include 'MCoreBundle:Profile:menu_profil_details.html.twig' %}
		<div class="profil_details_apropos profil_details">
		<form method="post" {{ form_enctype(oForm) }} class="apropos_form">
			<div class="block_section">
				<div class="block_left block_textarea">
		    		<h3 class="no-extra-margin"><span class="circle"></span>Ma description :</h3>
		    		<div class="block_field">
			    		{{ form_widget(oForm.description, {'attr':{'class' : 'textarea'}}) }}
			    	</div>
			    	<p class="help">* minimum de 80 caractères obligatoires.</p>
				</div>
				<div class="block_right block_text_description">
					<div class="explication">
						<h4>Comment optimiser votre description :</h4>
						<p>Soyez authentique en vous exprimant avec vos mots. </p>
						<p>Veuillez en quelques mots, décrire votre personnalité et vos attentes concernant votre recherche du partenaire idéal. En étant précis dans votre description,  vous permettrez à des membres susceptibles d’avoir des affinités avec vous de vouloir vous contacter.</p>
						
					</div>
				</div>
				<a href="{{asset(roots.documents.CGU)}}" target="_blank" class="sign chart_apropos">Voir les conditions générales d’utilisation</a><span class="color blue"> &amp; </span><a href="{{asset(roots.documents.CharteQualite)}}" target="_blank" class="chart_apropos"> la charte qualité</a>
			</div>
			<div class="block_section colored gray">
				<div class="block_center">
					<h3 class="bloc_qualite apropos"><span class="circle"></span>Mes qualités : <span class="help extra-margin apropos">Cochez les 6 adjectifs qui vous correspondent le mieux parmi la liste proposée.</span></h3>
					{% for qualite in oForm.qualites %}
						<div class="block_checkbox">	
				    		{{ form_widget(qualite, {'attr':{'class' : 'qualite'}}) }}
				    		{{ form_label(qualite) }}
				    	</div>
					{% endfor %}
			    	
			    </div>
			</div>
			<div class="block_section">
				<h3><span class="circle"></span>A propos de vous :</h3>
				<div class="block_left block_scroll_left">
					<div class="block_field">	
			    		{{ form_label(oForm.marital) }}
			    		{{ form_widget(oForm.marital) }}
			    	</div>
			    	<div class="block_field">	
			    		{{ form_label(oForm.nbEnfant) }}
			    		{{ form_widget(oForm.nbEnfant) }}
			    	</div>
			    	<div class="block_field">	
			    		{{ form_label(oForm.nationalite) }}
			    		{{ form_widget(oForm.nationalite) }}
			    	</div>
			    	<div class="block_field">	
			    		{{ form_label(oForm.taille) }}
			    		{{ form_widget(oForm.taille) }}
			    	</div>
			    	<div class="block_field">	
			    		{{ form_label(oForm.silhouette) }}
			    		{{ form_widget(oForm.silhouette) }}
			    	</div>
			    	<div class="block_field">	
			    		{{ form_label(oForm.cheveux) }}
			    		{{ form_widget(oForm.cheveux) }}
			    	</div>
			    	<div class="block_field">	
			    		{{ form_label(oForm.yeux) }}
			    		{{ form_widget(oForm.yeux) }}
			    	</div>
				</div>
				<div class="block_right block_scroll_right">
					<div class="notice"></div>
		    		<div class="block_field">	
			    		{{ form_label(oForm.ville) }}
			    		{{ form_widget(oForm.ville) }}
			    	</div>
					<div class="block_field">	
			    		{{ form_label(oForm.etudes) }}
			    		{{ form_widget(oForm.etudes) }}
			    	</div>
			    	<div class="block_field">	
			    		{{ form_label(oForm.profession) }}
			    		{{ form_widget(oForm.profession) }}
			    	</div>
			    	<div class="block_field">	
			    		{{ form_label(oForm.secteur) }}
			    		{{ form_widget(oForm.secteur) }}
			    	</div>
			    	<div class="block_field">	
			    		{{ form_label(oForm.vestimentaire) }}
			    		{{ form_widget(oForm.vestimentaire) }}
			    	</div>
			    	<div class="block_field">	
			    		{{ form_label(oForm.sport) }}
			    		{{ form_widget(oForm.sport) }}
			    	</div>
			    	<div class="block_field">	
			    		{{ form_label(oForm.fumeur) }}
			    		{{ form_widget(oForm.fumeur) }}
			    	</div>
			    	{{ form_rest(oForm) }}
				</div>
				<p class="help extra-margin">* Le renseignement de l'ensemble des champs ci-dessus est obligatoire.</p>
			</div>
       		{{ form_widget(oForm) }}
	       	<div class="footer">
				<input type="reset" value="Annuler mes modifications" class="button refresh" >
				<input type="submit" value="Enregistrer mes modifications" class="button btn_submit_apropos" >
			</div>
       </form>	
				
		</div>
	</section>
	<script>
		$(document).ready(function(){
			// $bChanged = false;
			// $(document).on('change', 'form', function(){
			// 	$bChanged = true;
			// });
			// $(window).bind('beforeunload', function(e){ 
			// 	e.preventDefault();
	  //           if ( $bChanged ) 
	  //           {
			// 		return 'Vous allez quitter cette page sans enregistrer vos modifications.';
	  //           }
   //          });
		var sform_clean;
			var used_submit = 0;
			sform_clean = $(".apropos_form").serialize();  

				// Before we leave the page we now compare between the new form values and the orignal
				window.onbeforeunload = function (e) {
				    var sform_dirty = $(".apropos_form").serialize();
				    if(sform_clean != sform_dirty && used_submit ==0) {
				        return 'Vous allez quitter cette page sans enregistrer vos modifications.';
				    }
				};

			$(".btn_submit_apropos").on('click',function(e)
			{

				used_submit = 1;
			});
			$(document).on('submit', '.apropos_form', function(){
				$bChanged = false;
				var $aError = Array();
				if ($.trim($('.block_textarea textarea').val()).length < 80)
				{
					$aError[0] = 'Description';
					$aError[1] = 'Votre description ne fait pas un minimum de 80 caractères.';
					popMeOnError($aError);
					return false;
				}
				else if ( $.trim($('.block_left textarea').val()).length > 500 )
				{
					$aError[0] = 'Description';
					$aError[1] = 'Votre description ne doit pas dépasser 500 caractères.';
					popMeOnError($aError);
					return false;
				}
				if ($('.block_center .qualite:checked').length < 6)
				{
					$aError[0] = 'Qualités';
					$aError[1] = 'Vous devez cocher au minimum 6 qualités.';
					popMeOnError($aError);
					return false;
				}
			});
		});	
	</script>
{% endblock %}