<li>
	<a href="{{ path('m_core_profile_voir', {'sUser': User.username}) }}" title="">
	<img src="{{User.image}}" alt="">
	<span class="username">{{User.username|capitalize}}</span> - {{User.age}} ans 
	<span class="ville">{{User.ville}}</span>
	<span class="signe">{{User.signe}}</span>
	</a>
	<br><br>
	<a href="{{ path('m_core_profile_messages_nouveau', {'sUser': User.username}) }}" title="">Envoyer un messsage à  {{ User.username|capitalize }}</a>
</li>