{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		<section class="resultat">
			<h3>Membres que j'ai bloqué</h3>
			<div class="pagination header_pagination">
				<span class="nb_resultat">
					Vous avez bloqué <span class="nb">{{ iTotalResult }}{% if iTotalResult > 1 %} Membres{% else %} Membre{% endif %}</span> !
				</span>	
				{% include 'MCoreBundle:Profile:paginator.html.twig' %}
			</div>
			{% if aResult|length == 0 %}
				<div class="not_found">
					<p>Aucun Membre bloqué </p>
		
				</div>
			{% endif %}
			<ul class="list_users">
			{% for User in aResult %}
				<li class="users">
					<a href="{{ path('m_core_profile_voir', {'sUser': User.username}) }}" title="">
						<img alt="{{ app.user.prenom ~ ' ' ~ app.user.nom }}" src="{{ User.image }}" class="profil_image" />
					</a>
					<dl>
						<dd class="first">
							<a href="{{ path('m_core_profile_voir', {'sUser': User.username}) }}" title=""> 
								<span class="connectivite {% if User.enLigne %} enligne{% else %} horsligne{% endif %}"></span>
								{{ User.username }}
							</a>
						</dd>
						<dd class="no-text-transform">{{ User.age }} ans</dd>
						<dd>{{ User.ville }}</dd>
						<dd>{{ User.signe }}</dd>
					</dl>
					<div class="envoi_notif">
						<ul>
							<li class="debloquer">
								<a href="{{ path('m_core_profile_ajax_bloquerContact') }}" title="{{ User.username }}">Débloquer ce membre</a>
							</li>
						</ul>
					</div>
				</li>
			{% endfor %}
			</ul>
			<div class="pagination header_pagination">
				<span class="nb_resultat">
					Vous avez bloqué <span class="nb">{{ iTotalResult }}{% if iTotalResult > 1 %} Membres{% else %} Membre{% endif %}</span> !
				</span>	
				{% include 'MCoreBundle:Profile:paginator.html.twig' %}
			</div>
			<script>
				$(document).on('click', '.debloquer a', function(e)
				{
					var $this = $(this);
					var confirm = window.confirm('Êtes-vous sûr de vouloir débloquer ce membre ?');
					if ( confirm ) 
					{
						ajaxMe(e, $(this), "{{ path('m_core_profile_ajax_bloquerContact') }}", "debloquer", "{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}", "debloquer", function()
						{

							$this.parents('li').slideUp();
				    		var number_res = $(".nb_resultat .nb").text().split(" ");
				    		number_res = parseInt(number_res[0]) - 1;
				    		
				    		if ( number_res < 0 ) alert("Un problème est survenu");
				    		else if ( number_res === 1 || number_res === 0 ) $(".nb_resultat .nb").text(number_res + " membre");
				    		else if ( number_res > 1 ) $(".nb_resultat .nb").text(number_res + " membres");

				    		popMeOnSuccess('Membre débloqué avec succés');
						});
					}
					e.preventDefault();
				});
			</script>
		</section>
	</section>
{% endblock %}