{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% import _self as forms %}
{% block content_body %}
	<section class="body_container">
		{% include 'MCoreBundle:Profile:menu_profil_details.html.twig' %}
		<div class="profil_details_centreinteret profil_details">
		<form method="post" {{ form_enctype(oForm) }} id="form_centre_interet">
			<div class="block_section no-extra-padmarg" >
				<p class="explication">
				Vous pouvez cocher autant de réponses que vous souhaitez parmi les suggestions proposées. En cliquant sur “Enregistrer mes modifications” au bas de la page, vos réponses permettront aux autres membres intéressés par votre profil d’en apprendre un peu plus sur votre personnalité et sur votre style de vie. 
			</p>
			</div>
			{% for form in aFormCentresInteret %}
				<div class="block_section{% if loop.index0 is odd %} colored gray{% endif %}">
					<h3><span class="circle"></span>{{ form.nom }} :</h3>
					<div class="block_center">
						{% for centre in form.donnees %}
							<div class="block_checkbox">
								<input type="checkbox" id="m_corebundle_usertype_Centresinteret_{{centre.id }}" name="m_corebundle_usertype[Centresinteret][]" value="{{centre.id}}" {% if centre.selected == 1 %}checked="checked"{% endif %}>
								<label for="m_corebundle_usertype_Centresinteret_{{centre.id}}">{{ centre.nom }}</label>
							</div>
						{% endfor %}
						<div class="centreinteret_extra">
							<label for="m_corebundle_usertype_Centresinteretcentre_{{form.categorie}}">{{ form.question }} :</label>
							<input type="text" class="m_corebundle_usertype_Centresinteretcentre_{{form.categorie}}"name="m_corebundle_usertype[Centresinteretautre][]" value="{{form.reponse}}">
							<p class="help">* Séparez vos artistes préféres par un point virgule.</p>
						</div>
					</div>
				</div>
			{% endfor %}	
			{{ form_widget(oForm._token) }}
		    <div class="footer">
				<input type="reset" value="Annuler mes modifications" class="button" >
				<input type="submit" value="Enregistrer mes modifications" class="button btn_submit_interet" >
			</div>
		</form>
				
		</div> 
	</section>
	<script>
		var sform_clean;
			var used_submit = 0;
			sform_clean = $("#form_centre_interet").serialize();  

				// Before we leave the page we now compare between the new form values and the orignal
				window.onbeforeunload = function (e) {
				    var sform_dirty = $("#form_centre_interet").serialize();
				    if(sform_clean != sform_dirty && used_submit ==0) {
				        return 'Vous allez quitter cette page sans enregistrer vos modifications.';
				    }
				};

			$(".btn_submit_interet").on('click',function(e)
			{

				used_submit = 1;
			});
	</script>
{% endblock %}