{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		<section class="stats compte">
			<h3>Mon Compte</h3>
			<form method="post" {{ form_enctype(oFormMail) }} id="form_mon_compte">
				<div class="block_section">
					<h4><span class="circle"></span>Mes Informations Personnelles :</h4>
					<div class="general">
						<span class="block username">
							<span class="title">Pseudo : </span>
							<span class="content ">{{ app.user.username|capitalize }}</span>
						</span>
						<span class="block pass">
							<span class="title">Mots de Passe :</span>
							<span class="content">&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;<a href="#" class="edit_pass">- modifier -</a></span>
						</span>
						<span class="block email">
							<span class="title">E-Mail :</span>
							<span class="content">{{ app.user.email }}</span>
						</span>
						<span class="block unsubscribe">
							<span class="title">Désinscription :</span>
							<span class="content">Pour vous désinscrire définitivement de notre site : <a href="#" class="desinscription"> - cliquez ici -</a></span>
						</span>
					</div>
				</div>
				<div class="block_section alert_mail colored gray">
					<h4 class="inline left_p"><span class="circle"></span>Gestion de mes alertes mail :</h4>
					<span class="inline">Les alertes mail vous sont envoyés lorsque vous êtes déconnecté(e) du site.</span>
					<div class="alerts_block">
						<span class="block">
							<span class="title">Messages :</span>
							<div class="content">
								<input type="checkbox" id="m_corebundle_Usertype_message" name="m_corebundle_usertype[message]" value="1" {% if app.user.alertemail['message']  is defined %}checked="checked"{% endif %}>
								<label for="m_corebundle_Usertype_message">Je souhaite être alerté à la réception d’un Message</label>
							</div>
						</span>
						<span class="block">
							<span class="title">Visites :</span>
							<div class="content">
								<input type="checkbox" id="m_corebundle_Usertype_visite" name="m_corebundle_usertype[visite]" value="1" {% if app.user.alertemail['visite']  is defined %}checked="checked"{% endif %}>
								<label for="m_corebundle_Usertype_visite">Je souhaite être alerté à la réception d’une Visite</label>
							</div>
						</span>
						<span class="block">
							<span class="title">Coups de Coeur :</span>
							<div class="content">
								<input type="checkbox" id="m_corebundle_Usertype_cpc" name="m_corebundle_usertype[cpc]" value="1" {% if app.user.alertemail['cpc']  is defined %}checked="checked"{% endif %}>
								<label for="m_corebundle_Usertype_cpc">Je souhaite être alerté à la réception d’un Coup de Coeur</label>
							</div>
						</span>
						<span class="block">
							<span class="title">Sorties :</span>
							<div class="content">
								<input type="checkbox" id="m_corebundle_Usertype_event" name="m_corebundle_usertype[event]" value="1" {% if app.user.alertemail['event']  is defined %}checked="checked"{% endif %}>
								<label for="m_corebundle_Usertype_event">Je souhaite être alerté 24h avant une Sortie inscrite dans mon Agenda</label>
							</div>
						</span>
						<span class="block">
							<span class="title">E-mails de notre site :</span>
							<div class="content">
								<input type="checkbox" id="m_corebundle_Usertype_mail" name="m_corebundle_usertype[mail]" value="1" {% if app.user.alertemail['mail']  is defined %}checked="checked"{% endif %}>
								<label for="m_corebundle_Usertype_mail">Je souhaite recevoir les informations de “Rencontres &amp; Vous</label>
							</div>
						</span>
					</div>
					{{ form_widget(oFormMail._token) }}
				</div>
				<div class="block_section bloques">
					<h4 class="inline left_p"><span class="circle"></span>Membres bloqués : </h4>
					<a href="{{ path('m_core_profile_bloques') }}" >- voir la liste des membres que j'ai bloqué -</a>
				</div>
				<div class="footer">
					<input type="reset" value="Annuler mes modifications" class="button" >
					<input type="submit" value="Enregistrer mes modifications" name="enregisteralerte" class="button btn_form_mon_compte" >
				</div>
			</form>
			<div class="hidden form_content_edit_pass">
				<form method="post" class="form_edit_pass" {{ form_enctype(oFormPassword) }}>
					<div class="block_field">	
		    			<span class="circle"></span>{{ form_label(oFormPassword.oldpassword) }}
		    			{{ form_widget(oFormPassword.oldpassword, {'attr' : {'pattern' : '^(?=.*?[A-Za-z])(?=.*?[0-9]).{8,20}$'}}) }}
		    		</div> 
					{% for oPassword in oFormPassword.password %}
						<div class="block_field">	
			    			<span class="circle"></span>{{ form_label(oPassword) }}
			    			{{ form_widget(oPassword, {'attr' : {'pattern' : '^(?=.*?[A-Za-z])(?=.*?[0-9]).{8,20}$'}}) }}
			    		</div> 
					{% endfor %}
					{{ form_rest(oFormPassword) }}
					<input type="submit" value="Enregistrer" name="changermdp" class="button" >
		  		</form>
			</div>




			<div class="hidden form_content_unsubscribe" {{ form_enctype(oFormUnsubcribe) }}>
				<form method="post" class="form_unsubscribe">
					<div class="block_field">	
		    			<span class="circle"></span>{{ form_label(oFormUnsubcribe.username) }}	{{ form_widget(oFormUnsubcribe.username) }}
		    		</div> 
		    		<div class="block_field">	
		    			<span class="circle"></span>{{ form_label(oFormUnsubcribe.password) }}	{{ form_widget(oFormUnsubcribe.password) }}
		    		</div> 
					<p class="notice">Merci de bien vouloir nous indiquer la raison de votre désinscription :</p>
					<div class="blocks">
						{% for oFormRaison in oFormUnsubcribe.raison %}	
							<div class="block_field block_checkbox">	
								{{ form_widget(oFormRaison) }}			
								{{ form_label(oFormRaison) }}			
							</div>
						{% endfor %}
					<div class="block_field block_checkbox">	
						{{ form_widget(oFormUnsubcribe.commentaire) }}
					</div>
					{{ form_widget(oFormUnsubcribe._token) }}
					<input type="submit" value="Je confirme vouloir me désincrire" class="button" >
		  		</form>
			</div>
		</section>
	</section>
	<script>
		$(document).on('click', '.compte a.edit_pass', function(e)
		{
			e.preventDefault();
			popUpCreate($(".form_content_edit_pass").html(), 'edit_pass', '{{ asset("bundles/mcore/images/") }}');
		});
		$(document).on('click', '.compte a.desinscription', function(e)
		{
			e.preventDefault();
			popUpCreate($(".form_content_unsubscribe").html(), 'unsubscribe', '{{ asset("bundles/mcore/images/") }}');
		});
		
		var sform_clean;
			var used_submit = 0;
			sform_clean = $("#form_mon_compte").serialize();  

				// Before we leave the page we now compare between the new form values and the orignal
				window.onbeforeunload = function (e) {
				    var sform_dirty = $("#form_mon_compte").serialize();
				    if(sform_clean != sform_dirty && used_submit ==0) {
				        return 'Vous allez quitter cette page sans enregistrer vos modifications.';
				    }
				};

			$(".btn_form_mon_compte").on('click',function(e)
			{

				used_submit = 1;
			});
	</script>
{% endblock %}