{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		<section class="resultat contacts">
			<h3>Mes contacts</h3>
			<div class="pagination header_pagination">
				<span class="nb_resultat">
					Vous avez <span class="nb">{{ iTotalResult }}{% if iTotalResult > 1 %} contacts{% else %} contact{% endif %}</span>
				</span>	
				{% include 'MCoreBundle:Profile:paginator.html.twig' %}
			</div>
			<form method="post" {{ form_enctype(oFormFiltre) }}>
				<div class="filters">
					<label class="central_label">Filtrer vos contacts :</label>
					{{ form_label(oFormFiltre.ageDebut) }}
					{{ form_widget(oFormFiltre.ageDebut, {'attr' : {'class':'ageDebut'}}) }}
					{{ form_label(oFormFiltre.ageFin) }}
					{{ form_widget(oFormFiltre.ageFin, {'attr' : {'class':'ageFin'}}) }}
					<span class="calibrate_word" style="margin-right: 20px;">ans</span>
					{{ form_label(oFormFiltre.ville) }}
					{{ form_widget(oFormFiltre.ville) }}
					{{ form_widget(oFormFiltre.EnLigne) }}
					{{ form_label(oFormFiltre.EnLigne) }}
					<input type="submit" value="OK" name="filtre" class="button little" />
				</div>
				<div class="letters colored gray">
					<div class="letters_container">
						{% for letter in 'a'|upper..'z'|upper %}
							<input type="submit" name="SelectAtoZ" class="{% if loop.last %}last {% endif %}{% if app.request.get('SelectAtoZ') and app.request.get('SelectAtoZ') == letter %}active{% endif %}" value="{{ letter }}">
						{% endfor %}
					</div>
				</div>
				{{ form_widget(oFormFiltre._token) }}	
			</form>
			{% if aResult|length == 0 %}
				<div class="not_found">
					<p>Vous n'avez aucun contact</p>
				</div>
			{% endif %}

			<ul class="list_users">
				{% for User in aResult %}
					<li class="users">
						<a href="{{ path('m_core_profile_voir', {'sUser': User.username}) }}" title="">
							<img alt="{{ app.user.prenom ~ ' ' ~ app.user.nom }}" src="{{ User.image }}" class="profil_image" />
						</a>
						<dl>
							<dd class="first">
								<a href="{{ path('m_core_profile_voir', {'sUser': User.username}) }}" title=""> 
									<span class="connectivite {% if User.enLigne %} enligne{% else %} horsligne{% endif %}"></span>
									{{ User.username|capitalize }}
								</a>
							</dd>
							<dd class="no-text-transform">{{ User.age }} ans</dd>
							<dd>{{ User.ville }}</dd>
							<dd>{{ User.signe }}</dd>
						</dl>
						<form method="post" {{ form_enctype(oFormContact) }}>
							<div class="coordonnees">
								<div class="block_field">
									<label for="m_corebundle_usertype_infocontact_{{User.username}}">GSM :</label>
									<input type="text" class="m_corebundle_usertype_infocontact_{{User.username}}"name="m_corebundle_usertype_infocontact[{{User.username}}][GSM]" value="{% if app.user.contact[User.id]['GSM'] is defined %}{{app.user.contact[User.id]['GSM']}}{% endif %}" pattern="\+{0,1}[0-9]{8,14}">
								</div>
								<div class="block_field">
									<label for="m_corebundle_usertype_infocontact_{{User.username}}">Fixe :</label>
									<input type="text" class="m_corebundle_usertype_infocontact_{{User.username}}"name="m_corebundle_usertype_infocontact[{{User.username}}][FIXE]" value="{% if app.user.contact[User.id]['FIXE'] is defined %}{{app.user.contact[User.id]['FIXE']}}{% endif %}" pattern="\+{0,1}[0-9]{8,14}">
								</div>
								<div class="block_field">
									<label for="m_corebundle_usertype_infocontact_{{User.username}}">E-mail :</label>
									<input type="email" class="m_corebundle_usertype_infocontact_{{User.username}}"name="m_corebundle_usertype_infocontact[{{User.username}}][EMAIL]" value="{% if app.user.contact[User.id]['EMAIL'] is defined %}{{app.user.contact[User.id]['EMAIL']}}{% endif %}">
								</div>
							</div>
							<div class="commentaire">
								<label for="m_corebundle_usertype_infocontact_{{User.username}}">Commentaire sur ce membre :</label>				
								<textarea id="m_corebundle_usertype_infocontact_{{User.username}}" name="m_corebundle_usertype_infocontact[{{User.username}}][Commentaire]"  class="textarea">{% if app.user.contact[User.id]['Commentaire'] is defined %}{{app.user.contact[User.id]['Commentaire']}}{% endif %}</textarea>
							</div>
							<input type="submit" value="Enregistrer" class="button" id="{{User.username|capitalize}}">
							{{ form_widget(oFormContact._token) }}	
						</form>	
						<div class="envoi_notif">
							<ul>
								<li class="first item1 chatter">
									<a href="#" title="{{ User.username|capitalize }}">
										<img src="{{ asset('bundles/mcore/images/item1.png') }}"><p>Demander en chat</p>
									</a>
								</li>
								<li class="item2 {% if is_granted('ROLE_USER') %}envoyer_message {% else %} redirectA {% endif %} ">
									<a href="{% if is_granted('ROLE_USER') %}#{% else %}{{ path('m_core_profile_abonnement') }}{% endif %}" title="{{ User.username|capitalize }}">
										<img src="{{ asset('bundles/mcore/images/item2.png') }}"><p>Envoyer un message</p>
									</a>
								</li>
								<li class="item3 coup_coeur">
									<a href="{{ path('m_core_profile_ajax_setNewContact') }}" title="{{ User.username|capitalize }}">
										<img src="{{ asset('bundles/mcore/images/delete.png') }}"><p>Supprimer ce contact</p>
									</a>
								</li>
							</ul>
						</div>
					</li>
				{% endfor %}
			</ul>
			<div class="pagination header_pagination">
				<span class="nb_resultat">
					Vous avez <span class="nb">{{ iTotalResult }}{% if aResult|length > 1 %} contacts{% else %} contact{% endif %}</span>
				</span>	
				{% include 'MCoreBundle:Profile:paginator.html.twig' %}
			</div>
			<script>
				// En cliquant sur le coup de coeur
				$(document).on('click', '.resultat li.users .envoi_notif li.item3 a', function(e)
				{
					e.preventDefault();
					// Sauvegarde de l'ajout actuel
					var $this = $(this);
					var confirm = window.confirm('Êtes-vous sûr de vouloir supprimer ce contact ?');
					if ( confirm ) 
					{
						ajaxMe(e, $this, "{{ path('m_core_profile_ajax_setNewContact') }}", "supprimer_contact", "{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}", "delete", function()
						{
						 	$this.parents('li').slideUp();
				    		var number_res = $(".nb_resultat .nb").text().split(" ");
				    		number_res = parseInt(number_res[0]) - 1;
				    		
				    		if ( number_res < 0 ) alert("Un problème est survenu");
				    		else if ( number_res === 1 || number_res === 0 ) $(".nb_resultat .nb").text(number_res + " contact");
				    		else if ( number_res > 1 ) $(".nb_resultat .nb").text(number_res + " contacts");
				    		
				    		popMeOnSuccess('Membre supprimé avec succés');
						});
					}

				});
				$(document).on('click', '.resultat li.users .envoi_notif li.item2.envoyer_message a', function(e)
				{
					e.preventDefault();
					popUpCreate($(this).attr('title'), 'envoyer_message', '{{ asset("bundles/mcore/images/") }}');
				});
			</script>
		</section>
	</section>
{% endblock %}
	
