{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		{% include 'MCoreBundle:Profile:menu_profil_details.html.twig' %}
		<div class="profil_details_photoprofil profil_details">
			<form method="POST" id="uploadData" >
				{# <input type="hidden" name="changesMade" class="changesMade" value="0" />
				<input type="hidden" name="profil_default_selected" class="profil_default_selected" value="0" /> #}
				<div class="bloc_photos">
					<ul>
						{% set iCount = 1 %}
						{% for iKey, oImageProfil in aImageProfil %}
							<li class="full {% if oImageProfil.profile_default == 1 %}default{% endif %}">
								<input id="upload{{ iCount }}" class="upload" type="file" name="upload{{ iCount }}" accept="image/*" multiple="">
								<span>
									<a class="photo" href="#">
										<img alt="{{ app.user.prenom ~ ' ' ~ app.user.nom }}" src="{{ oImageProfil.image }}" />
									</a>
									{% if oImageProfil.profile_default != 1 %}<a class="delete" href="#"> x </a>{% endif %}
								</span>
								{% if oImageProfil.profile_default == 1 %}
									<label for="profil_default{{ iCount }}" class="profil_default_label">Photo Principale*</label>
								{% else %}	
									{% if is_granted('ROLE_FREE') and oImageProfil.moderer == 0  %}	
										{% set phrase = "Attente de Validation" %}	
										{% set  disable = 'disabled="disabled"' %}	
									{% else %} 
										{% set phrase = "Photo de profil " ~ iCount %} 
										{% set  disable = '' %}	
									{% endif %}
									<input type="radio" name="profil_default" class="profil_default" id="profil_default{{ oImageProfil.id }}" {{disable}} value="{{ oImageProfil.id }}" />
								
									<label for="profil_default{{ oImageProfil.id }}" class="profil_default_label"> {{phrase}} </label>
								{% endif %}
							</li>
							<input type="hidden" name="DOC_{{ oImageProfil.id }}" class="DOC" value="{{ oImageProfil.image }}" />
							{% set iCount = iCount + 1 %}
						{% endfor %}
						{% if aImageProfil|length < 4 %}
							{% for iKey in 3..aImageProfil|length %}
							    <li class="empty">
									<input id="upload{{ iCount }}" class="upload" type="file" name="upload{{ iCount }}" accept="image/*" multiple="">
									<span>
										<a class="photo" href="#">
											<span class="loader"></span>
											<span class="add">
												<span class="plus">+</span>
												<p>Ajouter une photo</p>
											</span>
										</a>
									</span>
									<input type="radio" name="profil_default" class="profil_default" id="profil_default{{ iCount }}" value="upload{{ iCount }}" disabled="disabled" />
									<label for="profil_default{{ iCount }}" class="profil_default_label">Photo de profil {{ iCount }}</label>
								</li>
								<input type="hidden" name="ADD_upload{{ iCount }}" class="ADD_upload{{ iCount }}" />
								{% set iCount = iCount + 1 %}
							{% endfor %}
						{% endif %}
					</ul>	
				</div>
				<div class="changer_profil">
					<h4>Changer votre photo principale :</h4>
					<p>Sélectionnez une des photos de votre profil en cochant la case en dessous puis cliquez sur le bouton suivant :</p>
					<input type="submit" name="profil_default_submit" value="Définir photo principale" class="button changer_profil_submit" >
					<p>Pour supprimer une photo de votre profil, cliquez sur la croix en haut à droite de la photo.</p>
				</div>
				<div class="description">
					<h4>Bien choisir votre photo de profil :</h4>
					<p>Vos photos de profil sont la première impression que vous renvoyer aux autres membres. Choisissez des photos qui vous mettent en valeur et qui vous représentent au mieux. Les membres qui choisissent leurs photos de profil avec soins attirent plus l'attention des autres membres du site.</p>
					<a href="{{asset(roots.documents.Photos)}}" target="_blank">Voir les conditions d'utilisation de mes photos</a>
				</div>
				<div class="footer">
					<input type="reset" value="Annuler mes modifications" class="button refresh" >
					<input type="submit" name="send_pictures" value="Enregistrer mes modifications" class="button send_pictures" >
					<p>* Une photo principale est obligatoire.</p>
				</div>
			</form>
		</div>
	</section>
	<script>
		$(document).ready(function(){

			var sform_clean;
			var used_submit = 0;
			sform_clean = $("#uploadData").serialize();  

				// Before we leave the page we now compare between the new form values and the orignal
				window.onbeforeunload = function (e) {
				    var sform_dirty = $("#uploadData").serialize();
				    if(sform_clean != sform_dirty && used_submit ==0) {
				        return 'Vous allez quitter cette page sans enregistrer vos modifications.';
				    }
				};

			$(".send_pictures, .changer_profil_submit").on('click',function(e)
			{

				used_submit = 1;
			});
				
			$(document).on('click', '.changer_profil_submit', function(e){
				$bChanged = false;
				if ( $('.profil_default:checked').length === 0 )
				{
					$aError = Array();
					$aError[0] = 'Photo de profil';
					$aError[1] = 'Veuillez selectionnez une photo de profil avant de ne poursuivre.';
					popMeOnError($aError);
					
					e.preventDefault();
					return false;
				}
			});
			$(document).on('submit', '#uploadData', function(e){
				$bChanged = false;
				return true;
			});
		});
	</script>
{% endblock %}