{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
	
	<form method="post" {{ form_enctype(oForm) }}>
			
		{{ form_widget(oForm) }}

		<input type="submit" value="Enregistrer" class="button" >
	

	</form>
	
	</section>
{% endblock %}