{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		<section class="mon_profil">
			<h3>Mon profil</h3>
			{% for oImage in aImage %}
				{% if oImage['profile_default'] == 1 %}
					<a rel="profil_images" href="{{ oImage.image }}" class="fancyBox">
						<img alt="{{ app.user.prenom ~ ' ' ~ app.user.nom }}" src="{{ oImage.image }}" />
					</a>
				{% endif %}
			{% endfor %}
			<dl>
				<dt class="first">Pseudo : </dt> <dd class="first"><a href="#" title="">{{ app.user.username|capitalize }}</a> </dd>
				<dt>Age :	</dt> <dd class="no-text-transform">{{ app.user.age }} ans  </dd>
				<dt>Ville :	</dt> <dd>{{ app.user.ville.nom }}</dd>
				<dt>Signe :	</dt> <dd>{{ app.user.signe }}    </dd>
			</dl>
			<ul>
				{% set iCount = 0 %}
				{% for oImage in aImage %}
					{% if oImage['profile_default'] == 0 %}
						{% set iCount = iCount + 1 %}
						<li>
							<a rel="profil_images" href="{{ oImage.image }}" class="fancyBox">
								<img alt="{{ app.user.prenom ~ ' ' ~ app.user.nom }}" src="{{ oImage.image }}" />
							</a>
						</li>
					{% endif %}
				{% endfor %}
				{% if app.user.sexe == 0 %}
					{% set image_inconnu = 'bundles/mcore/images/profil_detail_photo_inconnu_homme.jpg' %}
				{% else %}
					{% set image_inconnu = 'bundles/mcore/images/profil_detail_photo_inconnu_femme.jpg' %}
				{% endif %}
				{% if iCount < 3 %}
					{% for item in 2..iCount %}
					    <li>
							<a rel="profil_images" href="{{ asset(image_inconnu) }}" class="fancyBox inconnu">
								<img alt="{{ app.user.prenom ~ ' ' ~ app.user.nom }}" src="{{ asset(image_inconnu) }}" />
							</a>
						</li>
					{% endfor %}
				{% endif %}
			</ul>
		</section>
		<section class="recherche_rapide">
			<h3>Recherche rapide</h3>
			<form method="POST" action="{{url('m_core_profile_recherche')}}" accept-charset="utf-8" {{ form_enctype(oForm) }}>
				<div class="block_line">
					{{ form_label(oForm.ageDebut) }}
		    		{{ form_widget(oForm.ageDebut, {'attr' : {'class' : 'age_debut ageDebut'}}) }}

		    		{{ form_label(oForm.ageFin) }}
		    		{{ form_widget(oForm.ageFin, {'attr' : {'class' : 'age_fin ageFin'}}) }}
		    		&nbsp;&nbsp;&nbsp;&nbsp;ans
				</div>
	    		<div class="block_line">
	    			{{ form_label(oForm.ville) }}
	    			{{ form_widget(oForm.ville) }}
	    		</div>
	    		<div class="block_line">
	    			{{ form_label(oForm.username) }}
	    			{{ form_widget(oForm.username, {'attr' : {'class' : 'username'}}) }}
	    		</div>
	    		<div class="block_line">
	    			{{ form_label(oForm.EnLigne) }}
	    			{{ form_widget(oForm.EnLigne) }}
	    		</div>
	    		{{ form_rest(oForm) }}
	    		<input type="submit" value="Lancer la recherche" name="rechercher" class="btn btn-primary button" />
			</form>
		</section>
		<section class="a_laffiche">
			<h3>A l'affiche</h3>
			<a href="{{ aInfoAdmin.lienaffiche }}" >
			<img src="{{ aInfoAdmin.image }}" alt="">
			</a>
		</section>
		<section class="suggestions_profil">
			<h3>Suggestions de profils <a href="#" title="Actualiser" class="refresh_suggestions tooltip"></a></h3>
			{# <div class="sky-carousel">
				<div class="sky-carousel-wrapper">
					<ul class="sky-carousel-container">
						
					</ul>
				</div>
			</div> #}
			<div class="hidden TempSuggest">
				<ul>
					{% for User in aSuggest %}			
						<li>
							<a href="{{ path('m_core_profile_voir', {'sUser': User.username}) }}" title="{{ User.username|capitalize }}">
								<img alt="" src="{{ User.image }}" />
							</a>
							<div class="sc-content">
								<h2>
									<a href="{{ path('m_core_profile_voir', {'sUser': User.username}) }}" title=""><span class="connectivite {% if User.enLigne %} enligne{% else %} horsligne{% endif %}"></span>{{ User.username|capitalize ~ "-" ~ User.age }} ans
									</a>
								</h2>
								<p>{{ User.ville }}</p>
							</div>	

						</li>
					{% endfor %}
				</ul>
			</div>
			
		</section>
		<section class="events-actus">

			<h3>Sorties / Actus</h3>

			<ul>
				{% for Contenu in aSortieActus %}
				<li>
					<a href="{% if is_granted('ROLE_USER') %}{% if Contenu.type  == 1 %} {{ path('m_core_profile_evenement', {'sTitre' : Contenu.link  }) }}{% else %} {{ path('m_core_profile_actualite', {'sTitre' : Contenu.link  }) }}{% endif %}{% else %}{{ path('m_core_profile_abonnement') }}{% endif %} " title="" class="{% if is_granted('ROLE_FREE') %}redirectA {% endif %}" >
						<img src="{{Contenu.image}}" alt="" />
						<h5><b style="font-weight:bold;">
							{% if Contenu.titre|length > 20 %}{{ Contenu.titre|slice(0, 20) ~ '...' }}{% else %}{{Contenu.titre}}{% endif %}
						</b></h5>
						<p>{{Contenu.date}}</p>
						<p>{% if Contenu.type  == 1 %} {{Contenu.ville}} {% else %} Posté le {{Contenu.publication}}  {% endif %}</p>
					</a>
				</li>
				{% endfor %}
			</ul>

			<h3 class="title_bottom"><a href="{{ path('m_core_profile_eventsactus') }}">Voir toutes les Sorties / Actus</a></h3>

		</section>
	</section>
	<script>
		$(document).ready(function(){
			refreshSuggestUsers();
		});
	</script>
{% endblock %}