{% extends 'MCoreBundle::layout.html.twig' %}
{% block body %}
	{% include 'MCoreBundle:Profile:menu.html.twig' %}
	{% include 'MCoreBundle:Profile:menu_notification.html.twig' %}
	{% block content %}
		<div class="content_container">
			<div class="content">
				{% set root = app.request.attributes.get('_route') %}
				{% if  root != 'm_core_profile_abonnement' and root != 'm_core_profile_abonnement_coordonnes' and root != 'm_core_profile_abonnement_recap' %}
					{% block content_chat %}
						<section class="chat_container">
							<div class="chat">
								{% set demandesChat = app.user.id|fetchCountDemandeChat %}
								<h3{% if demandesChat > 0 %} class="new"{% endif %}><p>Demande(s) de tchat <span>{{ demandesChat }}</span></p></h3>
								<div class="chat_menu">
									<ul>
										<li class="enligne_chat status"><a href="#" title="">En ligne</a></li>
										<li class="mescontacts_chat"><a href="#" title="">Mes contacts</a></li>
										<li class="filtre_chat"><a href="#" title="">Filtres</a></li>
										<li class="text-indent chat_refresh tooltip" title="Actualiser"><a href="#" title="">Refresh</a></li>
									</ul>
								</div>
								<div class="filtre_box">
									<form action="#" method="POST" >
										<div class="line">
											<label for="filtre_ageDebut" >Age entre :</label>
											<select id="filtre_ageDebut" name="filtre_ageDebut" class="little_select ageDebut" >
												<option value=""></option>
												{% for iKey in 18..80 %}
													<option value="{{ iKey }}">{{ iKey }}</option>
												{% endfor %}
											</select>
											<label for="filtre_ageFin" >et </label>
											<select id="filtre_ageFin" name="filtre_ageFin" class="little_select ageFin">
												<option value=""></option>
												{% for iKey in 18..80 %}
													<option value="{{ iKey }}">{{ iKey }}</option>
												{% endfor %}
											</select>
										</div>
										<div class="line ville">
											<label for="filtre_ville" >Ville :</label>
											<select id="filtre_ville" name="filtre_ville" >
												<option value="">Sélectionnez</option>
												<option value="322">Afourar</option>
												<option value="267">Agadir</option>
												<option value="268">Agdz</option>
												<option value="323">Aghbala</option>
												<option value="269">Agni Izimmer</option>
												<option value="152">Agourai</option>
												<option value="205">Ahfir</option>
												<option value="208">Aïn Bni Mathar</option>
												<option value="59">Aïn Cheggag</option>
												<option value="75">Aïn Dorij</option>
												<option value="254">Ain El Aouda</option>
												<option value="209">Aïn Erreggada</option>
												<option value="1">Aïn Harrouda</option>
												<option value="160">Aïn Jemaa</option>
												<option value="161">Aïn Karma</option>
												<option value="162">Aïn Leuh</option>
												<option value="153">Ain Taoujdate</option>
												<option value="276">Aït Baha</option>
												<option value="163">Aït Boubidmane</option>
												<option value="104">Ait Daoud</option>
												<option value="375">Aït Hichem‎</option>
												<option value="277">Aït Iaâza</option>
												<option value="164">Aït Ishaq</option>
												<option value="325">Aït Majden</option>
												<option value="270">Aït Melloul</option>
												<option value="117">Aït Ourir</option>
												<option value="278">Aït Yalla</option>
												<option value="372">Ajdir‎</option>
												<option value="347">Akchour</option>
												<option value="91">Akka</option>
												<option value="206">Aklim</option>
												<option value="373">Aknoul‎</option>
												<option value="207">Al Aroui</option>
												<option value="374">Al Hoceïma‎</option>
												<option value="271">Alnif</option>
												<option value="156">Amalou Ighriben</option>
												<option value="115">Amizmiz</option>
												<option value="272">Anzi</option>
												<option value="157">Aoufous</option>
												<option value="273">Aoulouz</option>
												<option value="274">Aourir</option>
												<option value="275">Arazane</option>
												<option value="74">Arbaoua</option>
												<option value="158">Arfoud</option>
												<option value="92">Assa</option>
												<option value="116">Assahrij</option>
												<option value="348">Assilah</option>
												<option value="401">Awsard</option>
												<option value="33">Azemmour</option>
												<option value="324">Azilal</option>
												<option value="159">Azrou</option>
												<option value="349">Bab Berred</option>
												<option value="350">Bab Taza</option>
												<option value="9">Bejaâd</option>
												<option value="10">Ben Ahmed</option>
												<option value="118">Ben Guerir</option>
												<option value="279">Ben Sergao</option>
												<option value="210">Ben Taïeb</option>
												<option value="2">Ben Yakhlef</option>
												<option value="8">Ben Yakhlef</option>
												<option value="326">Beni Ayat</option>
												<option value="327">Béni Mellal</option>
												<option value="11">Benslimane</option>
												<option value="211">Berkane</option>
												<option value="12">Berrechid</option>
												<option value="60">Bhalil</option>
												<option value="328">Bin elouidane</option>
												<option value="280">Biougra</option>
												<option value="34">Bir Jdid</option>
												<option value="212">Bni Ansar</option>
												<option value="376">Bni Bouayach‎</option>
												<option value="213">Bni Chiker</option>
												<option value="214">Bni Drar</option>
												<option value="377">Bni Hadifa‎</option>
												<option value="215">Bni Tadjite</option>
												<option value="216">Bouanane</option>
												<option value="217">Bouarfa</option>
												<option value="165">Boudnib</option>
												<option value="166">Boufakrane</option>
												<option value="35">Bouguedra</option>
												<option value="218">Bouhdila</option>
												<option value="93">Bouizakarne</option>
												<option value="400">Boujdour‎</option>
												<option value="13">Boujniba</option>
												<option value="14">Boulanouare</option>
												<option value="61">Boulemane</option>
												<option value="281">Boumalne-Dadès</option>
												<option value="167">Boumia</option>
												<option value="3">Bouskoura</option>
												<option value="15">Bouznika</option>
												<option value="329">Bradia</option>
												<option value="351">Brikcha</option>
												<option value="330">Bzou</option>
												<option value="4">Casablanca</option>
												<option value="352">Chefchaouen</option>
												<option value="119">Chichaoua</option>
												<option value="353">Dar Bni Karrich</option>
												<option value="354">Dar Chaoui</option>
												<option value="219">Dar El Kebdani</option>
												<option value="76">Dar Gueddari</option>
												<option value="331">Dar Oulad Zidouh</option>
												<option value="282">Dcheira El Jihadia</option>
												<option value="220">Debdou</option>
												<option value="332">Demnate</option>
												<option value="16">Deroua</option>
												<option value="221">Douar Kannine</option>
												<option value="333">Dra'a</option>
												<option value="283">Drargua</option>
												<option value="222">Driouch</option>
												<option value="36">Echemmaia</option>
												<option value="223">El Aïoun Sidi Mellouk</option>
												<option value="17">El Borouj</option>
												<option value="18">El Gara</option>
												<option value="284">El Guerdane</option>
												<option value="168">El Hajeb</option>
												<option value="120">El Hanchane</option>
												<option value="37">El Jadida</option>
												<option value="121">El Kelaâ des Sraghna</option>
												<option value="334">El Ksiba</option>
												<option value="398">El Marsa‎</option>
												<option value="62">El Menzel</option>
												<option value="94">El Ouatia</option>
												<option value="169">Elkbab</option>
												<option value="170">Er-Rich</option>
												<option value="171">Errachidia</option>
												<option value="95">Es-Semara</option>
												<option value="122">Essaouira</option>
												<option value="96">Fam El Hisn</option>
												<option value="224">Farkhana</option>
												<option value="58">Fès</option>
												<option value="225">Figuig</option>
												<option value="355">Fnideq</option>
												<option value="335">Foum Jamaa</option>
												<option value="97">Foum Zguid</option>
												<option value="336">Fquih Ben Salah</option>
												<option value="123">Fraïta</option>
												<option value="172">Gardmit</option>
												<option value="378">Ghafsai‎</option>
												<option value="124">Ghmate</option>
												<option value="173">Goulmima</option>
												<option value="174">Gourrama</option>
												<option value="98">Guelmim</option>
												<option value="379">Guercif‎</option>
												<option value="356">Gueznaia</option>
												<option value="63">Guigou</option>
												<option value="19">Guisser</option>
												<option value="175">Had Bouhssoussen</option>
												<option value="77">Had Kourt</option>
												<option value="176">Haj Kaddour</option>
												<option value="255">Harhoura</option>
												<option value="285">Harte Lyamine</option>
												<option value="20">Hattane</option>
												<option value="38">Hrara</option>
												<option value="286">Ida Ougnidif</option>
												<option value="177">Ifrane</option>
												<option value="287">Ifri</option>
												<option value="288">Igdamen</option>
												<option value="289">Ighil n'Oumgoun</option>
												<option value="39">Ighoud</option>
												<option value="125">Ighounane</option>
												<option value="226">Ihddaden</option>
												<option value="290">Imassine</option>
												<option value="126">Imintanoute</option>
												<option value="64">Imouzzer Kandar</option>
												<option value="65">Imouzzer Marmoucha</option>
												<option value="380">Imzouren‎</option>
												<option value="381">Inahnahen‎</option>
												<option value="291">Inezgane</option>
												<option value="292">Irherm</option>
												<option value="382">Issaguen (Ketama)‎</option>
												<option value="178">Itzer</option>
												<option value="227">Jaâdar</option>
												<option value="40">Jamâat Shaim</option>
												<option value="357">Jebha</option>
												<option value="228">Jerada</option>
												<option value="179">Jorf</option>
												<option value="78">Jorf El Melha</option>
												<option value="41">Jorf Lasfar</option>
												<option value="358">Karia</option>
												<option value="383">Karia (El Jadida)‎</option>
												<option value="384">Karia Ba Mohamed‎</option>
												<option value="229">Kariat Arekmane</option>
												<option value="337">Kasba Tadla</option>
												<option value="230">Kassita</option>
												<option value="127">Kattara</option>
												<option value="180">Kehf Nsour</option>
												<option value="293">Kelaat-M'Gouna</option>
												<option value="79">Kénitra</option>
												<option value="231">Kerouna</option>
												<option value="181">Kerrouchen</option>
												<option value="359">Khémis Sahel</option>
												<option value="42">Khemis Zemamra</option>
												<option value="256">Khémisset</option>
												<option value="80">Khenichet</option>
												<option value="151">Khénifra</option>
												<option value="21">Khouribga</option>
												<option value="360">Ksar El Kébir</option>
												<option value="43">Laaounate</option>
												<option value="232">Laâtamna</option>
												<option value="130">Lâattaouia</option>
												<option value="397">Laayoune‎</option>
												<option value="294">Lakhsas</option>
												<option value="295">Lakhsass</option>
												<option value="81">Lalla Mimouna</option>
												<option value="128">Lalla Takerkoust</option>
												<option value="361">Larache</option>
												<option value="129">Loudaya</option>
												<option value="22">Loulad</option>
												<option value="296">Lqliâa</option>
												<option value="362">M'diq</option>
												<option value="182">M'haya</option>
												<option value="183">M'rirt</option>
												<option value="297">M'semrir</option>
												<option value="233">Madagh</option>
												<option value="103">Marrakech</option>
												<option value="363">Martil</option>
												<option value="298">Massa (Maroc)</option>
												<option value="82">Mechra Bel Ksiri</option>
												<option value="5">Médiouna</option>
												<option value="299">Megousse</option>
												<option value="83">Mehdia</option>
												<option value="150">Meknès‎</option>
												<option value="234">Midar</option>
												<option value="184">Midelt</option>
												<option value="66">Missour</option>
												<option value="6">Mohammédia</option>
												<option value="364">Moqrisset</option>
												<option value="44">Moulay Abdallah</option>
												<option value="185">Moulay Ali Cherif</option>
												<option value="186">Moulay Bouazza</option>
												<option value="84">Moulay Bousselham</option>
												<option value="131">Moulay Brahim</option>
												<option value="187">Moulay Idriss Zerhoun</option>
												<option value="67">Moulay Yaâcoub</option>
												<option value="188">Moussaoua</option>
												<option value="154">MyAliCherif</option>
												<option value="132">Mzouda</option>
												<option value="189">N'Zalat Bni Amar</option>
												<option value="235">Nador</option>
												<option value="236">Naima</option>
												<option value="45">Oualidia</option>
												<option value="338">Ouaouizeght</option>
												<option value="190">Ouaoumana</option>
												<option value="300">Ouarzazate</option>
												<option value="385">Oued Amlil‎</option>
												<option value="237">Oued Heimer</option>
												<option value="191">Oued Ifrane</option>
												<option value="365">Oued Laou</option>
												<option value="366">Oued Rmel</option>
												<option value="23">Oued Zem</option>
												<option value="402">Oued-Eddahab </option>
												<option value="367">Ouezzane</option>
												<option value="238">Oujda</option>
												<option value="24">Oulad Abbou</option>
												<option value="46">Oulad Amrane</option>
												<option value="339">Oulad Ayad</option>
												<option value="301">Oulad Berhil</option>
												<option value="47">Oulad Frej</option>
												<option value="48">Oulad Ghadbane</option>
												<option value="25">Oulad H'Riz Sahel</option>
												<option value="340">Oulad M'Barek</option>
												<option value="26">Oulad M'rah</option>
												<option value="27">Oulad Saïd</option>
												<option value="28">Oulad Sidi Ben Daoud</option>
												<option value="302">Oulad Teïma</option>
												<option value="341">Oulad Yaich</option>
												<option value="386">Oulad Zbair‎</option>
												<option value="68">Ouled Tayeb</option>
												<option value="257">Oulmès</option>
												<option value="133">Ounagha</option>
												<option value="69">Outat El Haj</option>
												<option value="368">Point Cires</option>
												<option value="252">Rabat</option>
												<option value="29">Ras El Aïn</option>
												<option value="239">Ras El Ma</option>
												<option value="70">Ribate El Kheir</option>
												<option value="155">Rissani</option>
												<option value="258">Rommani</option>
												<option value="192">Sabaa Aiyoun</option>
												<option value="49">Safi</option>
												<option value="240">Saïdia</option>
												<option value="253">Salé</option>
												<option value="303">Sarghine</option>
												<option value="50">Sebt El Maârif</option>
												<option value="51">Sebt Gzoula</option>
												<option value="193">Sebt Jahjouh</option>
												<option value="71">Séfrou</option>
												<option value="241">Selouane</option>
												<option value="30">Settat</option>
												<option value="134">Sid L'Mokhtar</option>
												<option value="135">Sid Zouin</option>
												<option value="136">Sidi Abdallah Ghiat</option>
												<option value="194">Sidi Addi</option>
												<option value="52">Sidi Ahmed</option>
												<option value="53">Sidi Ali Ban Hamdouche</option>
												<option value="259">Sidi Allal El Bahraoui</option>
												<option value="85">Sidi Allal Tazi</option>
												<option value="54">Sidi Bennour</option>
												<option value="137">Sidi Bou Othmane</option>
												<option value="242">Sidi Boubker</option>
												<option value="260">Sidi Bouknadel</option>
												<option value="55">Sidi Bouzid</option>
												<option value="304">Sidi Ifni</option>
												<option value="342">Sidi Jaber</option>
												<option value="86">Sidi Kacem</option>
												<option value="369">Sidi Lyamani</option>
												<option value="370">Sidi Mohamed ben Abdallah el-Raisuni</option>
												<option value="138">Sidi Rahhal</option>
												<option value="31">Sidi Rahhal Chataï</option>
												<option value="87">Sidi Slimane</option>
												<option value="243">Sidi Slimane Echcharaa</option>
												<option value="56">Sidi Smaïl</option>
												<option value="88">Sidi Taibi</option>
												<option value="89">Sidi Yahya El Gharb</option>
												<option value="72">Skhinate</option>
												<option value="261">Skhirat</option>
												<option value="139">Skhour Rehamna</option>
												<option value="305">Skoura</option>
												<option value="140">Smimou</option>
												<option value="32">Soualem</option>
												<option value="90">Souk El Arbaa</option>
												<option value="343">Souk Sebt Oulad Nemma</option>
												<option value="306">Tabounte</option>
												<option value="73">Tafajight</option>
												<option value="141">Tafetachte</option>
												<option value="307">Tafraout</option>
												<option value="99">Taghjijt</option>
												<option value="308">Taghzout</option>
												<option value="309">Tagzen</option>
												<option value="142">Tahannaout</option>
												<option value="387">Tahla‎</option>
												<option value="393">Taïnaste‎</option>
												<option value="388">Tala Tazegwaght‎</option>
												<option value="310">Taliouine</option>
												<option value="143">Talmest</option>
												<option value="244">Talsint</option>
												<option value="144">Tamallalt</option>
												<option value="145">Tamanar</option>
												<option value="146">Tamansourt</option>
												<option value="389">Tamassint‎</option>
												<option value="311">Tamegroute</option>
												<option value="147">Tameslouht</option>
												<option value="262">Tamesna</option>
												<option value="312">Tamraght</option>
												<option value="100">Tan-Tan</option>
												<option value="148">Tanalt</option>
												<option value="345">Tanger‎</option>
												<option value="313">Tanoumrite Nkob Zagora</option>
												<option value="390">Taounate‎</option>
												<option value="245">Taourirt</option>
												<option value="314">Taourirt ait zaghar</option>
												<option value="399">Tarfaya‎</option>
												<option value="391">Targuist‎</option>
												<option value="315">Taroudant</option>
												<option value="101">Tata</option>
												<option value="392">Taza‎</option>
												<option value="263">Témara</option>
												<option value="316">Temsia</option>
												<option value="246">Tendrara</option>
												<option value="346">Tétouan‎</option>
												<option value="394">Thar Es-Souk‎</option>
												<option value="195">Tichoute</option>
												<option value="264">Tiddas</option>
												<option value="265">Tiflet</option>
												<option value="317">Tifnit</option>
												<option value="196">Tighassaline</option>
												<option value="197">Tighza</option>
												<option value="198">Timahdite</option>
												<option value="199">Tinejdad</option>
												<option value="318">Tisgdal</option>
												<option value="395">Tissa‎</option>
												<option value="7">Tit Mellil</option>
												<option value="200">Tizguite</option>
												<option value="396">Tizi Ouasli‎</option>
												<option value="319">Tiznit</option>
												<option value="247">Tiztoutine</option>
												<option value="266">Touarga</option>
												<option value="248">Touima</option>
												<option value="249">Touissit</option>
												<option value="201">Toulal</option>
												<option value="320">Toundoute</option>
												<option value="202">Tounfite</option>
												<option value="57">Youssoufia</option>
												<option value="102">Zag</option>
												<option value="321">Zagora</option>
												<option value="204">Zaïda</option>
												<option value="250">Zaïo</option>
												<option value="203">Zaouia d'Ifrane</option>
												<option value="344">Zaouïat Cheikh</option>
												<option value="251">Zeghanghane</option>
												<option value="149">Zeubelemok</option>
												<option value="371">Zinat</option>
											</select>
											<button class="filtrer_button button" >Filtrer</button>
										</div>
									</form>
								</div>
								<div class="chat_content">
									<div class="overlay_chat hide">
										<img src='{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}' class='preloader'/>
									</div>
									<ul>
										{% for iKey, User in app.user.id|onlineUsers %}
											<li class="membres_enligne">
												<a href="{{ path('m_core_profile_voir', {'sUser': User.username }) }}"  >
													<img src="{{ User.image }}" alt="{{ User.username|capitalize }}">
													<span class="username">{{ User.username|capitalize }}</span> - {{ User.age }} ans 
													<span class="ville">{{ User.ville }}</span>
												</a>
												<a href="#talkTo" rel='{ "iSenderID":"{{ User.idEncoded }}", "sSenderTocken":"{{ User.salt }}", "username":"{{ User.username|capitalize }}", "ville":"{{ User.ville }}", "age":"{{ User.age }}", "alreadyInContact":"{% if app.user.contact[User.id] is defined %}yes{% else %}no{% endif %}" }' title="Discuter avec {{ User.username|capitalize }}" class="text-indent talk_to tooltip">Talk to</a>
											</li>
										{% endfor %}
									</ul>
								</div>
								<div class="chat_search">
									<form action="#" method="POST" accept-charset="utf-8">
										<label for="Recherche_chat">Recherche :</label>
										<input type="text" name="chat_search" id="Recherche_chat" />
									</form>
								</div>
							</div>
						</section>
					{% endblock %}
				{% endif %}
				{% block content_body %}{% endblock %}


				<div class="chatbox_container">
		            <ul class="chatbox_list">
		            	<li class="regroupement_container">
		            		<div class="regroupement">
				            	<p class="nb_conversation">0</p>
				            	<ul>
				            	</ul>
				            </div>
		            	</li>
		            </ul>
		        </div>
		        <div class="hidden signaler_content">
					<h3>Signaler <span class="username_signaler">{{ app.request.get("suser") }}</span><span class='close_popup' >X</span></h3>
					<div class='corps signaler_membre' >
						<p>Vous souhaitez signaler ce membre à l'équipe de modération de "Rencontres &amp; Vous". Merci de bien vouloir nous indiquer la raison de votre signalement dans l'espace de commentaire suivant :</p>
						<textarea class='ecrire_message_signaler'></textarea>
						<button class='close_popup button'>Annuler</button>
						<button class='button envoyer_message_bouton'>Envoyer</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
$(document).ready(function(){
	$("nav.profil_details_menu ul li a").css("font-family","Arial");
})

</script>
	{% endblock %}
{% endblock %}
