{% set root = app.request.attributes.get('_route') %}
<nav class="profil_details_menu" role="navigation" >
	<ul>
		<li {% if root == 'm_core_profile_details' %}class="active"{% endif %}>
			<a href="{{ path('m_core_profile_details') }}" title="">Photos de profil</a>
		</li>
		<li {% if root == 'm_core_profile_apropos' %}class="active"{% endif %}>
			<a href="{{ path('m_core_profile_apropos') }}" title="">A propos</a>
		</li>
		<li {% if root == 'm_core_profile_centresinteret' %}class="active"{% endif %}>
			<a href="{{ path('m_core_profile_centresinteret') }}" title="">Centres d'intérêt</a>
		</li>
		<li {% if root == 'm_core_profile_questionnaire' %}class="active"{% endif %}>
			<a href="{{ path('m_core_profile_questionnaire') }}" title="">Questionnaire</a>
		</li>
		<li {% if root == 'm_core_profile_profilideal' %}class="active"{% endif %}>
			<a href="{{ path('m_core_profile_profilideal') }}" title="">Profil idéal</a>
		</li>
		<li class="{% if root == 'm_core_profile_album' %} active {% endif %}{% if is_granted('ROLE_FREE') %} redirectA {% endif %}">
			<a href="{% if is_granted('ROLE_USER') %}{{ path('m_core_profile_album') }}{% else %}{{ path('m_core_profile_abonnement') }}{% endif %}" title="">Album perso</a>
		</li>
	</ul>
</nav>