{% set root = app.request.attributes.get('_route') %}
<nav class="profil_menu menu" role="navigation" >
	<ul>
		<li {% if root == 'm_core_profile' %}class="active"{% endif %}>
			<a href="{{ path('m_core_profile') }}" title="">Accueil</a>
		</li>
		<li {% if 'dashboard/details' in path(root) %}class="active"{% endif %}>
			<a href="{{ path('m_core_profile_details') }}" title="">Mon Profil</a>
		</li>
		<li {% if root == 'm_core_profile_recherche' %}class="active"{% endif %}>
			<a href="{{ path('m_core_profile_recherche') }}" title="">Recherche</a>
		</li>
		<li {% if root == 'm_core_profile_contacts' %}class="active"{% endif %}>
			<a href="{{ path('m_core_profile_contacts') }}" title="">Mes contacts</a>
		</li>
		<li {% if root == 'm_core_profile_agenda' %}class="active"{% endif %}>
			<a href="{{ path('m_core_profile_agenda') }}" title="">Mon agenda</a>
		</li>
		<li {% if root == 'm_core_profile_events' %}class="active"{% endif %}>
			<a href="{{ path('m_core_profile_eventsactus') }}" title="">Sorties</a>
		</li>
		<li class="last{% if root == 'm_core_profile_stats' %} active{% endif %}">
			<a href="{{ path('m_core_profile_stats') }}" title="">Mes Stats</a>
		</li>
	</ul>
</nav>
