{% 	set root = app.request.attributes.get('_route') %}
{% 	set aNotification = MenuNotification.getNotification %}
<nav class="profil_menu_notification" >
	<ul>
		 <li {% if 'messages/' in path(root) %}class="active"{% endif %}>
			<a href="{{ path('m_core_profile_messages_recus') }}" title="">Messages 
				<span class="{% if aNotification.Messages == 0%}null{% endif %}">{{aNotification.Messages}}</span>
			</a>
		</li>
		<li {% if root == 'm_core_profile_visites' %}class="active"{% endif %}>
			<a href="{{ path('m_core_profile_visites') }}" title="">Visites 
				<span class="{% if aNotification.Visites == 0%}null{% endif %}">{{aNotification.Visites}}</span>
			</a>
		</li>
		<li {% if root == 'm_core_profile_coeur' %}class="active"{% endif %}>
			<a href="{{ path('m_core_profile_coeur') }}" title="">Coups de coeur 
				<span class="{% if aNotification.CPC == 0%}null{% endif %}">{{aNotification.CPC}}</span>
			</a>
		</li> 
	</ul>
	{% if aNotification.ActiveOnline == 1 %}
	<p><span class="connectivite enligne"></span>{{ aNotification.EnLigne }}{% if aNotification.EnLigne > 1 %} Membres connectés {% else %} Membre connecté {% endif %}</p>
	{% endif %}
</nav>

