{% if iTotalPage > 1 %}
{% set root = app.request.attributes.get('_route') %}

	<div class="navigation pagination-centered">
		<ul id="paginate_elements">
			{# PREVIOUS PAGINATION #}
			{% if iPage > 1 %}
				<li class="paginator_previous paginator_control">
					<a href="{{ path(root, {'iPage' : iPage - 1}) }}"> Page précedente </a>
				</li>
			{% endif %}

			{% if iPage >= 7 and iTotalPage > 7 %}
				{% set iDebut = iPage - 3  %}
				{% set iFin = iPage - 3 + 6 %} 
					<li>
						<a href="{{ path(root, {'iPage' : 1 }) }}"> 1 </a>
					</li>
					<li>
						<a href="{{ path(root, {'iPage' : 2 }) }}"> 2 </a>
					</li>
					<li class="active">
						<p>...</p>
					</li>
					{% else %} 
					{% set iDebut = 1 %}

					{% if iTotalPage < 7 %}
						{% set iFin = iTotalPage %}
						{% else %}
						{% set iFin = 7 %}
					{% endif %}	
			{% endif %}	
			
			{% if iPage + 7 > iTotalPage and iTotalPage > 7  %}
			{% set iDebut = iTotalPage - 7 %}
			{% set iFin = iTotalPage %}
			{% endif %}


			{#CONTENT PAGINATION #}
		
			{% for iiPage in iDebut..iFin %}
				
					{% if iiPage  == iPage %}
						<li class="active{% if loop.last %} paginator_last{% endif %}">
							<p>{{ iiPage }}{# {% if loop.last %}...{% endif %} #}</p>
						</li>
					{% else %}
						<li{% if loop.last %} class="paginator_last"{% endif %}>
							<a href="{{ path(root, {'iPage' : iiPage }) }}">{{ iiPage}}{# {% if loop.last %}...{% endif %} #}</a>
						</li>
					
				{% endif %}
			{% endfor %}

			{# NEXT PAGINATION #}
			{% if iTotalPage > 10 and iPage + 7 <= iTotalPage %}
				{% if iPage + 7 <= iTotalPage %}
					<li class="active">
						<p>...</p>
					</li>
				{% endif %}	
					<li>
						<a href="{{ path(root, {'iPage' : iTotalPage - 1 }) }}">{{ iTotalPage - 1 }}</a>
					</li>
					<li>
						<a href="{{ path(root, {'iPage' : iTotalPage }) }}">{{ iTotalPage }}</a>
					</li>
			{% endif %}
			{% if iPage < iTotalPage %}
				<li class="paginator_next paginator_control">
					<a href="{{ path(root, {'iPage' : iPage + 1}) }}"> Page suivante </a>
				</li>
			{% endif %}
		</ul>
	</div>
{% endif %}