{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=1495221687362941&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% set clientid	=	'68146181334-e3u71gc9lcbo9jmihns9udtip2ptp7hk.apps.googleusercontent.com' %}
{% set clientsecret	=	'8OISNHVU1l8bvuRnwgPhTBR4' %}
{% set redirecturi	=	'http://nouhe.rencontres-et-vous.ma/dashboard/parrainage' %}
{% set maxresults	=	 20 %}
	<section class="body_container">
		<section class="stats parrainage {% if app.user.sexe == "femme"%}femme {%else%}homme{% endif %}">
			<h3>Parrainage</h3>
			<div class="content_parrainage">
			

			<p class="txt_intro_parrainage">Rencontres & Vous vous offre la possibilité de parrainer vos amis célibataires pour leur faire bénéficier d'avantages et être récompensés en retour !!!</p>
			<h2><span class="circle"></span> Inviter vos amis célibataires à devenir membre d'honneur !</h2>
			<p>
				Le principe est simple, vous faites connaître le site auprès de vos amis et pour toute inscription validée d'un de vos filleuls vous gagnez 15 jours d’abonnement offert. 
			</p>
			<p>
				Vos filleuls se verront attribuer le statut de membre d'honneur et gagneront 1 an d'abonnement gratuit au site.
			</p>
			<h2><span class="circle"></span> Parrainer vos amis via</h2> 
			<div class="partage_bloc">
			<p>
				Choisissez le réseau social de votre choix, votre lien de parrain sera automatiquement envoyé à vos amis.
			</p>
			{% set sUrl= url('m_core_homepage_parrainage' , {'sponsor':sEmailencrypted}) %}
			<ol>
				<li> <a href="https://accounts.google.com/o/oauth2/auth?client_id={{clientid}}&redirect_uri={{redirecturi}}&scope=https://www.google.com/m8/feeds/&response_type=code" class="inviter_link"> Gmail</a></li>

			<li><div class="fb-send" data-href="{{sUrl}}" data-colorscheme="light"  ></div></li>

			<li class="btn_twitter"> <a href="http://twitter.com/share?text=Je vous invite à s'inscrire ici &url={{sUrl}}" class="twitter-share-button" text="twitter" data-related="jasoncosta" data-lang="fr" data-size="large" data-count="none">Tweeter</a></li>
			<li>ou <br><br><br>Entrez dans le bloc ci-dessous les emails de vos amis séparé par une virgule ","</li>

			</ol>
			


			 <div class="txt_succes_parrainage">
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('success') %}
        <strong>{{ message }}</strong>
      {% endfor %}
    </div>

			<form method="POST">
				{# <div class="bloc_input_label"> 
				<label for="emails">Entrez les emails de vos amis séparé par des vérgules ","</label>
			</div> #}
			<div class="bloc_input_textarea">
				<textarea name="emails" id="emails" required >{% if app.request.get('code') %}{{ app.request.get('code')|getContact(app.request.get('code')) }}{% endif %}</textarea>
			</div>
			<div class="bloc_input_submit">
				<input type="submit" value="envoyer">
			</div>
			</form>
			</div>
			

	</div>
			</section>
	</section>

	{% endblock %}