{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		{% include 'MCoreBundle:Profile:menu_profil_details.html.twig' %}
		<div class="profil_details_profilideal profil_details">
			<form method="post" {{ form_enctype(oForm) }} id="form_profil_ideal">
				<div class="block_section">
					<div class="block_center">
						<h3><span class="circle"></span>Quelle est votre profil idéal recherché ?</h3>
				    	<div class="explication">
				    		{% if app.user %}
				    			{% if app.user.sexe == 1 %}
					    		 	{% set mot1 = 'masculin'  	%}
					    		 	{% set mot2 = 'hommes'   %}
					    		{% elseif app.user.sexe == 0 %}
				    		 		{% set mot1 = 'feminin'  	%}
				    				{% set mot2 = 'femmes'   %}
				    			{% endif %}
				    		{% endif %}
				    		{#<p class="explication extra-margin">Renseignez les champs suivants pour permettre aux autres membres de se faire une idée sur le type de profil {{ mot1 }} que vous souhaitez rencontrer à travers notre site.  En précisant votre profil idéal, vous augmenterez vos chances de rencontrer des {{ mot2 }} qui correspondent à vos attentes.</p>#}
				    		<p class="explication">
				    		Renseignez les champs suivants pour permettre aux autres membres de se faire une idée sur le type de profil idéal que vous souhaitez rencontrer à travers notre site. 
				    		</p>
				    	</div>
				    </div>
				</div>
		       <div class="block_section">
					<div class="block_left block_scroll_left">
						<div class="block_field">	
				    		{{ form_label(oForm.ageDebut) }}
				    		{{ form_widget(oForm.ageDebut, {'attr' : {'class':'little_select ageDebut'}}) }}
				    		{{ form_label(oForm.ageFin) }}
				    		{{ form_widget(oForm.ageFin, {'attr' : {'class':'little_select ageFin'}}) }}
				    		<span class="calibrate_word">&nbsp;&nbsp;&nbsp;&nbsp;ans</span>
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.marital) }}
				    		{{ form_widget(oForm.marital) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.nbEnfant) }}
				    		{{ form_widget(oForm.nbEnfant) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.nationalite) }}
				    		{{ form_widget(oForm.nationalite) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.tailleDebut) }}
				    		{{ form_widget(oForm.tailleDebut, {'attr' : {'class':'little_select'}}) }}
				    		{{ form_label(oForm.tailleFin) }}
				    		{{ form_widget(oForm.tailleFin, {'attr' : {'class':'little_select'}}) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.silhouette) }}
				    		{{ form_widget(oForm.silhouette) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.cheveux) }}
				    		{{ form_widget(oForm.cheveux) }}
				    	</div>
					</div>
					<div class="block_right block_scroll_right">
						<div class="notice"></div>
						<div class="block_field">	
				    		{{ form_label(oForm.yeux) }}
				    		{{ form_widget(oForm.yeux) }}
				    	</div>
			    		<div class="block_field">	
				    		{{ form_label(oForm.ville) }}
				    		{{ form_widget(oForm.ville) }}
				    	</div>
						<div class="block_field">	
				    		{{ form_label(oForm.etudes) }}
				    		{{ form_widget(oForm.etudes) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.vestimentaire) }}
				    		{{ form_widget(oForm.vestimentaire) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.sport) }}
				    		{{ form_widget(oForm.sport) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.fumeur) }}
				    		{{ form_widget(oForm.fumeur) }}
				    	</div>
				    	{{ form_rest(oForm) }}
					</div>
				</div>
		   		{{ form_widget(oForm) }}
		       	<div class="footer">
					<input type="reset" value="Annuler mes modifications" class="button" >
					<input type="submit" value="Enregistrer mes modifications" class="button btn_submit_profil_ideal" >
				</div>
			</div>
       </form>	
				
				
		</div>
	</section>
	<script>
		var sform_clean;
			var used_submit = 0;
			sform_clean = $("#form_profil_ideal").serialize();  

				// Before we leave the page we now compare between the new form values and the orignal
				window.onbeforeunload = function (e) {
				    var sform_dirty = $("#form_profil_ideal").serialize();
				    if(sform_clean != sform_dirty && used_submit ==0) {
				        return 'Vous allez quitter cette page sans enregistrer vos modifications.';
				    }
				};

			$(".btn_submit_profil_ideal").on('click',function(e)
			{

				used_submit = 1;
			});
	</script>
{% endblock %}