{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		{% include 'MCoreBundle:Profile:menu_profil_details.html.twig' %}
		<div class="profil_details_questionnaire profil_details">
			<form method="post" {{ form_enctype(oForm) }} id="form_questionnaire">
				<div class="block_section no-extra-padmarg" >
					<p class="explication">
					Vous avez le choix de répondre aux questions qui vous semblent pertinentes . En cliquant sur “Enregistrer mes modifications” au bas de la page, vos réponses seront publiées et permettront à d’autres membres intéressés par votre profil d’en apprendre un peu plus sur votre personnalité et sur votre style de vie. 
				</p>
				</div>
			    	{% for form in aFormQuestions %}
			    		<div class="block_section{% if loop.index0 is even %} colored gray{% endif %}">
							<div class="block_center">
								<span class="circle"></span><label for="question">{{form.question|capitalize }}</label>
								<div class="block_radio">
									<input type="radio" id="m_corebundle_usertype_question_{{form.id}}_0" name="m_corebundle_usertype_question[{{form.id}}]" value="1" {% if form.selected == 1 %}checked="checked"{% endif %}>
					    			<label for="m_corebundle_usertype_question_{{form.id}}_0" class="first_label">{{ form.choix1|capitalize }}</label>
					    			<input type="radio" id="m_corebundle_usertype_question_{{form.id}}_1" name="m_corebundle_usertype_question[{{form.id}}]" value="2" {% if form.selected == 2 %}checked="checked"{% endif %}>
					    			<label for="m_corebundle_usertype_question_{{form.id}}_1">{{form.choix2|capitalize }}</label>
								</div>
							</div>
						</div>
					{% endfor %}
				{{ form_widget(oForm._token) }}
			   		
			    <div class="footer">
					<input type="reset" value="Annuler mes modifications" class="button" >
					<input type="submit" value="Enregistrer mes modifications" class="button btn_submit_questionnaire" >
				</div>

			</form>

		</div>
	</section>
	<script>
		var sform_clean;
			var used_submit = 0;
			sform_clean = $("#form_questionnaire").serialize();  

				// Before we leave the page we now compare between the new form values and the orignal
				window.onbeforeunload = function (e) {
				    var sform_dirty = $("#form_questionnaire").serialize();
				    if(sform_clean != sform_dirty && used_submit ==0) {
				        return 'Vous allez quitter cette page sans enregistrer vos modifications.';
				    }
				};

			$(".btn_submit_questionnaire").on('click',function(e)
			{

				used_submit = 1;
			});
	</script>
{% endblock %}