{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="abonnement_recap">
		<div class="abonnement_coordonnees">
				<div class="block_coordonnees">
		Bonjour, <span class="username"> {{ app.user.username }}</span> Merci d'avoir passé commande chez rencontres-et-vous.ma
		<p class="title_detail_commande">  Détail Commande </p>
		<p class="detail_commande">
		Commande : {{ oAbonnement.numeroCommande}} <br>
		Mode de paiement : Paiement par carte bancaire .
	</p>
				</div>
				<div class="enveloppe_blocks">
					<div class="block_coordonnees">
					<div class="block_input">
						<strong>Code Commande : </strong>{{ oAbonnement.numeroCommande}} 
					</div>
					<div class="block_input">
						<strong>Offre : </strong>{{ sTypeAbonnement}}
					</div>
					<div class="block_input">
						<strong>Prix Unitaire : </strong>{{ iPrixUnitaire}} DHS TTC
					</div>
					{% if oAbonnement.codePromotionnel %}<div class="block_input">
							<strong>Réduction :   </strong>- {{reduction}} %
						</div>
						{% endif %}
					<div class="block_input">
						<strong>Prix Total : </strong>{{ oAbonnement.Totalpaye}} DHS TTC
					</div>
				</div>
		</div>
	</section>
	<script>
		$(document).ready(function(){
			//$('.offre select option:eq({{ app.session.get("TypeAbonnement") }})').attr('selected', 'selected');
		});
	</script>
{% endblock %}