{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		<section class="stats">
			<h3>Mes statistiques</h3>
			<div class="block_section colored gray">
				<p class="left_p">Voici vos statistiques depuis votre inscription du <span class="capitalize">{{ app.user.dateinscription|dateTimeFR('fr_FR','d MMMM Y') }}</span></p>
				{% set TempsConnexion = app.user.tempsConnexion %}
				{# {% set Days = TempsConnexion / 43200 %}
				{% set Hours = TempsConnexion / 3600 %}
				{% set Minutes = TempsConnexion / 60 %} #}
				<p class="right_p"><span class="connectivite enligne"></span>Temps total de connexion :
					{{ app.user.dateinscription|timeToString }}
					{# {% if Days|number_format(0) > 0 %}{{ TempsConnexion|date('d') ~ 'j ' }}{% endif %}
					{% if Hours|number_format(0) > 0 %}{{ TempsConnexion|date('H') ~ 'h ' }}{% endif %}
					{% if Minutes|number_format(0) > 0 %}{{ TempsConnexion|date('i') ~ ' minutes ' }}{% endif %} #}
				</p>
			</div>
			<div class="block_section">
				<h4><span class="circle"></span>Les Membres :</h4>
				<ul>
					<li class="stats1">Vous avez reçu {{ aStat.Received.Visites }} visites sur votre profil</li>
					<li class="stats2">Vous avez reçu {{ aStat.Received.CPC }}  coup de coeurs</li>
					<li class="stats3">Vous avez reçu {{ aStat.Received.Messages }} messages</li>
					<li class="stats4">Vous avez reçu {{ aStat.Received.DemandeTchat }} demande de chat</li>
				</ul>
			</div>
			<div class="block_section colored gray">
				<h4><span class="circle"></span>Vous :</h4>
				<ul>
					<li class="stats1">Vous avez visité {{ aStat.Sended.Visites }} profil</li>
					<li class="stats2">Vous avez envoyé {{ aStat.Sended.CPC }}  coup de coeurs</li>
					<li class="stats3">Vous avez envoyé {{ aStat.Sended.Messages }} messages</li>
					<li class="stats4">Vous avez envoyé {{ aStat.Sended.DemandeTchat }} demande de chat</li>
				</ul>
			</div>
			<div class="block_section events">
				<h4 class="inline left_p"><span class="circle"></span>Sorties :</h4>
				<p class="left_p ">Vous vous êtes inscrit{% if app.user.sexe %}e{% endif %} à {{ aStat.Events }} sorties</p>
			</div>
		</section>
	</section>
{% endblock %}