{% extends 'MCoreBundle:Profile:layout.html.twig' %}

{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		<section class="resultat coup_coeur">
			<h3>Mes Visites</h3>
			<div class="pagination header_pagination">
				{% set newNotif = 0 %}
				{% for User in aResult %}
					{% if not User.vue %}
						{% set newNotif = newNotif + 1 %}
					{% endif %}
				{% endfor %}
				<span class="nb_resultat">
					Vous avez reçu {{ newNotif }}{% if newNotif > 1 %} nouvelles visites{% else %} nouvelle visite {% endif %}  
				</span>	
				{% include 'MCoreBundle:Profile:paginator.html.twig' %}
			</div>
			{% if aResult|length == 0 %}
				<div class="not_found">
					<p>Aucune nouvelle visite </p>
				</div>
			{% endif %}
			<ul class="list_users">
				{% for User in aResult %}
					<li class="users{% if not User.vue %} seen{% endif %}">
						<a href="{{ path('m_core_profile_voir', {'sUser': User.username}) }}" title="">
							<img alt="{{ app.user.prenom ~ ' ' ~ app.user.nom }}" src="{{ User.image }}" class="profil_image" />
						</a>
						<dl>
							<dd class="first">
								<a href="{{ path('m_core_profile_voir', {'sUser': User.username}) }}" title=""> 
									<span class="connectivite {% if User.enLigne %} enligne{% else %} horsligne{% endif %}"></span>
									{{ User.username|capitalize }}
								</a>
							</dd>
							<dd class="no-text-transform">{{ User.age }} ans</dd>
							<dd>{{ User.ville }}</dd>
							<dd>{{ User.signe }}</dd>
						</dl>
						<div class="envoi_notif">
							<ul>
								<li class="first item1 chatter tooltip" title="Discuter">
									<a href="#" title="{{ User.username|capitalize }}" >
										<img src="{{ asset('bundles/mcore/images/item1.png') }}">
									</a>
								</li>
								<li class="item2 {% if is_granted('ROLE_USER') %}envoyer_message {% else %} redirectA {% endif %} tooltip" title="Envoyer un message">
									<a href="{% if is_granted('ROLE_USER') %}#{% else %}{{ path('m_core_profile_abonnement') }}{% endif %}" title="{{ User.username|capitalize }}">
										<img src="{{ asset('bundles/mcore/images/item2.png') }}">
									</a>
								</li>
								<li class="item3 {% if is_granted('ROLE_USER') %}coup_coeur{% else %} redirectA {% endif %} tooltip" title="Envoyer un coup de coeur">
									<a href="{% if is_granted('ROLE_USER') %}#{% else %}{{ path('m_core_profile_abonnement') }}{% endif %}" title="{{ User.username|capitalize }}">
										<img src="{{ asset('bundles/mcore/images/item3.png') }}">
									</a>
								</li>
								<li class="item4{% if app.user.contact[User.userid]  is not defined %} ajout_contact{% endif %} tooltip" title="Ajouter aux contacts">
									<a href="#" title="{{ User.username|capitalize }}" {% if app.user.contact[User.userid]  is defined %}style="opacity: 0.2; cursor: default;"{% endif %}>
										<img src="{% if app.user.sexe %}{{ asset('bundles/mcore/images/item4_h.png') }}{% else %}{{ asset('bundles/mcore/images/item4_f.png') }}{% endif %}">
									</a>
								</li>
							</ul>
							<p>{{ User.dateNotification }}</p>
						</div>
					</li>
				{% endfor %}
			</ul>
			<div class="pagination header_pagination">
				<span class="nb_resultat">
					Vous avez reçu {{ newNotif }}{% if newNotif > 1 %} nouvelles visites{% else %} nouvelle visite {% endif %}  
				</span>	
				{% include 'MCoreBundle:Profile:paginator.html.twig' %}
			</div>
			<script>
				// En cliquant sur le coup de coeur
				$(document).on('click', '.resultat li.users .envoi_notif li.item3.coup_coeur a', function(e)
				{
					ajaxMe(e, $(this), "{{ path('m_core_profile_ajax_setCoeur') }}", "coup_coeur", "{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}");
				});
				$(document).on('click', '.resultat li.users .envoi_notif li.item4.ajout_contact a', function(e)
				{
					ajaxMe(e, $(this), "{{ path('m_core_profile_ajax_setNewContact') }}", "ajout_contact", "{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}");
				});
				$(document).on('click', '.resultat li.users .envoi_notif li.item2.envoyer_message a', function(e)
				{
					e.preventDefault();
					popUpCreate($(this).attr('title'), 'envoyer_message', '{{ asset("bundles/mcore/images/") }}');
				});
			</script>
		</section>
	</section>
{% endblock %}
	
