{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		<section class="resultat presentation_profil">
			<h3><a href="#" class="prevPage">&#60;&#60; Retour à la page précedente</a>Presentation de profil</h3>
			<div class="corps{% if oUser.sexe %} femme{% else %} homme{% endif %}">
				<div class="photos">
					{% for oImage in aImage %}
						{% if oImage['profile_default'] == 1 %}
							<div class="image_profil">
								<img alt="{{ oUser.username }}" src="{{ oImage.image }}" />
							</div>
						{% endif %}
					{% endfor %}
					{% if aImage|length > 1 %}
						<ul class="images_extra">
							{% for oImage in aImage %}
								{% if oImage['profile_default'] == 0 %}
									{% if oUser.roles[0] == "ROLE_FREE" and oImage.moderer == 0  %}
									{% else %}	
										<li><a href="{{ oImage.image }}" rel="profil_images" class="fancyBox" ><img alt="{{ oUser.username }}" src="{{ oImage.image }}" /></a></li>
									{% endif %}
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
				</div>
				<div class="coordonees">
					<div class="detail first detail1">
						<div class="nom_detail">
							<a href="#" title="{{ oUser.username }}" class="username">
								<span class="connectivite {% if oUser.enLigne %} enligne{% else %} horsligne{% endif %}"></span>{{ oUser.username }}
							</a> 
						</div>
						<div class="donnee">
							- {{ oUser.age }} ans - {{ oUser.ville.nom }} - {{ oUser.signe }} 
						</div>	
					</div>
					<div class="detail detail2">
						<div class="nom_detail">Membre depuis : </div> 		<div class="donnee">{{ oUser.dateInscription|dateTimeFR('fr_FR','d MMMM Y') }}</div>
					</div>
					<div class="detail detail3">
						<div class="nom_detail">Derniére connexion : </div> 	<div class="donnee">{{ aDate.lastActivity }}</div>
					</div>
					<div class="detail detail4">
						<div class="nom_detail">Qualités : </div> 
						<div class="donnee return">
							<ul>
								{% for Qualite in oUser.qualites %}
					    			{% if oUser.sexe == 0 %}
										<li{% if loop.first %} class="first"{% endif %}>{{ Qualite.homme }}{% if not loop.last %}, {% endif %}</li>
						    		{% elseif oUser.sexe == 1 %}
										<li{% if loop.first %} class="first"{% endif %}>{{ Qualite.femme }}{% if not loop.last %}, {% endif %}</li>
					    			{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="detail detail5">
						<div class="nom_detail">Description : </div> <div class="donnee return description_data">
							{% if oUser.roles[0] == "ROLE_FREE" %}{{ oUser.anciennedescription|nl2br  }} {% else %} {{ oUser.description|nl2br  }} {% endif %}
						</div>
					</div>
				</div>
				<div class="demandes">
					<ul>
						<li class="item1 chatter">
							<a href="#" title="{{ oUser.username }}">
								<img src="{{ asset('bundles/mcore/images/item1.png') }}">
								<p>Demander en chat</p>
							</a>
						</li>
						<li class="item2 {% if is_granted('ROLE_USER') %}envoyer_message {% else %} redirectA{% endif %}">
							<a href="{% if is_granted('ROLE_USER') %}#{% else %}{{ path('m_core_profile_abonnement') }}{% endif %}" title="{{ oUser.username }}">
								<img src="{{ asset('bundles/mcore/images/item2.png') }}">
								<p>Envoyer un message</p>
							</a>
						</li>
						<li class="item3 {% if is_granted('ROLE_USER') %}coup_coeur{% else %} redirectA {% endif %}">
							<a href="{% if is_granted('ROLE_USER') %}#{% else %}{{ path('m_core_profile_abonnement') }}{% endif %}" title="{{ oUser.username }}">
								<img src="{{ asset('bundles/mcore/images/item3.png') }}">
								<p>Envoyer un coup de coeur</p>
							</a>
						</li>
						<li class="item4{% if app.user.contact[oUser.id]  is not defined %} ajout_contact{% endif %}">
							<a href="#" {% if app.user.contact[oUser.id] is defined  %}style="opacity: 0.2; cursor: default;"{% endif %} title="{{ oUser.username }}">
								<img src="{% if app.user.sexe %}{{ asset('bundles/mcore/images/item4_h.png') }}{% else %}{{ asset('bundles/mcore/images/item4_f.png') }}{% endif %}">
								<p>Ajouter à mes contacts</p>
							</a>
						</li>
						<li class="item5 {% if is_granted('ROLE_USER') %}signaler {% else %} redirectA{% endif %}">
							<a href="{% if is_granted('ROLE_USER') %}#{% else %}{{ path('m_core_profile_abonnement') }}{% endif %}" title="{{ oUser.username }}">
								<img src="{{ asset('bundles/mcore/images/signaler.png') }}">
								<p>Signaler</p>
							</a>
						</li>
						<li class="item6{% if app.user.contactbloque[oUser.id] is not defined %} bloquer{% endif %}">
							<a href="#" {% if app.user.contactbloque[oUser.id] is defined  %}style="opacity: 0.2; cursor: default;"{% endif %} title="{{ oUser.username }}">
								<img src="{{ asset('bundles/mcore/images/bloquer.png') }}">
								<p>Bloquer</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="map_container">
					<div class="map"></div>
				</div>
				<div id="tab-container" class="tab-container">
					<ul class='etabs'>
						<li class='tab'><a href="#apropos" title="">A propos</a></li>
						<li class='tab'><a href="#centresinterets" title="">Centres d'intérêts</a></li>
						<li class='tab'><a href="#questionnaire" title="">Questionnaire</a></li>
						<li class='tab'><a href="#profilideal" title="">Profil Idéal</a></li>
					</ul>
					<div id="apropos" class="tab-content" >
						<div class="block">
							<div class="name_detail">Situation :</div>
							<div class="detail">{{ oUser.marital }}</div>
						</div>
						<div class="block gray">
							<div class="name_detail">Nombre d'enfants :</div>
							<div class="detail">{% if oUser.nbEnfant == 0 %}Aucun{% else %}{{ oUser.nbEnfant }}{% endif %}</div>
						</div>
						<div class="block">
							<div class="name_detail">Nationalité :</div>
							<div class="detail">{{ oUser.nationalite.nom }}</div>
						</div>
						<div class="block gray">
							<div class="name_detail">Taille :</div>
							<div class="detail">{{ oUser.taille }}</div>
						</div>
						<div class="block">
							<div class="name_detail">Silhouette :</div>
							<div class="detail">{{ oUser.silhouette }}</div>
						</div>
						<div class="block gray">
							<div class="name_detail">Couleur cheveux :</div>
							<div class="detail">{{ oUser.cheveux }}</div>
						</div>
						<div class="block">
							<div class="name_detail">Niveau d'études :</div>
							<div class="detail">{{ oUser.etudes }}</div>
						</div>
						<div class="block gray">
							<div class="name_detail">Couleur des yeux :</div>
							<div class="detail">{{ oUser.yeux }}</div>
						</div>
						<div class="block">
							<div class="name_detail">Profession :</div>
							<div class="detail">{{ oUser.profession.nom }}</div>
						</div>
						<div class="block gray">
							<div class="name_detail">Secteur :</div>
							<div class="detail">{{ oUser.secteur}}</div>
						</div>
						<div class="block">
							<div class="name_detail">Vestimentaire :</div>
							<div class="detail">{{ oUser.vestimentaire}}</div>
						</div>
						<div class="block gray">
							<div class="name_detail">Pratique d'un sport :</div>
							<div class="detail">{{ oUser.sport}}</div>
						</div>
						<div class="block">
							<div class="name_detail">Fumeur :</div>
							<div class="detail">
								{% if oUser.fumeur == 0 %}Non{% endif %}
								{% if oUser.fumeur == 1 %}Oui{% endif %}
								{% if oUser.fumeur == 2 and oUser.sexe == 0 %}Occasionnel{% endif %}
								{% if oUser.fumeur == 2 and oUser.sexe == 1 %}Occasionnelle{% endif %}
							</div>
						</div>
					</div>
					<div id="centresinterets" class="tab-content" >
						{% for oCentres in aCategorieCI %}
							<div class="block{% if loop.index0 is odd %} gray{% endif %}">
								<div class="name_detail">{{ oCentres.nom }} :</div>
								<div class="detail">
									{% set iCount = 0 %}
									{% for aCentre in oUser.centresinteret %}
										{% if aCentre.categorie.id == oCentres.id %}
											{% set iCount = iCount + 1 %}
											{{ aCentre.nom }}{% if not loop.last %}, {% endif %}
										{% endif %}	
									{% endfor %}
									{% if iCount == 0 %}--{% endif %}
								</div>
						{# 		<div class="name_detail">{{ oCentres.question }} :</div>
								<div class="detail">
									{% if oUser.centresinteretautre[oCentres.id] is defined %}
										{{ oUser.centresinteretautre[oCentres.id] }} 
									{% else %}
										--
									{% endif %}
								</div> #}
							</div>
						{% endfor %}
					</div>
					<div id="questionnaire" class="tab-content" >
						{% for Question in aQuestionsreponse %}
							<div class="block {% if loop.index0 is odd %} gray{% endif %}">
								{% set choix = "choix" ~ Question.selected %}
								{% if Question[choix] is defined %}
									<div class="name_detail">
										<span class="circle"></span>{{Question.question}}
									</div>
									<div class="detail">{{ Question[choix] }}</div>
								{% endif %}
							</div>
						{% endfor %}
					</div>
					<div id="profilideal" class="tab-content" >
						<div class="block">
							<div class="name_detail">Situation :</div>
							<div class="detail">
								{% if aProfilIdeal.marital  is defined and aProfilIdeal.marital != "" %}
									{{ aProfilIdeal.marital }}
								{% else %}
									--
								{% endif %}

							</div>
						</div>
						<div class="block gray">
							<div class="name_detail">Nombre d'enfants :</div>
							<div class="detail">
								{% if aProfilIdeal.nbEnfant  is defined and aProfilIdeal.nbEnfant != "" %}
									{% if aProfilIdeal.nbEnfant == 0 %}Aucun{% else %}{{ aProfilIdeal.nbEnfant }}{% endif %}
								{% else %}
									--
								{% endif %}
							</div>
						</div>
						<div class="block">
							<div class="name_detail">Nationalité :</div>
							<div class="detail">
								{% if  aProfilIdeal.nationalite.nom is defined  %}
									{{ aProfilIdeal.nationalite.nom}}
								{% else %}
									--
								{% endif %}
							</div>
						</div>
						<div class="block gray">
							<div class="name_detail">Taille :</div>
							<div class="detail">
								{% if  aProfilIdeal.tailledebut  is defined and aProfilIdeal.tailledebut != "" %}
									{{ aProfilIdeal.tailledebut }} à {{ aProfilIdeal.taillefin }}
								{% else %}
									--
								{% endif %}
							</div>
						</div>
						<div class="block">
							<div class="name_detail">Silhouette :</div>
							<div class="detail">
								{% if  aProfilIdeal.silhouette is defined and aProfilIdeal.silhouette != "" %}
									{{ aProfilIdeal.silhouette }}
								{% else %}
									--
								{% endif %}
							</div>
						</div>
						<div class="block gray">
							<div class="name_detail">Couleur cheveux :</div>
							<div class="detail">
								{% if aProfilIdeal.cheveux is defined and aProfilIdeal.cheveux != "" %}
									{{ aProfilIdeal.cheveux }}
								{% else %}
									--
								{% endif %}
							</div>
						</div>
						<div class="block">
							<div class="name_detail">Niveau d'études :</div>
							<div class="detail">
								{% if aProfilIdeal.etudes is defined and aProfilIdeal.etudes != "" %}
									{{ aProfilIdeal.etudes }}
								{% else %}
									--
								{% endif %}
							</div>
						</div>
						<div class="block gray">
							<div class="name_detail">Couleur des yeux :</div>
							<div class="detail">
								{% if aProfilIdeal.yeux is defined and aProfilIdeal.yeux != "" %}
									{{ aProfilIdeal.yeux }}
								{% else %}
									--
								{% endif %}
							</div>
						</div>
						<div class="block">
							<div class="name_detail">Age :</div>
							<div class="detail">
								{% if aProfilIdeal.agedebut is defined and aProfilIdeal.agedebut != "" %}
									{{ aProfilIdeal.agedebut }} à {{ aProfilIdeal.agefin }}
								{% else %}
									--
								{% endif %}
							</div>
						</div>
						<div class="block gray">
							<div class="name_detail">Ville :</div>
							<div class="detail">
								{% if aProfilIdeal.ville.nom is defined %}
									{{ aProfilIdeal.ville.nom }}
								{% else %}
									--
								{% endif %}
							</div>
						</div>
						<div class="block">
							<div class="name_detail">Vestimentaire :</div>
							<div class="detail">
								{% if aProfilIdeal.vestimentaire is defined and aProfilIdeal.vestimentaire != "" %}
									{{ aProfilIdeal.vestimentaire}}
								{% else %}
									--
								{% endif %}
							</div>
						</div>
						<div class="block gray">
							<div class="name_detail">Pratique d'un sport :</div>
							<div class="detail">
								{% if aProfilIdeal.sport  is defined and aProfilIdeal.sport != "" %}
									{{ aProfilIdeal.sport}}
								{% else %}
									--
								{% endif %}
							</div>
						</div>
						<div class="block">
							<div class="name_detail">
								{% if oUser.sexe ==	1 %} Fumeur	{% else %} Fumeuse {% endif %} :
							</div>
							<div class="detail">
								{% if aProfilIdeal.fumeur is defined and aProfilIdeal.fumeur != "" %}

									{% if aProfilIdeal.fumeur == 0 %}
										Non
									{% endif %}
									{% if aProfilIdeal.fumeur == 1 %}
										Oui
									{% endif %}
									{% if aProfilIdeal.fumeur == 2 and oUser.sexe == 1 %}
										Occasionnel
									{% endif %}
									{% if aProfilIdeal.fumeur == 2 and oUser.sexe == 0 %}
										Occasionnelle
									{% endif %}
									
								{% else %}
									--
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="album_perso">
					<h3>Album Perso</h3>
					<div class="extrait_album" >
						{% if (oUser.statusalbum or oUser.allowToAlbum[app.user.id] is defined ) and aAlbum[0].image is defined %}
							<img src="{{ aAlbum[0].image }}" />
							<div class="album_container">
								<div class="album {% if oUser.statusalbum or oUser.allowToAlbum[app.user.id] is defined %}public{% else %}prive{% endif %}">
									{% for oAlbum in aAlbum %}
										<li><img src="{{ oAlbum.image }}" alt=""></li>
									{% endfor %}
								</div>
							</div>
						{% else %}
								<div class="album_prive"></div>
						{% endif %}

					</div>
					{% if (oUser.statusalbum or oUser.allowToAlbum[app.user.id] is defined ) and aAlbum[0].image is defined %}<button class="voir_album">Voir son album perso</button>{% endif %}
				</div>
			</div>
			<div class="pagination header_pagination">
				<span class="nb_resultat">
					<a href="#" class="prevPage">&#60;&#60; Retour à la page précedante</a>
				</span>	
				
			</div>
			<script>
				mapMe(".map_container .map", "{{ oUser.ville.nom }}");
				
				// Coup de coeur
				$(document).on('click', '.demandes li.item3.coup_coeur a', function(e)
				{
					/*function ajaxMe (Event, Element, root, className, preloader, operation = default, extraData = default, onSuccess = default) */
					ajaxMe(e, $(this), "{{ path('m_core_profile_ajax_setCoeur') }}", "coup_coeur", "{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}");
				});
				// Ajout de contact
				$(document).on('click', '.demandes li.item4.ajout_contact a', function(e)
				{
					ajaxMe(e, $(this), "{{ path('m_core_profile_ajax_setNewContact') }}", "ajout_contact", "{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}");
				});
				$(document).on('click', '.demandes li.item6.bloquer a', function(e)
				{
					e.preventDefault();
					var $this = $(this);
					var confirm = window.confirm("Une fois bloqué, ce membre ne pourra plus vous contacter d'aucune manière sur notre site. Vous pourrez toujours le débloquer en accédant à la page de votre compte.");
					if ( confirm ) 
					{
						ajaxMe(e, $(this), "{{ path('m_core_profile_ajax_bloquerContact') }}", "bloquer", "{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}", "bloquer");
					}
				});
				$(document).on('click', '.demandes li.item5.signaler a', function(e)
				{
					e.preventDefault();
					var $this = $(this);

					$('.signaler_content span.username_signaler').text('{{ oUser.username }}');
					popUpCreate($(".signaler_content").html(), 'signaler', '{{ asset("bundles/mcore/images/") }}');

				});
				// Voir Album Perso
				$(document).on('click', '.voir_album', function(){
					if ( $(".public").length === 0 ) return false;
					popUpCreate($(".album_container").html(), 'voir_album');
				});
				$(document).on('click', '.demandes li.item2.envoyer_message a', function(e)
				{
					e.preventDefault();
					popUpCreate($(this).attr('title'), 'envoyer_message', '{{ asset("bundles/mcore/images/") }}');
				});
				
			</script>
		</section>
	</section>
{% endblock %}
	
