<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="noindex, nofollow">
        <title>{% block title %}Rencontres &amp; Vous - {% endblock %}</title>

        {% stylesheets  
            'bundles/mcore/css/reset-mayer.css' 
            'bundles/mcore/css/mCustomScrollbar.css' 
            'bundles/mcore/css/tooltip_skin.css' 
            'bundles/mcore/css/SlimBox.css' 
            'bundles/mcore/css/jCrop.css' 
            'bundles/mcore/css/EasyTabs.css' 
            'bundles/mcore/css/meAndYou.css' 
            'bundles/mcore/css/vitrine.css' 
            'bundles/mcore/css/etapes_inscription.css' 
            'bundles/mcore/css/GalleryView.css' 
            'bundles/mcore/css/CalendarPicker.css' 
            'bundles/mcore/css/Noty.css' 
            'bundles/mcore/css/PowerTip.css' 
            'bundles/mcore/css/OwlCarousel.css' 
            'bundles/mcore/css/OwlTransitions.css' 
            'bundles/mcore/css/OwlTheme.css' 
                filter="cssrewrite"
        %}
          <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=fr"></script>
        {% javascripts 
            'bundles/mcore/js/When.js'
            'bundles/mcore/js/AutoBahn.js'
            'bundles/mcore/js/Json2.js'
            'bundles/mcore/js/jQuery.js'
            'bundles/mcore/js/jQueryMigrate.js'
            'bundles/mcore/js/jStorage.js'
            'bundles/mcore/js/AjaxQ.js'
            'bundles/mcore/js/Mousewheel.min.js'
            'bundles/mcore/js/mCustomScrollbar.min.js'
            'bundles/mcore/js/SkyCarousel.js'
            'bundles/mcore/js/Gmap3.js'
            'bundles/mcore/js/SlimBox.js'
            'bundles/mcore/js/OwlCarousel.js'
            'bundles/mcore/js/PowerTip.js'
            'bundles/mcore/js/GalleryView.js'
            'bundles/mcore/js/Timers.js'
            'bundles/mcore/js/jCrop.js'
            'bundles/mcore/js/HashChange.js'
            'bundles/mcore/js/Emoticons.js'
            'bundles/mcore/js/Calendar.js'
            'bundles/mcore/js/CalendarPlus.js'
            'bundles/mcore/js/CalendarPicker.js'
            'bundles/mcore/js/CalendarPickerLang.js'
            'bundles/mcore/js/EasyTabs.js'
            'bundles/mcore/js/Noty.js'
            'bundles/mcore/js/DoSomething/Functions.js'
            'bundles/mcore/js/DoSomething/Things.js' 
            'bundles/mcore/js/DoSomething/Module_CropMe.js' 

                                   %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </head>
    <body class="{% if app.user %}{% if app.user.sexe == 0 %}Homme{% elseif app.user.sexe == 1 %}Femme{% endif %}{% endif %}">
        <div class="container_principal">
            <div class="logo_principal">
                <a href="{% if app.user %} {{ path('m_core_profile') }} {% else %} {{ path('m_core_homepage') }} {% endif %}" title="Rencontres &amp; Vous - Entre Célibataires Sérieux au Maroc">Rencontres &amp; Vous - Entre Célibataires Sérieux au Maroc</a>
            </div>
            {% set root = app.request.attributes.get('_route') %}
            {% if root != 'm_core_registration' and 
                  root != 'm_core_registration_step1' and 
                  root != 'm_core_registration_step2' and 
                  root != 'm_core_registration_step3'
            %} 
                {% include 'MCoreBundle::Authentication.html.twig' %} 
            {% endif %}
            {% block body %}{% endblock %}
        </div> 
        <footer>
             <div class="footer_top">
                <div class="footer_handler">
                    <div class="footer_block1 footer_block">
                        <div class="fb-like-box" data-href="https://www.facebook.com/pages/Rencontres-Vous/711248492249485" data-width="200" data-height="200" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                        {# <div class="fb-follow" data-href="https://www.facebook.com/pages/Rencontres-Vous/711248492249485" data-width="200" data-colorscheme="dark" data-layout="standard" data-show-faces="true"></div> #}
                    </div>
                    <div class="footer_block2 footer_block">
                        <h1>Plan du site</h1>
                        <ul>
                            <li><a href="{{ path('m_core_homepage_decouvrir') }}" title="Notre concept">Notre concept</a></li>
                            <li><a href="{{ path('m_core_homepage_temoignages') }}" title="Témoignages">Témoignages</a></li>
                            <li><a href="{{ path('m_core_homepage_evenements') }}" title="Sorties entre célibataires">Sorties entre célibataires</a></li>
                            <li><a href="{{ path('m_core_homepage_rencontres') }}" title="Rencontres au Maroc">Rencontres au Maroc</a></li>
                            <li><a href="{{ path('m_core_homepage_services') }}" title="Service personnalisé">Service personnalisé</a></li>
                            <li><a href="{{ path('m_core_homepage_presse') }}" title="Revue de presse">Revue de presse</a></li>
                        </ul>
                    </div>
                    <div class="footer_block3 footer_block">
                        <h1>Informations</h1>
                        <ul>
                            <li><a href="{{asset(roots.documents.CGU)}}" title="CGUV" target="_blank">CGUV</a></li>
                            <li><a href="{{asset(roots.documents.CharteQualite)}}" title="Charte Qualité" target="_blank">Charte Qualité</a></li>
                            <li><a href="{{asset(roots.documents.FAQS)}}" title="Faqs" target="_blank">Faqs</a></li>
                            <li><a href="{{asset(roots.documents.Recrutement)}}" title="Recrutement" target="_blank">Recrutement</a></li>
                            <li class="nous_contacter_bouton"><a href="#" title=">Nous contacter" >Nous contacter</a></li>
                        </ul>
                    </div>
                    <div class="footer_block4 footer_block">
                        <h1 class="centred">Nous suivre</h1>
                        <ul>
                            <li class="social facebook"><a href="https://www.facebook.com/pages/Rencontres-Vous/711248492249485" class="text-indent" title="Rejoignez nous sur Facebook" target="_blank">Facebook</a></li>
                            <li class="social twitter"><a href="#" class="text-indent" title="Rejoignez nous sur Twitter" target="_blank">Twitter</a></li>
                            <li class="social google"><a href="#" class="text-indent" title="Rejoignez nous sur Google+" target="_blank">Google+</a></li>
                        </ul>
                    </div>
                    <div class="footer_block5 footer_block">
                        <img src="{{ asset('bundles/mcore/images/logo.png') }}" class="logo" alt="" />
                        <p>Siège social</p>
                        <p>10 rue d'Oran - Quartier Gauthier</p>
                        <p>20100 Casablanca - Maroc</p>
                        <p>Tél : + 212 (0)5.22.27.51.09</p>
                        <p>Fax : + 212 (0)5.22.27.51.77</p>
                        <p><a class="lowercase" href="mailto:'contact@rencontres-et-vous.ma'" title="">contact@rencontres-et-vous.ma</a></p>
                    </div>
                </div>
             </div>
             <div class="footer_bottom">
                <p>&copy; 2014 - all right reserved - Rencontres &amp; Vous</p>
             </div>
        </footer> 
    </body>
    <script>
        $(document).ready(function(){
            {% if app.session.flashbag.has('error') %}
                var $aError = Array();
                {% for iKey, flashMessage in app.session.flashbag.get('error') %}
                    var $sError = '{{ flashMessage }}';
                    var $_aError = $sError.split(':');
                    $aError.push($_aError[0], $_aError[1]);
                {% endfor %}
                popMeOnError($aError);
            {% endif %}

            {% if app.session.flashbag.has('success') %}
                {% for iKey, flashMessage in app.session.flashbag.get('success') %}
                    popMeOnSuccess('{{ flashMessage }}', 10000);
                {% endfor %}
            {% endif %}
        });
        {% if app.user %}
            $(document).ready(function(){
                
                
                $(window).bind('beforeunload', function(){ 
                    $('.chatbox_container').css({ display:'none' });
                    $(".chatbox_content").mCustomScrollbar("destroy");
                    
                    $.jStorage.set('{{ (app.user.id * 9999)|base64Encode }}', $('.chatbox_list').html());
                    
                });

                var $oChatListBackup = $.jStorage.get('{{ (app.user.id * 9999)|base64Encode }}');
                $('.chatbox_list').html($oChatListBackup);
                $(".chatbox_content").mCustomScrollbar({
                    theme:"dark-thick",
                    scrollInertia: 100,
                    autoHideScrollbar: true,
                    advanced: {
                        updateOnContentResize: true, 
                        autoScrollOnFocus: true
                    }
                });
                $('.chatbox_content').each(function(index)
                {
                    $(this).mCustomScrollbar("scrollTo","bottom");
                });

                $('.list_messages a span.message_sample, .list_messages .message').emotions("{{ asset('bundles/mcore/images/emoticons/') }}");    
                
                updateRegroupementChat();

                $('.chatbox_content').each(function(index)
                {
                    $(this).mCustomScrollbar("scrollTo","bottom");
                });

                $(document).on('click', '.popup button.envoyer_message_bouton', function(e)
                {
                    e.preventDefault();
                    if ( $(this).parents('.corps').hasClass('signaler_membre') ) return false;
                    // Sauvegarde de l'ajout actuel
                    var $this = $(this);
                    $sUsername = $.trim($('.popup .dialog .username').text());
                    // Mise en place du loader
                    $this.parents('.corps').prepend("<img src='{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}' class='preloader'/>")
                    $('.ecrire_message').attr('disabled', 'disabled');
                    // Début requete AJAX
                    $.ajax({
                        url: "{{ path('m_core_profile_messages_nouveau') }}",
                        type: "POST",
                        data: { username: $sUsername, message: $('.ecrire_message').val() }
                    // Quand la requete retourne une réponse
                    }).done(function( data ) {
                        // Disparition du loader
                        $(".loader").css({ display:"none" });
                        if ( console && console.log ) 
                        {   
                            // Si la requete retourne un succés
                            if ( data.split(':')[0] === "success" )
                            {
                                deletePopup();
                                popMeOnSuccess('Message envoyé avec succés');
                            }
                            else alert("Un problème est survenu au niveau du serveur");
                        }
                    }).fail(function( data ){
                        alert("Un problème est survenu");
                    });
                });
                

                var conn = new ab.Session(
                    'ws://rencontres-et-vous.ma:7979' , function() 
                    {
                        conn.subscribe('message', function(topic, data) {
                            var $oData = data;
                            if (topic === "message")
                            {
                                /*
                                    DETECTION SI L'ESPACE DE TRAVAIL EST LE CHAT OU BIEN LA PAGE DE MESSAGES
                                    PAGE DE MESSAGES
                                */
                                /*
                                    0 : Aucune page, aucun signal, aucune transmission (NO AJAX)
                                    1 : Page message, fetch du message et implantation au correspondant (AJAX)
                                    2 : Chat
                                        2.1 : Demande de chat (NO AJAX)
                                        2.2 : Implémentation à la conversation de chat (AJAX)          
                                */

                                var $bPageMessage = 0;
                                var $sUsername = $oData.sUsername;
                                var $sImageProfilUserSender = $('.chatbox_content.' + $sUsername).parents('.chatbox').find('.imageSenderHidden').text();
                                var $sUserURL = "{{ app.request.get('suser') }}";

                                if ( $sUserURL.length > 2 && 
                                     window.location.pathname === "{{ path('m_core_profile_messages', {'suser': app.request.get('suser') }) }}" && 
                                     $sUsername === "{{ app.request.get('suser') }}" &&
                                     $oData.sUsernameR === '{{ app.user.username }}'
                                    )
                                {
                                    console.log('1');
                                    $bPageMessage = 1;
                                    $  = '{% if sImageProfilUserSender is defined %}{{ sImageProfilUserSender }}{% endif %}';
                                }
                                else if ( $oData.sUsernameR === '{{ app.user.username }}' )
                                {
                                    console.log('2');
                                    $bPageMessage = 2;
                                    /*
                                        AUCUNE CONVERSATION EN COURS
                                        DECLENCHEMENT DES NOTIFICATIONS DE DEMANDE DE CHAT
                                    */
                                    if ( $('.chatbox_content.' + $sUsername).length === 0 )
                                    {
                                        alert('introuvable');
                                        $bPageMessage = 2.1;
                                        console.log('2.1');
                                        updateDemandeChat("{{ path('m_core_profile_ajax_demande_de_chat') }}");
                                    }
                                    /*
                                        UNE CONVERSATION EN COURS
                                        MISE EN PLACE DU MESSAGE
                                    */
                                    else
                                    {
                                        alert('trouvé');
                                        console.log('2.2');
                                        $bPageMessage = 2.2;    
                                    } 
                                }
                                console.log('3');
                                if ( $bPageMessage === 1 || $bPageMessage === 2.2 )
                                {
                                    console.log('4');
                                    // Début requete AJAX
                                    $.ajaxq('getMessage', {
                                        url: "{{ path('m_core_profile_messages_lookformessage') }}",
                                        type: "POST",
                                        data: { 
                                            iSenderID: $oData.iSenderID, 
                                            sSenderTocken: $oData.sSenderTocken, 
                                            iReceiverID : $oData.iReceiverID, 
                                            sReceiverTocken : $oData.sReceiverTocken, 
                                            sDateEnvoi : $oData.sDateEnvoi 
                                        }
                                    // Quand la requete retourne une réponse
                                    }).done(function( data ) {
                                        $oData = $.parseJSON(data);
                                        if ( console && console.log )
                                        {
                                            console.log('5');
                                            var sSexe = ($('body').hasClass('Homme')) ? 'homme' : 'femme';
                                            if ( $bPageMessage === 1 )
                                            {
                                                console.log('6');
                                                appendToMessageConv(
                                                        'Received', 
                                                        $('ul.liste'), 
                                                        $sUserURL, 
                                                        $sImageProfilUserSender, 
                                                        $oData[0].message, 
                                                        $oData[0].id, 
                                                        sSexe
                                                    );
                                                $('.list_messages .message').emotions("{{ asset('bundles/mcore/images/emoticons/') }}");   
                                                $(".chatbox_content." + $sUsername).mCustomScrollbar("scrollTo","bottom"); 
                                            }
                                            else if ( $bPageMessage === 2.2 )
                                            {
                                                console.log('7');
                                                if ( $('.chatbox_content.' + $sUsername).parents('li.chatbox').hasClass('reduced') )
                                                {
                                                    $('.chatbox_content.' + $sUsername).parents('li.chatbox').addClass('new');
                                                }
                                                $('.chatbox_content.' + $sUsername + ' .mCSB_container').append(
                                                    appendToChatBox('{{ app.user.username }}', $sImageProfilUserSender, $sUsername, $oData[0].message, 'm' + $oData[0].id, $oData[0].dateEnvoi)
                                                );
                                                console.log('8');
                                                $('.list_messages .message').emotions("{{ asset('bundles/mcore/images/emoticons/') }}");
                                                $('.chatbox_content.' + $sUsername).mCustomScrollbar('update');
                                                $(".chatbox_content." + $sUsername).mCustomScrollbar("scrollTo","bottom");
                                                console.log('9');
                                            }
                                            
                                        }
                                    }).fail(function( data ){
                                        alert("Un problème est survenu (Problème serveur)");
                                    });
                                }
                            }
                            console.log(topic);
                            console.log(data);
                        });
                    }, function() 
                    {    
                        console.warn('WebSocket connection closed');
                    },
                    {                      
                        'skipSubprotocolCheck': true
                    }
                );
            });
        {% endif %}
        $(document).ready(function(){
            $.fn.powerTip.defaults.placement = 'n';
            $('.tooltip').powerTip({
                placement: 'n'
            });

            var Clicked = false;
            $(document).on('submit', '#auth', function(){
                $aPaths = ['{{ asset(roots.documents.CGU) }}', '{{ asset(roots.documents.CharteQualite) }}'];
                popUpCreate('', 'valider_conditions', $aPaths);
                return ( !Clicked ) ? false : true;
            });
            $(document).on('click', '.accepter_conditions', function(){
                Clicked = true;
                $("#auth").submit();
            });

            $(document).on('click', '.decliner_conditions', function(){
                deletePopup();
            });
            $(document).on('click', '.nous_contacter_bouton a', function(e){
                e.preventDefault();
                popUpCreate("{{ path('m_core_profile_send_contact_form') }}", 'nous_contacter');
            });
            $(document).on('click', '.oublie_auth', function(e){
                e.preventDefault();
                $this = $(this);
                if ( $.trim($('.username_auth').val()).length <= 5 ) 
                {
                    popMeOnError(Array('Oublie de mot de passe', 'Merci de saisir votre pseudo/email avant de ne procéder à la récupération de votre mot de passe'));
                }
                else
                {
                    $('.usernameOrEmail').val($.trim($('.username_auth').val()));
                    $('.usernameOrEmailForm').submit();
                }
            });
            $(document).on('click', '.redirectA', function(e) 
            {
                e.preventDefault();
                $oHtml = '\
                    <p>Veuillez vous abonner pour pouvoir utiliser cette fonctionnalité.</p>\
                    <div class="bouttons" >\
                        <button class="button close_popup">Rester sur la page</button>\
                        <a class="button" href="{{ path("m_core_profile_abonnement") }}" >S\'abonner</a>\
                    </div>\
                ';
                popUpCreate($oHtml, 'redirect_abonnement');
            })
            $.each($('option:contains("Autres")'), function(index, value){
                $oParent = $(this).parents('select');
                $(this).exchangePositionWith($oParent.children('option:last-child'));
            });
        });
    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=564615153634710";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</html>
