<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content="180">
        {% block meta %} {% endblock %}
        <title>{% block title %}Rencontres &amp; Vous - {% endblock %}</title>

        {% stylesheets  
            'bundles/mcore/css/reset-mayer.css' 
            'bundles/mcore/css/mCustomScrollbar.css' 
            'bundles/mcore/css/tooltip_skin.css' 
            'bundles/mcore/css/SlimBox.css' 
            'bundles/mcore/css/jCrop.css' 
            'bundles/mcore/css/EasyTabs.css' 
            'bundles/mcore/css/meAndYou.css' 
            'bundles/mcore/css/vitrine.css' 
            'bundles/mcore/css/etapes_inscription.css' 
            'bundles/mcore/css/GalleryView.css' 
            'bundles/mcore/css/CalendarPicker.css' 
            'bundles/mcore/css/Noty.css' 
            'bundles/mcore/css/PowerTip.css' 
            'bundles/mcore/css/OwlCarousel.css' 
            'bundles/mcore/css/OwlTransitions.css' 
            'bundles/mcore/css/OwlTheme.css' 
            'bundles/mcore/css/jReject.css' 
                filter="cssrewrite"
        %}
                
                {# 
                output='css/main.css' #}
          <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script>
            /*
                Constants
            */
            var PATH_PRELOADER = "{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}";
            var PATH_EMOTICONES = "{{ asset('bundles/mcore/images/emoticons/') }}";
            var PATH_IMAGES = "{{ asset('bundles/mcore/images/') }}";

            var PATH_DOCUMENTS_CGU = "{{ asset(roots.documents.CGU) }}";
            var PATH_DOCUMENTS_CHARTEQUALITE = "{{ asset(roots.documents.CharteQualite) }}";

            var URL_ABONNEMENT = "{{ path('m_core_profile_abonnement') }}";
            var URL_SENDCONTACTFORM = "{{ path('m_core_profile_send_contact_form') }}";
            var URL_PROFILABONNEMENT = "{{ path('m_core_profile_abonnement') }}";
            var URL_AJAXCHATGETCONTACTS = "{{ path('m_core_profile_ajax_chat_get_contacts') }}";
            var URL_GETMESSAGES = "{{ path('m_core_profile_messages_getMessages') }}";
            var URL_SETNEWCONTACT = "{{ path('m_core_profile_ajax_setNewContact') }}";
            var URL_BLOQUERCONTACT = "{{ path('m_core_profile_ajax_bloquerContact') }}";
            var URL_SIGNALERCONTACT = "{{ path('m_core_profile_ajax_signalContact') }}";
            var URL_ALLOWALBUM = "{{ path('m_core_profile_ajax_allowAlbum') }}";
            var URL_NOUVEAUMESSAGE = "{{ path('m_core_profile_messages_nouveau') }}";
            var URL_DEMANDECHATMESSAGES = "{{ path('m_core_profile_ajax_demande_de_chat_messages') }}";
            var URL_DEMANDECHAT = "{{ path('m_core_profile_ajax_demande_de_chat') }}";
            var URL_UPDATEDEMANDECHAT = "{{ path('m_core_profile_ajax_update_demande_chat_message') }}";
            var URL_ADDINCHATBOX = "{{ path('m_core_profile_ajax_addinchatbox') }}";
            var URL_GETLASTMESSAGECHAT = "{{ path('m_core_profile_ajax_getlastmessage') }}";
            var URL_DELETEFROMCHATBOX = "{{ path('m_core_profile_ajax_deletefromchatbox') }}";

            

            





            {% if app.user %} 
                var ACTUALUSERNAME      = '{{ app.user.username|capitalize }}';
                var ENCODED_ID          = "{{ (app.user.id * 9999)|base64Encode }}";  

                var USER_ACTUALUSERNAME = ACTUALUSERNAME;
                var USER_IDENCODED      = ENCODED_ID;
                var USER_TOCKENENCODED  = "{{ ('rencontres' ~ app.user.salt)|base64Encode }}";
                var USER_VILLE          = "{{ app.user.ville.nom }}";
                var USER_AGE            = "{{ app.user.age }}";
                var USER_SEXE           = "{% if app.user.sexe == 0 %}homme{% else %}femme{% endif %}";
                var USER_BLOQUE         = [{% for iKey, sValue in app.user.contactbloque %}"{{ (iKey * 9999)|base64Encode }}"{% if not loop.last %},{% endif %}{% endfor %}];
                var USER_ALBUM          = [{% for iKey, sValue in app.user.allowToAlbum %}"{{ (iKey * 9999)|base64Encode }}"{% if not loop.last %},{% endif %}{% endfor %}];
                var USER_URLPROFIL      = "{{ path('m_core_profile_voir', {'sUser': app.user.username }) }}";
                var USER_ROLE           = "{{ app.user.roles[0] }}";                                        
                                    
                var USER_IMG            = "{{ app.user.id|getImageByUsernameID(50, 50) }}";
                var aUtilisateur = [];
            {% else %}    
                var ACTUALUSERNAME      = "";    
                var ENCODED_ID          = "";  

                var USER_ACTUALUSERNAME = "";
                var USER_IDENCODED      = "";
                var USER_TOCKENENCODED  = "";
                var USER_VILLE          = "";
                var USER_AGE            = "";
                var USER_IMG            = "";
                var USER_SEXE           = "";
                var USER_BLOQUE         = "";
                var USER_ALBUM          = "";
                var USER_URLPROFIL      = "";
                var USER_ROLE           = "";
            {% endif %}
            
            
            
        </script>

        <script src="http://rencontres-et-vous.ma:1337/socket.io/socket.io.js"></script>

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=fr"></script>
        {% javascripts 
            'bundles/mcore/js/When.js'
            'bundles/mcore/js/AutoBahn.js'
            'bundles/mcore/js/Json2.js'
            'bundles/mcore/js/jQuery.js'
            'bundles/mcore/js/jQueryMigrate.js'
            'bundles/mcore/js/jStorage.js'
                                   %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}


        {% if is_granted("ROLE_FREE") %}
            {% javascripts 'bundles/mcore/js/DoSomething/ClientNotAllowed.js' 
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}    
                {# output='js/main2.js' #}
        {% else %}
            {% javascripts 'bundles/mcore/js/DoSomething/ClientAllowed.js'  
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
                {# output='js/main3.js' #}
        {% endif %}

        {% javascripts 
            'bundles/mcore/js/AjaxQ.js'
            'bundles/mcore/js/Mousewheel.min.js'
            'bundles/mcore/js/mCustomScrollbar.min.js'
            'bundles/mcore/js/SkyCarousel.js'
            'bundles/mcore/js/Gmap3.js'
            'bundles/mcore/js/SlimBox.js'
            'bundles/mcore/js/OwlCarousel.js'
            'bundles/mcore/js/PowerTip.js'
            'bundles/mcore/js/GalleryView.js'
            'bundles/mcore/js/Timers.js'
            'bundles/mcore/js/jCrop.js'
            'bundles/mcore/js/HashChange.js'
            'bundles/mcore/js/Emoticons.js'
            'bundles/mcore/js/Calendar.js'
            'bundles/mcore/js/CalendarPlus.js'
            'bundles/mcore/js/CalendarPicker.js'
            'bundles/mcore/js/CalendarPickerLang.js'
            'bundles/mcore/js/EasyTabs.js'
            'bundles/mcore/js/Noty.js'
            'bundles/mcore/js/jReject.js'
            'bundles/mcore/js/DoSomething/Functions.js'
            'bundles/mcore/js/DoSomething/Things.js' 
            'bundles/mcore/js/DoSomething/Module_CropMe.js' 
                                   %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
    </head>
    <body class="{% if app.user %}{% if app.user.sexe == 0 %}Homme{% elseif app.user.sexe == 1 %}Femme{% endif %}{% endif %}">
        <div class="container_principal">
            <div class="logo_principal">
                <a href="{% if app.user %} {{ path('m_core_profile') }} {% else %} {{ path('m_core_homepage') }} {% endif %}" title="Rencontres &amp; Vous - Entre Célibataires Sérieux au Maroc">Rencontres &amp; Vous - Entre Célibataires Sérieux au Maroc</a>
            </div>
            {% set root = app.request.attributes.get('_route') %}
            {% if root != 'm_core_registration' and 
                  root != 'm_core_registration_step1' and 
                  root != 'm_core_registration_step2' and 
                  root != 'm_core_registration_step3'
            %}
                {% include 'MCoreBundle::Authentication.html.twig' %} 
            {% endif %}
            {% block body %}{% endblock %}
        </div> 
        <footer>
             <div class="footer_top">
                <div class="footer_handler">
                    <div class="footer_block1 footer_block">
                        <div class="fb-like-box" data-href="https://www.facebook.com/pages/Rencontres-Vous/711248492249485" data-width="220" data-height="200" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                    </div>
                    <div class="footer_block2 footer_block">
                        <h3>Plan du site</h3>
                        <ul>
                            <li><a href="{{ path('m_core_homepage_decouvrir') }}" title="Notre concept">Notre concept</a></li>
                            <li><a href="{{ path('m_core_homepage_temoignages') }}" title="Témoignages">Témoignages</a></li>
                            <li><a href="{{ path('m_core_homepage_evenements') }}" title="Sorties entre célibataires">Sorties entre célibataires</a></li>
                            <li><a href="{{ path('m_core_homepage_rencontres') }}" title="Rencontres au Maroc">Rencontres au Maroc</a></li>
                            <li><a href="{{ path('m_core_homepage_services') }}" title="Service personnalisé">Coaching</a></li>
                            <li><a href="{{ path('m_core_homepage_presse') }}" title="Revue de presse">Revue de presse</a></li>
                        </ul>
                    </div>
                    <div class="footer_block3 footer_block">
                        <h3>Informations</h3>
                        <ul>
                            <li><a href="{{asset(roots.documents.CGU)}}" title="CGUV" target="_blank">CGUV</a></li>
                            <li><a href="{{asset(roots.documents.CharteQualite)}}" title="Charte Qualité" target="_blank">Charte Qualité</a></li>
                            <li><a href="{{asset(roots.documents.FAQS)}}" title="Faqs" target="_blank">Faqs</a></li>
                            <li><a href="{{asset(roots.documents.Recrutement)}}" title="Recrutement" target="_blank">Recrutement</a></li>
                            <li class="nous_contacter_bouton"><a href="#" title=">Nous contacter" >Nous contacter</a></li>
                        </ul>
                    </div>
                    <div class="footer_block4 footer_block">
                        <h3 class="centred">Nous suivre</h3>
                        <ul>
                            <li class="social facebook"><a href="https://www.facebook.com/pages/Rencontres-Vous/711248492249485" class="text-indent" title="Rejoignez nous sur Facebook" target="_blank">Facebook</a></li>
                            <li class="social twitter"><a href="https://twitter.com/RV_maroc" class="text-indent" title="Rejoignez nous sur Twitter" target="_blank">Twitter</a></li>
                            <li class="social google"><a href="https://plus.google.com/101628787872181534013" class="text-indent" title="Rejoignez nous sur Google+" target="_blank">Google+</a></li>
                        </ul>
                    </div>
                    <div class="footer_block5 footer_block">
                        <img src="{{ asset('bundles/mcore/images/logo.png') }}" class="logo" alt="Site rencontre Maroc" />
                    </div>
                </div>
             </div>

             {% if app.session.flashbag.has('recuperation') %}
                 <div class="hidden form_content_edit_pass">
                    <form method="post" class="form_edit_pass" action="{{ path('m_core_homepage_newpassword') }}" >
                        <div class="block_field">   
                            <span class="circle"></span>
                            <label for="nouveau_passe" >Nouveau mot de passe :</label>
                            <input type="password" pattern="^(?=.*?[A-Za-z])(?=.*?[0-9]).{8,20}$" required id="nouveau_passe" name="nouveau_passe" >
                        </div> 
                        <div class="block_field">
                            <span class="circle"></span>
                            <label for="confirmation_passe" >Confirmation :</label>
                            <input type="password" pattern="^(?=.*?[A-Za-z])(?=.*?[0-9]).{8,20}$" required id="confirmation_passe" name="confirmation_passe" >
                        </div> 
                        {% set sRecuperation = '' %}
                        {% for iKey, flashMessage in app.session.flashbag.get('recuperation') if iKey < 1 %}
                            {% set sRecuperation = flashMessage %}
                        {% endfor %}
                        <input type="hidden" name="recuperation" value="{{ sRecuperation }}">
                        <input type="submit" value="Enregistrer" name="changer_passe" class="button" >
                    </form>
                </div>
            {% endif %}

             <div class="footer_bottom">
                <p>&copy; 2014 - all right reserved - Rencontres &amp; Vous</p>
             </div>
        </footer> 
        {% if is_granted("ROLE_FREE") %}
            {% javascripts 'bundles/mcore/js/DoSomething/IsNotAllowed.js' 
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}    
                {# output='js/main2.js' #}
        {% else %}
            {% javascripts 'bundles/mcore/js/DoSomething/IsAllowed.js'  
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
                {# output='js/main3.js' #}
        {% endif %}


        {% javascripts 
            'bundles/mcore/js/DoSomething/Base.js'
            'bundles/mcore/js/DoSomething/Layout.js'
                                   %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
            {# output='js/main4.js' #}

        {% if app.user %}
            {% javascripts 'bundles/mcore/js/DoSomething/Authenticated.js' 
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}    
                {# output='js/main5.js' #}
        {% endif %} 

    </body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-50419037-1', 'rencontres-et-vous.ma');
      ga('send', 'pageview');
    </script>
    <script>
        $(document).ready(function(){
            {% if app.session.flashbag.has('error') %}
                var $aError = Array();
                {% for iKey, flashMessage in app.session.flashbag.get('error') %}
                    var $sError = '{{ flashMessage }}';
                    var $_aError = $sError.split(':');
                    $aError.push($_aError[0], $_aError[1]);
                {% endfor %}
                popMeOnError($aError);
            {% endif %}

            {% if app.session.flashbag.has('success') %}
                {% for iKey, flashMessage in app.session.flashbag.get('success') %}
                    popMeOnSuccess('{{ flashMessage }}', 10000);
                {% endfor %}
            {% endif %}
            {% if sRecuperation is defined %}
                popUpCreate($(".form_content_edit_pass").html(), 'edit_pass', PATH_IMAGES);
            {% endif %}
        });
    </script>
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) 
    {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); 
        js.id = id;
        js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=750264558319489";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
</html>
