{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>{{sUsername|capitalize}},</p>
	<p>Nous vous confirmons que votre abonnement est actif et valide jusqu'au {{sDate}}</p>
	<p align="center">Connectez-vous sur <a href="http://www.rencontres-et-vous.ma">http://www.rencontres-et-vous.ma</a></p>
	<p>Merci pour votre confiance, à très bientôt !</p>
	<p>Rencontres &amp; Vous vous souhaite de belles rencontres.</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}