<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	    <title>Rencontres et Vous</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <meta content="width=device-width">
	    <style type="text/css">
		    body, td { font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; font-size:14px; }
		    body { background-color: #2A374E; margin: 0; padding: 0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
		    h2{ padding-top:12px; /* ne fonctionnera pas sous Outlook 2007+ */color:#0E7693; font-size:22px; }
	    </style>
	</head>
	<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
	    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:rgb(255, 255, 255)">
	        <tbody>
	            <tr>
	                <td align="center" bgcolor="#FFFFFF">
	                    <table cellpadding="0" cellspacing="0" border="0">
	                        <tbody>                            
	                            <tr class="pagetoplogo">
	                                <td class="w640" width="640">
	                                    <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#F2F0F0">
	                                        <tbody>
	                                            <tr>
	                                                <td class="w580" width="580" valign="middle" align="left">
	                                                    <div class="pagetoplogo-content">
	                                                    	<a style="color:#58585a;" href="www.rencontres-et-vous.ma">
	                                                    		<span style="color:#58585a;">
	                                                       			<img class="w580" style="text-decoration: none; display: block; font-size:30px;" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/mcore/images/mail_banniere.jpg') }}" alt="Rencontres-et-vous" width="640" height="108">
	                                                    		</span>
	                                                    	</a>
	                                                    </div>
	                                                </td> 
	                                            </tr>
	                                        </tbody>
	                                    </table>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td class="w640" width="640" height="1" bgcolor="#FFFFFF"></td>
	                            </tr>
	                            <tr class="content">
	                                <td class="w640" width="640" bgcolor="#ffffff">
	                                    <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
	                                        <tbody>
	                                            <tr>
	                                                <td class="w30" width="30"></td>
	                                                <td class="w580" width="580">
	                                                    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
	                                                        <tbody>
	                                                        	<tr><td height="30"></td></tr>
	                                                            <tr>
	                                                                <td class="w580" width="580">
	                                                                    <div align="left" class="article-content">
	                                                                    	{% block body %}{% endblock %}
	                                                                    </div>
	                                                                </td>
	                                                            </tr>
	                                                            <tr><td height="30"></td></tr>
	                                                        </tbody>
	                                                    </table>
	                                                </td>
	                                                <td class="w30" width="30"></td>
	                                            </tr>
	                                        </tbody>
	                                    </table>
	                                </td>
	                            </tr>
	                            <tr class="pagebottom">
	                                <td class="w640" width="640">
	                                    <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#bcbdc0">
	                                        <tbody>
	                                            <tr>
	                                                <td colspan="5" height="10"></td>
	                                            </tr>
	                                            <tr>
	                                                <td class="w30" width="30"></td>
	                                                <td class="w580" width="580" valign="top">
	                                                	<p align="left">
	                                                		<a style="color:#58585a;text-decoration: none;font-size:11px;" href="www.rencontres-et-vous.ma">
	                                                			<span style="color:#58585a;text-decoration: none;font-size:11px;">Vous recevez ce message car vous êtes membre du site «Rencontres &amp; Vous». Ce message est etabli a l'intention exclusive de ses destinataires. Si vous recevez ce message par erreur, merci de le détruire.Toute utilisation de ce message non conforme a sa destination, toute di usion ou toute publication, totale ou partielle, est interdite, sauf autorisation expresse. Pour toute question ou remarque, contactez-nous sur notre site internet : www.rencontres-et-vous.ma</span>
	                                                		</a>
	                                                	</p>
	                                                </td>
	                                                <td class="w30" width="30"></td>
	                                            </tr>
	                                            <tr>
	                                                <td colspan="5" height="10"></td>
	                                            </tr>
	                                        </tbody>
	                                    </table>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td class="w640" width="640" height="60"></td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</body>
</html>
