{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>{{sUsername|capitalize}},</p>
	<p>Oooops… ! Nous vous informons que les changements effectués sur votre profil ont été refusés.
	Nous vous invitons à relire scrupuleusement les conditions générales d'utilisation et/ou à la charte qualité du site Rencontres &amp; Vous.</p>
	<p align="center">Retentez votre chance en cliquant sur  <a href="{{url('m_core_homepage')}}">
	 Rencontres &amp; Vous.ma</a> </p>
	<p>Bonne navigation !</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}