{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>Nous vous confirmons que votre abonnement est actif et valide jusqu'au {{date}}</p>
	<p align="center">Connectez-vous sur <a href="http://www.rencontres-et-vous.ma">http://www.rencontres-et-vous.ma</a></p>
	<p>Nous vous souhaitons de belles rencontres sur notre site,</p>
	<p>Merci pour votre confiance</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}