{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>Cher membre de l'équipe Rencontres-et-vous</p>
	<p>Vous avez reçu une demande de contact via le formulaire de contact du site</p>
	<p><b>Nom Prénom :</b> {{info.nomprenom}}</p>
	<p><b>E-Mail :</b> {{info.email}}</p>
	<p><b>Tel :</b> {{info.tel}}</p>
	<p><b>Objet :</b> {{info.objet}}</p>
	<p><b>Message :</b> {{info.message}}</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}