{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>{{sUsername|capitalize}},</p>
	<p>Vous avez reçu un nouveau coup de cœur de {{user|capitalize}}.  Nous vous invitons à vous connecter sur notre site pour le visualiser.</p> 
	<p>Si vous ne souhaitez plus recevoir d'alertes lorsqu'un membre vous adresse un coup de coeur, vous pouvez désactiver cette fonctionnalité depuis « mon compte » sur notre site. </p> 
	<p>Bonne navigation!</p>
	<p>Rencontres &amp; Vous vous souhaite de belles rencontres.</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}