{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>{{sUsername|capitalize}},</p>
	<p>Nous vous confirmons avoir enregistré votre demande de désinscription du site Rencontres &amp; Vous et nous vous informons avoir supprimé définitivement votre compte.</p>
	<p>Nous espérons que vous avez trouvé l’âme sœur sur Rencontres &amp; Vous !</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}