{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>{{sUsername|capitalize}},</p>
	<p>Nous vous confirmons que votre réservation pour la sortie {{event}} a été validée.</p>
	<p>N’oubliez pas de vous présenter avec votre bon de facturation le jour de la sortie.</p>
	<p>Nous vous rappelons qu'en cas d'annulation ou non présence de votre part, votre paiement ne vous sera pas remboursé.</p>
	<p>Bonne sortie!</p> 
	<p>Rencontres &amp; Vous vous souhaite de belles rencontres.</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}