{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>{{sUsername|capitalize}},</p>
	<p>Nous vous informons avoir décliné votre demande de création de sortie .</p>
	<p>{{sMessage}}</p>
	<p align="center">Merci de renouveler une demande en tenant compte scrupuleusement des points cités ci-dessus. Connectez-vous sur <a href="http://www.rencontres-et-vous.ma">http://www.rencontres-et-vous.ma</a></p>
	<p>Amicalement,</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}