{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>{{sUsername|capitalize}},</p>
	<p>Nous vous confirmons avoir reçu votre demande de création de sortie. Votre sortie sera validé sous 24h à 48h. Si besoin   La personne responsable des sorties de Rencontres &amp; vous contactera</p>
	<p>En espérant une fructueuse, ludique et sympathique collaboration,</p>
	<p>Rencontres &amp; Vous vous dit à bientôt !</p> 
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}