{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>Nous vous rappelons que vous participez à l’événement {{event}}, {{date}}.</p> 
	<p>Nous vous souhaitons de belles rencontres sur notre site.</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}