{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>{{sUsername|capitalize}},</p>
	<p>Nous vous confirmons avoir validé votre demande de création de sortie. Vous pouvez la visualiser et la suivre en vous rendant sur la page « sorties ».</p>  
	<p>Connectez-vous sur <a href="http://www.rencontres-et-vous.ma">http://www.rencontres-et-vous.ma</a></p> 
	<p>Nous vous souhaitons de passer de bons moments avec les membres de la communauté,</p> 
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}