{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>Vous avez reçu un message de Rencontres &amp; Vous
	Nous vous souhaitons de belles rencontres sur notre site,</p>
	<p>Rencontres &amp; Vous</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}