{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>{{sUsername|capitalize}}</p>
	<p>Nous avons le plaisir de vous confirmer avoir reçu votre demande d'inscription sur Rencontres &amp; Vous. Votre inscription sera traitée dans un délai de 24 h à 48 h maximum.</p>
	<p>Rencontres &amp; Vous vous souhaite de belles rencontres.</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}