{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>{{sUsername|capitalize}},</p>
	<p>Suite a votre oublie de mot de passe nous vous invitons à cliquer sur le lien suivant pour changer votre Mot de passe:</p>
	<p align="center">
		<a href="{{ url('m_core_homepage_recuperation', { 'sActivation': code })}}" target="_blank" shape="rect"><span>Changer le Mot de passe de votre compte</span></a>
	</p>
	<p>Bonne navigation !</p>
	<p>Rencontres &amp; Vous vous souhaite de belles rencontres.</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}
