<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Message de Rencontres & vous</title>
</head>
<body>
	<table style="font-family: Verdana,sans-serif; font-size: 11px; color: #374953; width: 550px;">
<tbody>

<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Bonjour <strong style="color: {color};">{{username}}</strong>, merci d&#039;avoir pass&eacute; commande chez <strong>rencontres-et-vous.ma</strong> !</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="background-color: {color}; color: #fff; font-size: 12px; font-weight: bold; padding: 0.5em 1em;" align="left">D&eacute;tails de la commande</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Commande : <strong><span style="color: {color};">{{codeCommande}}</span></strong> <br />Mode de paiement : <strong>{{modePaiement}}</strong></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">
<table style="width: 120%; font-family: Verdana,sans-serif; font-size: 11px; color: #374953;"><!-- Title -->
<tbody>
<tr style="background-color: #464648; text-align: center;color:#fff"><th style="width: 50%; padding: 0.6em 0;" colspan="2">Offre</th><th style="width: 20%; padding: 0.6em 0;">Prix unitaire</th><th style="width: 15%; padding: 0.6em 0;">R&eacute;duction</th><th style="width: 20%; padding: 0.6em 0;">Prix total</th></tr>
<tr>
<td >{{offre}}</td>
<td>&nbsp;</td>
<td>{{ prixUnitaire}} Dhs</td>
<td>- {{reduction}} %</td>
<td> {{ prixRemise}} Dhs</td>
</tr>
<tr style="text-align: right;">
<td>&nbsp;</td>
<td style="background-color: #b9babe; padding: 0.6em 0.4em;" colspan="3">Total produits</td>
<td style="background-color: #b9babe; padding: 0.6em 0.4em;">{{prixUnitaire}} Dhs</td>
</tr>
<tr style="text-align: right;">
<td>&nbsp;</td>
<td style="background-color: #ebecee; padding: 0.6em 0.4em;" colspan="3">R&eacute;ductions</td>
<td style="background-color: #ebecee; padding: 0.6em 0.4em;">{{reduction}} %</td>
</tr>
<tr style="text-align: right; font-weight: bold;">
<td>&nbsp;</td>
<td style="background-color: #0090ba; padding: 0.6em 0.4em;color:#fff" colspan="3">Total pay&eacute;</td>
<td style="background-color: #0090ba; padding: 0.6em 0.4em;color:#fff">{{prixRemise}} Dhs</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>
</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="font-size: 10px; border-top: 1px solid #D9DADE;" align="center"><a style="color: {color}; font-weight: bold; text-decoration: none;" href="http://rencontres-et-vous.ma">Rencontres & vous</a></td>
</tr>
</tbody>
</table>
</body>
</html>