{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	{% set sUrl= url('m_core_homepage_parrainage' , {'sponsor':sEncryptedEmail}) %}
	<table style="font-family:Verdana,sans-serif; font-size:11px; color:#374953; width: 100%;">
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td align="left">Bonjour,</td>
		</tr>
		<tr style="line-height: 16px;">
			<tr> <td> Pour son lancement <a href="http://rencontres-et-vous.ma" style="color:#000"> Rencontres-et-vous.ma</a> sélectionne ses membres d'honneur afin de créer la 1ère communauté de célibataires sérieux au Maroc. </td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td align="left" style="line-height:18px; font-size: 12px; font-weight:bold;"><strong>{{username}}</strong>, déjà membre d'honneur du site souhaite vous parrainer et vous faire bénéficier d'1 an d'abonnement grauit. </td>
		</tr>
		<tr><td>&nbsp;</td></tr>

		<tr>
			<td align="left">
				<a href="{{sUrl}}" title="s'inscrire" style="font-family:Verdana,sans-serif; font-size:11px; color:#374953;">Pour profiter de cette offre exclusive et rejoindre la communauté, cliquez-ici !</a>
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td align="left">"Parce que la vie est faites de rencontres"</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td align="center" style="font-size:10px; border-top: 1px solid #D9DADE;">
				<a href="http://www.rencontres-et-vous.ma">Rencontres & vous</a>
			</td>
		</tr>
	</table>
{% endblock %}
