{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>Oooops… ! Nous vous informons que votre inscription a été rejetée car votre description, votre  photo ne correspondent pas aux conditions générales d'utilisation et/ou à la Charte Qualité de Rencontres &amp; Vous.</p>
	<p align="center">
		Réessayez en cliquant sur le lien ci-dessous et en suivant scrupuleusement les instructions : <a href="{{url('m_core_homepage')}}"><span>Rencontres &amp; Vous.ma</span></a>  
	</p>
	<p>Bonne inscription !</p>
	<p>Rencontres &amp; Vous vous souhaite de belles rencontres.</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}