{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>{{sUsername|capitalize}},</p>
	<p>Nous vous confirmons que votre abonnement a été résilié avec succès et que vos informations de compte ont été définitivement supprimées.</p>
	<p>Connectez-vous sur <a href="http://www.rencontres-et-vous.ma"><span>http://www.rencontres-et-vous.ma</span></a></p>
	<p>Nous espérons que vous avez trouvé l’âme sœur grâce à Rencontres &amp; Vous !</p>
	<p>Rencontres &amp; Vous</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}