{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>{{sUsername|capitalize}},</p>
	<p>Nous vous informons avoir reçu des signalements d'autres membres de Rencontres &amp; Vous concernant votre comportement sur le site.</p>
	<p>Nous vous avertissons qu’en cas de nouveaux signalements d'autres membres vous concernant, nous serons dans l'obligation de désactiver votre compte et de résilier votre abonnement sans préavis ni remboursement de l'abonnement en cours, comme indiqué dans les CGUV.</p>
	<p>Bonne navigation !</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}