{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>Rencontres &amp; Vous vous informe de la désactivation de votre compte et donc de la résiliations de votre abonnement sans préavis ni remboursement pour non respect des conditions générales d'utilisation et de vente et/ou à la charte qualité du site Rencontres &amp; Vous.</p>
	<p>Toutes les information sur votre compte {{user|capitalize}} seront supprimés dans un délais de 30 jours</p>
	<p>En cas ou vous souhaiteriez contestez cette suppression de compte, nous invitons à sélectionner « service clientèle » dans le formulaire disponible sur rencontres-et-vous.ma</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}

