{% extends 'MCoreBundle:Mail:base.html.twig' %}

{% block body %}
	<p>{{sUsername|capitalize}},</p>
	<p>Votre inscription a bien été validée par notre équipe de modérateurs. Bienvenue dans la première communauté de célibataires sérieux au Maroc, cliquez sur le lien suivant pour activer votre compte:</p>
	<p align="center">
		<a href="{{url('m_core_homepage_activation', { 'sActivation': code })}}"><span>Activer votre compte</span></a>
	</p>
	<p>Bonne navigation !</p>
	<p>Rencontres &amp; Vous vous souhaite de belles rencontres.</p>
	<p><a href="rencontres-et-vous.ma">Rencontres &amp; Vous </a></p>
{% endblock %}