{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		<section class="resultat messages messages_recus">
			<h3>Mes Messages</h3>
			<div class="pagination header_pagination">
				<span class="nb_resultat">
					Vous avez  {{ iTotalResult }}{% if iTotalResult   > 1 %} messages{% else %} message{% endif %}
				</span>	
				{% include 'MCoreBundle:Profile:paginator.html.twig' %}
			</div>
			{% include 'MCoreBundle:Messages:menu.html.twig' %}
			<div class="filtre">
			</div>
			{% if aResult|length == 0 %}
				<div class="not_found">
					<p>Vous n'avez envoyé aucun message pour l'instant</p>
				</div>
			{% else %}
				<div class="list_messages">
					<form method="post" {{ form_enctype(oForm) }} class="form_corps">
						<div class="entete">
							<div class="arrivage_message">
								<p>{% if iTotalResult  < 10 %} 1 - {{iTotalResult}} {% else %} {{iFirstResult + 1}} - {% if iTotalResult - iFirstResult > 10 %} {{iFirstResult + 10 }} {% else %} {{iTotalResult}} {% endif %}{% endif %} sur {{ iTotalResult }} messages envoyés</p>
							</div>
							<div class="tout_selectionner">
								<label for="tout_selectionner">Tout selectionner :</label>
								<input type="checkbox" name="tout_selectionner" class="checkall">
							</div>
						</div>
			<ul class="liste">
				{% for oUser in aResult %}
					<li>
						<div class="left">
							<img src="{{ oUser.image }}" alt="{{ oUser.username|capitalize }}" />
							<a href="{% if is_granted('ROLE_USER') %}{{ path('m_core_profile_messages', {'suser' : oUser.username  }) }}{% else %}{{ path('m_core_profile_abonnement') }}{% endif %}">
								<span class="connectivite{% if oUser.enLigne %} enligne{% else %} horsligne{% endif %}"></span>
								<span class="username">{{ oUser.username|capitalize }}</span>
								<span class="message_sample">{{ oUser.Message }}{% if oUser.Message|length > 57 %}...{% endif %}</span>
							</a>
						</div>
						<div class="right">
							<div class="time_container">
								<span class="date_envoi">{{ oUser.dateEnvoi }}</span>
								<span class="checkbox"><input type="checkbox" name="m_corebundle_usertype[delete_message][Sended][]" value="{{ oUser.id }}" /></span>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
						{{ form_widget(oForm._token) }}	
		  	 			<input type="submit" value="Supprimer le(s) message(s)" class="button supprimer_tout">
		  	 		</form>
				</div>
	  	 	{% endif %}
			<div class="pagination header_pagination">
				<span class="nb_resultat">
					Vous avez  {{ iTotalResult  }}{% if iTotalResult   > 1 %} messages{% else %} message{% endif %}
				</span>	
				{% include 'MCoreBundle:Profile:paginator.html.twig' %}
			</div>
			<script>
				
			</script>
		</section>
	</section>
{% endblock %}