{% 	set root = app.request.attributes.get('_route') %}
<nav class="boutons_message" >
	<ul>
		<li{% if root == 'm_core_profile_messages_recus' %} class="active"{% endif %}>
			<a href="{{ path('m_core_profile_messages_recus') }}" title="" class="button">Messages Reçus</a>
		</li>
		<li{% if root == 'm_core_profile_messages_envoyes' %} class="active"{% endif %}>
			<a href="{% if not is_granted('ROLE_FREE') %}{{ path('m_core_profile_messages_envoyes') }}{% else %}{{ path('m_core_profile_abonnement') }}{% endif %}" title="" class="button {% if is_granted('ROLE_FREE') %}redirectA {% endif %}">Messages Envoyés</a>
		</li>
		<li{% if root == 'm_core_profile_messages_corbeille' %} class="active"{% endif %}>
			<a href="{{ path('m_core_profile_messages_corbeille') }}" title="" class="button">Messages Supprimés</a>
		</li>
	</ul>
</nav>
