{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		<section class="resultat messages conversation_detail">
			<h3>Mes Messages - {{ app.request.get('suser') }}</h3>
			<div class="pagination header_pagination">
				{% set newNotif = 0 %}
				{% for oUser in aResult %}
					{% if not oUser.lu %}
						{% set newNotif = newNotif + 1 %}
					{% endif %}
				{% endfor %}
				<span class="nb_resultat">
					Vous avez reçu {{ newNotif  }}{% if newNotif  > 1 %} nouveaux messages{% else %} nouveau message{% endif %}
				</span>	
				<div class="navigation pagination-centered">
					{% if not is_granted('ROLE_FREE') %}
					<ul id="paginate_elements">
						{% if aPagination['prev'] != "" %}
							<li class="prev">
								<a href="{{ path('m_core_profile_messages', {'suser': aPagination['prev']}) }}" title="">Précédant</a>
							</li>
						{% endif %}
						{% if aPagination['next'] != "" %}
							<li class="next">
								<a href="{{ path('m_core_profile_messages', {'suser': aPagination['next']}) }}" title="">Suivant</a>
							</li>
						{% endif %}
					</ul>
					{% endif %}
				</div>

			</div>
			{% include 'MCoreBundle:Messages:menu.html.twig' %}
			<div class="filtre">
				<div class="tout_selectionner">
					<label for="tout_selectionner">Tout selectionner :</label>
					<input type="checkbox" name="tout_selectionner" class="checkall">
				</div>
			</div>
			{% if aResult|length == 0 %}
				<div class="not_found">
					<p>Vous n'avez aucun message pour l'instant</p>
				</div>
			{% else %}
				<form method="post" {{ form_enctype(oForm) }} class="form_corps">
					<div class="messages_caches"> 
						{% set iTotalRestant = iTotalResult - 10 %}
						<a href="#" class="prevMessages {% if iTotalRestant > 0 %}go{% endif %}" rel="next-2">
							<img src='{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}' class='preloader'/>
							<span class="nb">{% if iTotalRestant >= 0 %}{{ iTotalRestant }}{% else %}0{% endif %}</span> Messages précédants &#x25B2;
						</a>
					</div>
					<div class="list_messages conversations">
						<ul class="liste">
							{% for iKey, oUser in aResult %}
								<li class="{% if loop.last %} last{% endif %}{% if loop.first or (aResult[iKey - 1] is defined and aResult[iKey].username == aResult[iKey - 1].username) %} same{% endif %}">
									<div class="left">
										<img src="{% if oUser.username == app.user.username %}{{ sImageProfilUserActual }}{% else %}{{ sImageProfilUserSender }}{% endif %}" alt="{{ oUser.username|capitalize }}" />
										<span class="connectivite{% if oUser.enLigne %} enligne{% else %} horsligne{% endif %}"></span>
										<a href="{% if oUser.username != app.user.username and oUser.roles[0] != "ROLE_ADMIN"  %}{{ path('m_core_profile_voir', {'sUser': oUser.username}) }}{% else %}#{% endif %}"><span class="username{% if oUser.username == app.user.username %}{% if app.user.sexe == 1 %} homme{% else %} femme{% endif %}{% endif %}">{{ oUser.username|capitalize }}</span></a>{% if oUser.username != app.user.username and oUser.roles[0] != "ROLE_ADMIN"  %}<span class="extra_info">- {{ oUser.age }} ans - {{ oUser.ville }}</span>{% endif %}
										<span class="message">{{ oUser.Message }}</span>
									</div>
									<div class="right">
										<div class="time_container">
											<span class="date_envoi">{{ oUser.dateEnvoi }}</span>
											<span class="checkbox"><input type="checkbox" name="m_corebundle_usertype[delete_message][{% if (oUser.username == app.user.username or app.request.attributes.get('_route') == 'm_core_profile_messages_envoyes') %}Sended{% else %}Received{% endif %}][]" value="{{ oUser.id }}" /></span>
										</div>
									</div>
								</li>

							{% endfor %}
						</ul>
					</div>
					{% if aResult[0].roles[0] != "ROLE_ADMIN" %}
					<div class="panel">
						<textarea class="ecrire_message" {% if app.user.contactbloque[oUserReceivedID] is defined %} disabled="disabled"{% endif %}>{% if app.user.contactbloque[oUserReceivedID] is defined %}Ce membre ne souhaite plus rentrer en contact avec vous.{% endif %}</textarea>
						<div class="demandes">
							<ul>
								<li class="item1 chatter">
									<a href="#" >
										<img src="{{ asset('bundles/mcore/images/item1.png') }}">
										<p>Demander en chat</p>
									</a>
								</li>
								<li class="item3 coup_coeur">
									<a href="#" title="{{ app.request.get("suser") }}">
										<img src="{{ asset('bundles/mcore/images/item3.png') }}">
										<p>Envoyer un coup de coeur</p>
									</a>
								</li>
								<li class="item4{% if app.user.contact[oUserReceivedID]  is not defined %} ajout_contact{% endif %}">
									<a href="#" {% if app.user.contact[oUserReceivedID] is defined  %}style="opacity: 0.2; cursor: default;"{% endif %} title="{{ app.request.get("suser") }}">
										<img src="{% if app.user.sexe %}{{ asset('bundles/mcore/images/item4_h.png') }}{% else %}{{ asset('bundles/mcore/images/item4_f.png') }}{% endif %}">
										<p>Ajouter à mes contacts</p>
									</a>
								</li>
								<li class="item5 signaler">
									<a href="#" title="{{ app.request.get("suser") }}">
										<img src="{{ asset('bundles/mcore/images/signaler.png') }}">
										<p>Signaler</p>
									</a>
								</li>
								<li class="item6{% if app.user.contactbloque[oUserReceivedID] is not defined %} bloquer{% endif %}">
									<a href="#" {% if app.user.contactbloque[oUserReceivedID] is defined  %}style="opacity: 0.2; cursor: default;"{% endif %} title="{{ app.request.get("suser") }}">
										<img src="{{ asset('bundles/mcore/images/bloquer.png') }}">
										<p>Bloquer</p>
									</a>
								</li>
							</ul>
						</div>
						<div class='declenche_emo'></div>
						<button class='button {% if app.user.contactbloque[oUserReceivedID] is defined %} impossible {% endif %} envoyer_message_bouton'>Répondre</button>
						<div class='liste_emo' >
							<ul>
								<li><img alt='o:)' title='o:)' src='{{ asset('bundles/mcore/images/emoticons/angel.gif') }}' /></li>
								<li><img alt='o.O' title='o.O' src='{{ asset('bundles/mcore/images/emoticons/confused.gif') }}' /></li>
								<li><img alt='3:)' title='3:)' src='{{ asset('bundles/mcore/images/emoticons/devil.gif') }}' /></li>
								<li><img alt=':O' title=':O' src='{{ asset('bundles/mcore/images/emoticons/gasp.gif') }}' /></li>
								<li><img alt=':D' title=':D' src='{{ asset('bundles/mcore/images/emoticons/grin.gif') }}' /></li>
								<li><img alt='<3' title='<3' src='{{ asset('bundles/mcore/images/emoticons/heart.gif') }}' /></li>
								<li><img alt=':*' title=':*' src='{{ asset('bundles/mcore/images/emoticons/kiss.gif') }}' /></li>
								<li><img alt=':)' title=':)' src='{{ asset('bundles/mcore/images/emoticons/smile.gif') }}' /></li>
								<li><img alt='8|' title='8|' src='{{ asset('bundles/mcore/images/emoticons/sunglasses.gif') }}' /></li>
								<li><img alt=':/' title=':/' src='{{ asset('bundles/mcore/images/emoticons/unsure.gif') }}' /></li>
								<li><img alt=';)' title=';)' src='{{ asset('bundles/mcore/images/emoticons/wink.gif') }}' /></li>
								<li><img alt=':3' title=':3' src='{{ asset('bundles/mcore/images/emoticons/colonthree.gif') }}' /></li>
								<li><img alt=\":'(\" title=\":'(\" src='{{ asset('bundles/mcore/images/emoticons/cry.gif') }}' /></li>
								<li><img alt=':(' title=':(' src='{{ asset('bundles/mcore/images/emoticons/frown.gif') }}' /></li>
								<li><img alt='8)' title='8)' src='{{ asset('bundles/mcore/images/emoticons/glasses.gif') }}' /></li>
								<li><img alt='>:(' title='>:(' src='{{ asset('bundles/mcore/images/emoticons/grumpy.gif') }}' /></li>
								<li><img alt='^_^' title='^_^' src='{{ asset('bundles/mcore/images/emoticons/kiki.gif') }}' /></li>
								<li><img alt=':v' title=':v' src='{{ asset('bundles/mcore/images/emoticons/pacman.gif') }}' /></li>
								<li><img alt='-_-' title='-_-' src='{{ asset('bundles/mcore/images/emoticons/squint.gif') }}' /></li>
								<li><img alt=':p' title=':p' src='{{ asset('bundles/mcore/images/emoticons/tongue.gif') }}' /></li>
								<li><img alt='>:O' title='>:O' src='{{ asset('bundles/mcore/images/emoticons/upset.gif') }}' /></li>
							</ul>
						</div>
					</div>
	  	 			{% endif %}

					<input type="submit" value="Supprimer le(s) message(s)" class="button supprimer_tout">
					{{ form_widget(oForm._token) }}	
				</form>

	  	 	{% endif %}
			<div class="pagination header_pagination">
				<span class="nb_resultat">
					Vous avez reçu {{ iTotalResult }} {% if iTotalResult > 1 %} nouveaux messages {% else %} nouveau message{% endif %}
				</span>	

				<div class="navigation pagination-centered">
					{% if not is_granted('ROLE_FREE') %}
					<ul id="paginate_elements">
						{% if aPagination['prev'] != "" %}
							<li class="paginator_previous">
								<a href="{{ path('m_core_profile_messages', {'suser': aPagination['prev']}) }}" title="">Précédant</a>
							</li>
						{% endif %}
						{% if aPagination['next'] != "" %}
							<li class="paginator_next">
								<a href="{{ path('m_core_profile_messages', {'suser': aPagination['next']}) }}" title="">Suivant</a>
							</li>
						{% endif %}
					</ul>
					{% endif %}

				</div>

			</div>
			<script>
				$(document).ready(function(){
					// Coup de coeur
					$(document).on('click', '.demandes li.item3.coup_coeur a', function(e)
					{
						/*function ajaxMe (Event, Element, root, className, preloader, operation = default, extraData = default, onSuccess = default) */
						ajaxMe(e, $(this), "{{ path('m_core_profile_ajax_setCoeur') }}", "coup_coeur", "{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}");
					});
					// Ajout de contact
					$(document).on('click', '.demandes li.item4.ajout_contact a', function(e)
					{
						ajaxMe(e, $(this), "{{ path('m_core_profile_ajax_setNewContact') }}", "ajout_contact", "{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}");
					});
					$(document).on('click', '.demandes li.item6.bloquer a', function(e)
					{
						e.preventDefault();

						var $this = $(this);
						var confirm = window.confirm("Une fois bloqué, ce membre ne pourra plus vous contacter d'aucune manière sur notre site. Vous pourrez toujours le débloquer en accédant à la page de votre compte.");
						if ( confirm ) 
						{
							ajaxMe(e, $(this), "{{ path('m_core_profile_ajax_bloquerContact') }}", "bloquer", "{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}", "bloquer");
						}
					
					});
					$(document).on('click', '.demandes li.item5.signaler a', function(e)
					{
						e.preventDefault();
						var $this = $(this);
						$('.signaler_content span.username_signaler').text('{{ app.request.get("suser") }}');
						popUpCreate($(".signaler_content").html(), 'signaler', '{{ asset("bundles/mcore/images/") }}');

					});

					$(document).on('click', '.panel button.envoyer_message_bouton', function(e)
					{
						e.preventDefault();

						if ( $(this).hasClass('impossible') ) return false;

						var $sMessage = $('.ecrire_message').val();
						$sMessage = $sMessage.replace(/\s\s+/g, ' ');

						if ( $sMessage.length == 0 || $sMessage === " " ) return false;
						// Sauvegarde de l'ajout actuel
						var $this = $(this);
						// Début requete AJAX
						$.ajax({
							url: "{{ path('m_core_profile_messages_nouveau') }}",
							type: "POST",
							data: { username: '{{ app.request.get("suser") }}', message: $sMessage }
						// Quand la requete retourne une réponse
						}).done(function( data ) {
							// Disparition du loader
							$(".loader").css({ display:"none" });
						    if ( console && console.log ) 
						    {	
						    	// Si la requete retourne un succés
						    	if ( data.split(':')[0] === "success" )
						    	{
						    		var sSexe = ($('body').hasClass('Homme')) ? 'femme' : 'homme';

						    		appendToMessageConv('Sended', $('ul.liste'), '{{ app.user.username }}', '{{ sImageProfilUserActual }}', $sMessage, data.split(':')[1], sSexe);
						    		$('.list_messages .message').emotions("{{ asset('bundles/mcore/images/emoticons/') }}");
									$('.ecrire_message').val('');
						    	}
						    	else alert("Un problème est survenu (Problème données)");
						    }
						}).fail(function( data ){
							alert("Un problème est survenu (Problème serveur)");
						});
					});
					$(".messages.conversation_detail .list_messages").mCustomScrollbar("scrollTo",".last");
					

					$(document).on('click', '.prevMessages.go', function(e){
						e.preventDefault();
						$('.conversation_detail .messages_caches .preloader').css({ display:'block' });
						$.ajaxq('getPrevMessages', {
							url: "{{ path('m_core_profile_messages_prevMessages') }}",
							type: "POST",
							data: { 
								iSenderID: '{{ iSenderID }}', 
								sSenderTocken: '{{ sSenderTocken }}',
								iReceiverID : '{{ iReceiverID }}',
								sReceiverTocken : '{{ sReceiverTocken }}',
								iPage : parseInt($('.prevMessages').attr('rel').split('-')[1])
							}
						}).done(function( data ) {
							/*alert(data);*/
							$oData = $.parseJSON(data);
						    if ( console && console.log )
						    {
						    	$.each( $oData, function( $iKey, $oValue ) 
						    	{
						    		var sSexeH = 'homme';
						    		var sSexeF = 'femme';
						    		var sSexe = '';
						    		//console.log('oValue = ' + $oValue.username + " ACTUAL = {{ app.request.get('suser') }}" );
						    		if ( $oValue.username === "{{ app.user.username }}" )
						    		{
						    			$sStatus = 'Sended';
						    			$sImage = '{{ sImageProfilUserActual }}';
						    			sSexe = ($('body').hasClass('Femme')) ? sSexeH : sSexeF;
						    		}
						    		else
						    		{
						    			$sStatus = 'Received';
						    			$sImage = '{{ sImageProfilUserSender }}';
						    			sSexe = ($('body').hasClass('Femme')) ? sSexeF : sSexeH;
						    		}
						    		console.log($oValue);
									appendToMessageConv(
										$sStatus, 
										$('ul.liste'), 
										$oValue.username, 
										$sImage, 
										$oValue.Message, 
										$oValue.id, 
										sSexe, 
										$oValue.dateEnvoi, 
										$('ul.liste li:eq(0)')
									);
								});
						    	$('.conversation_detail .messages_caches .preloader').css({ display:'none' });
						    	$(".messages.conversation_detail .list_messages").mCustomScrollbar("scrollTo", "top");

						    	var NumResult = parseInt($(".prevMessages .nb").text()) - $oData.length;

					    		if ( NumResult <= 0 ) 
					    		{
					    			$(".prevMessages").removeClass('go');
					    			$(".prevMessages .nb").text('0');
					    		}
					    		else $(".prevMessages .nb").text(NumResult);

					    		$(".prevMessages").attr('rel', 'next-' + (parseInt($(".prevMessages").attr('rel').split('-')[1]) + 1));

								$('.list_messages .message').emotions("{{ asset('bundles/mcore/images/emoticons/') }}");
						    }
						}).fail(function( data ){
							alert("Un problème est survenu (Problème serveur)");
						});
					});
				});
				




			</script>
		</section>
	</section>
{% endblock %}