{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		<section class="resultat messages messages_recus">
			<h3>Mes Messages</h3>
			<div class="pagination header_pagination">
				{% set newNotif = 0 %}
				{% for oUser in aResult %}
					{% if not oUser.lu %}
						{% set newNotif = newNotif + 1 %}
					{% endif %}
				{% endfor %}
				<span class="nb_resultat">
					Vous avez reçu {{ newNotif  }}{% if newNotif  > 1 %} nouveaux messages{% else %} nouveau message{% endif %}
				</span>	
				{% include 'MCoreBundle:Profile:paginator.html.twig' %}
			</div>
			{% include 'MCoreBundle:Messages:menu.html.twig' %}
			<div class="filtre">
				<form method="GET" {{ form_enctype(oForm) }}>
					<label for="afficher">Afficher :</label>
					<select name="sTri" id="afficher">
						<option value="Tous">Tous</option>
						<option value="Non-lus">Non lus</option>
						<option value="Lus" >Lus</option>
					</select>
					<input type="submit" class="button" value="OK">
				</form>
			</div>
			{% if aResult|length == 0 %}
				<div class="not_found">
					<p>Vous n'avez reçu aucun message pour l'instant</p>
				</div>
			{% else %}
				<div class="list_messages">
					<form method="post" {{ form_enctype(oForm) }} class="form_corps">
						<div class="entete">
							<div class="arrivage_message">
								<p>{% if iTotalResult  < 10 %} 1 - {{iTotalResult}} {% else %} {{iFirstResult + 1}} - {% if iTotalResult - iFirstResult > 10 %} {{iFirstResult + 10 }} {% else %} {{iTotalResult}} {% endif %}{% endif %} sur {{ iTotalResult }} messages reçus</p>
							</div>
							<div class="tout_selectionner">
								<label for="tout_selectionner">Tout selectionner :</label>
								<input type="checkbox" name="tout_selectionner" class="checkall">
							</div>
						</div>
						<ul class="liste">
							{% for oUser in aResult %}
								<li{% if not oUser.lu %} class="new"{% endif %}>
									<div class="left">
										<img src="{{ oUser.image }}" alt="{{ oUser.username|capitalize }}" />
										<a href="{% if not is_granted('ROLE_FREE') or oUser.roles[0] == 'ROLE_ADMIN'%}{{ path('m_core_profile_messages', {'suser' : oUser.username  }) }}{% else %}{{ path('m_core_profile_abonnement') }}{% endif %}" class="{% if is_granted('ROLE_FREE') and oUser.roles[0] != 'ROLE_ADMIN' %}redirectA {% endif %}">
											<span class="connectivite{% if oUser.enLigne %} enligne{% else %} horsligne{% endif %}"></span>
											<span class="username">{{ oUser.username|capitalize }}</span>
											<span class="message_sample">{% if not is_granted('ROLE_FREE') or oUser.roles[0] == 'ROLE_ADMIN' %}{{ oUser.Message }}{% if oUser.Message|length > 57 %}...{% endif %}{% else %}vous a envoyé un message{% endif %}</span>
										</a>
									</div>
									<div class="right">
										<div class="time_container">
											<span class="date_envoi">{{ oUser.dateEnvoi }}</span>
											<span class="checkbox"><input type="checkbox" name="m_corebundle_usertype[delete_message][Received][]" value="{{ oUser.id }}" /></span>
										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
						{{ form_widget(oForm._token) }}	
		  	 			<input type="submit" value="Supprimer le(s) message(s)" class="button supprimer_tout">
			  	 	</form>
				</div>
	  	 	{% endif %}
			<div class="pagination header_pagination">
				<span class="nb_resultat">
					Vous avez reçu {{ newNotif  }}{% if newNotif  > 1 %} nouveaux messages{% else %} nouveau message{% endif %}
				</span>	
				{% include 'MCoreBundle:Profile:paginator.html.twig' %}
			</div>
			<script>
				
			</script>
		</section>
	</section>
{% endblock %}