#tab-container
{
	width: 715px;
	float: left;
}
.etabs 
{ 
	margin: 0; 
	padding: 0; 
}
.tab 
{ 
	display: inline-block;
	zoom: 1;
	float: left;
	margin-right: 5px;
}
.tab a 
{ 
	display: block;
	background: #464648;
	text-decoration: none;
	color: #ffffff !important;
	text-transform: uppercase;
	width: 114px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	letter-spacing: 0.3px;
	outline: none; 
	font-weight: bold;
}
.Femme .tab a:hover,
.Femme .tab.active a
{ 
	background: #c21570;
}
.Homme .tab a:hover, 
.Homme .tab.active a
{ 
	background: #0090bb;
}

.tab a.active 
{ 
}
.tab-container .panel-container 
{ 
	background: #fff; 
	/*border: solid #666 1px; 
	padding: 10px; 
	-moz-border-radius: 0 4px 4px 4px; 
	-webkit-border-radius: 0 4px 4px 4px; */
	width: 100%;
	float: left;
}
.tab-content
{
	float: left;
	background-color: white;
	border: 1px solid rgb(167, 169, 172);
	width: 683px;
	padding: 24px 12px 24px 12px;
}