{% extends 'MCoreBundle::layout.html.twig' %}
{% block title %}Rencontre à Marrakech entre célibataires sérieux - Rencontre célibataire Marrakech{% endblock %}
{% block meta %}
<meta name="description" content="Célibataire au Maroc ? Faites des rencontres à Marrakech en rejoignant la première communauté de célibataires et trouver l'amour à Marrakech et dans ses environs." />
<meta name="keywords" content="rencontre sérieuse  à Marrakech, rencontre célibataire à Marrakech, célibataire  Marrakech, femme célibataire Marrakceh, homme célibataire Marrakech" />
{% endblock %}
{% block body %}
{% include 'MCoreBundle::menu_principal.html.twig' %}
	<div class="inscription">
		<div class="page_rencontres page">
			<h1>Faites des rencontres entre célibataires à Marrakech</h1>
			<div class="image">
				<img src="{{ asset('bundles/mcore/images/Vitrine/photo-rencontre-maroc.jpg') }}" alt="Rencontre célibataire Marrakech" />
			</div>
			<div class="content_article">
				<h2>Rencontres sérieuses à Marrakech</h2>
				{#<p class="text_intro">Vivez une rencontre à Marrakech ! En étant membre sur Rencontres &amp; Vous , vous trouverez des célibataires  impliqués qui  souhaitent faire une rencontre à Marrakech. Avec une simple connexion, accédez à des profils en recherchant selon vos goûts musicaux, vos activités sportives et d'autres activités que vous pourriez avoir en commun avec votre futur partenaire. Les évents de Rencontres &amp; Vous  sont organisés pour la rencontre à Marrakech  et sa région. <b>Inscrivez-vous gratuitement sur Rencontres &amp; Vous .ma</b></p>#}
				<p class="content_article"> 
Vivez une <b> rencontre à Marrakech </b> ! Devenez membre de Rencontres &amp; Vous, et faites connaissance avec des célibataires  impliqués qui  souhaitent faire une <b> rencontre à Marrakech </b>.
<p> Accédez aux profils qui vous séduisent en recherchant selon vos goûts musicaux, vos activités sportives et d'autres activités que vous pourriez avoir en commun avec votre futur(e) partenaire.</p>
<h2>Découvrez nos membres célibataires à Marrakech</h2>
<p> Les évents de Rencontres &amp;Vous  sont organisés pour la <b>rencontre à Marrakech </b> et sa région.</p>
<b> Inscrivez-vous gratuitement sur Rencontres &amp;Vous .ma</b>
				</p>
			</div>
		</div>
		<div class="page_vitrine_interne" >{% include 'MCoreBundle:Home:inscription.html.twig' %}</div>
	</div>
{% endblock %}