{% extends 'MCoreBundle::layout.html.twig' %}
{% block title %}Rencontre à Fès entre célibataires sérieux -Rencontre célibataire Fès{% endblock %}
{% block meta %}
<meta name="description" content="Célibataire au Maroc ? Faites des rencontres à Fès en rejoignant la première communauté de célibataires et trouvez l'amour dans votre région à  Fès et ses environs." />
<meta name="keywords" content="rencontre sérieuse à Fès, rencontre Célibataire à Fès , célibataires Fès,femme célibataire Fès,  homme célibataire Fès" />
{% endblock %}
{% block body %}
{% include 'MCoreBundle::menu_principal.html.twig' %}
	<div class="inscription">
		<div class="page_rencontres page">
			<h1>Faites des rencontres entre célibataires à Fes</h1>
			<div class="image">
				<img src="{{ asset('bundles/mcore/images/Vitrine/photo-rencontre-maroc.jpg') }}" alt="Rencontre célibataire Fès" />
			</div>
			<div class="content_article">
				<h2>Rencontres sérieuses à Fes</h2>
				<p>Sur Rencontres &amp; Vous, trouvez près de chez vous des célibataires membres du site qui souhaitent, comme vous, se donner la chance de faire de belles rencontres. </p>
				<p>En vous inscrivant sur Rencontres & Vous, découvrez une réelle communauté de célibataires sérieux et prêts à s'impliquer dans leur recherche de l'amour. Vous pourrez découvrir des profils correspondants à vos attentes et faire une belle <b>rencontre à Fes</b>.</p>
				<h2>Découvrez nos membres célibataires à Fes</h2>
				<p>Grâce au tchat, vous pourrez dialoguer avec des membres sur vos hobbies et vos passions. Provoquez le hasard avec des membres du site  dans un cadre convivial et trouvez la <b>rencontre à Fes </b> et sa région qui bouleversera votre vie. Élargissez les possibilités pour rompre votre célibat et trouvez le bonheur !</p>
				<p><b>Inscrivez-vous gratuitement sur Rencontres &amp;Vous .ma</b></p>
			</div>
		</div>
		<div class="page_vitrine_interne" >{% include 'MCoreBundle:Home:inscription.html.twig' %}</div>
	</div>
{% endblock %}