{% extends 'MCoreBundle::layout.html.twig' %}
{% block meta %}
<meta name="description" content="Faites des rencontre de qualités au Maroc avec des femmes &amp; hommes célibataires et impliqués dans la recherche de l’âme sœur." />
<meta name="keywords" content="Rencontre de qualité Maroc, Rencontre célibataire Maroc, Rencontre femme Maroc, rencontre homme Maroc" />
{% endblock %}
{% block title %}Rencontres &amp; Vous  : 1er Site de rencontres sérieuses entre célibataires au Maroc.{% endblock %}
{% block body %}
{% include 'MCoreBundle::menu_principal.html.twig' %}
	<div class="inscription">
		<div class="page_rencontres page">
			<h1>Rencontres dans votre ville au Maroc </h1>
			<div class="image">
				<img src="{{ asset('bundles/mcore/images/Vitrine/photo-rencontre-maroc.jpg') }}" alt="Rencontre célibataire Maroc" />
			</div>
			<div class="content_article">
				<h2>Faites des rencontres de qualité proche de chez vous au Maroc</h2>
				<p>Rencontres &amp; Vous vous offre la possibilité de rencontrer dans votre ville des célibataires impliqués comme vous dans la recherche de l'âme sœur. Qui sait ? Votre futur(e) partenaire est peut-être tout proche de vous... !.</p>
				<p>Provoquez le hasard et  trouvez l'amour grâce à Rencontres &amp; Vous , le seul site au Maroc avec sélection des membres dès l’inscription, gage de rencontres et d’échanges respectueux et de qualité entre toutes et tous.</p>
				<p>Choisissez votre ville* : </p>
				<ul>
					<li><a href="{{ path('m_core_homepage_rencontres_casablanca') }}">Rencontres Casablanca</a></li>
					<li><a href="{{ path('m_core_homepage_rencontres_marrakesh') }}">Rencontres Marrakech</a></li>
					<li><a href="{{ path('m_core_homepage_rencontres_rabat') }}">Rencontres Rabat</a></li>
					<li><a href="{{ path('m_core_homepage_rencontres_agadir') }}">Rencontres Agadir</a></li>
					<li><a href="{{ path('m_core_homepage_rencontres_tanger') }}">Rencontres Tanger</a></li>
					<li><a href="{{ path('m_core_homepage_rencontres_fes') }}">Rencontres Fes</a></li>
				</ul>
			</div>
			<p class="notice_rencontres_villes"> * : Dans la plateforme, toutes les villes du royaume sont représentées</p>
		</div>
		<div class="page_vitrine_interne" >{% include 'MCoreBundle:Home:inscription.html.twig' %}</div>
	</div>
{% endblock %}