{% extends 'MCoreBundle::layout.html.twig' %}
{% block title %}Rencontre à Tanger entre célibataires sérieux - Rencontre célibataire Tanger{% endblock %}
{% block meta %}
<meta name="description" content="Vous souhaitez rencontrer des célibataires sérieux à Tanger, retrouvez notre communauté de célibataires et trouvez votre futur partenaire autour de Tanger." />
<meta name="keywords" content="rencontre sérieuse à Tanger, rencontre Célibataire à Tanger, célibataire Tanger,femme célibataire Tanger, homme célibataire Tanger" />
{% endblock %}
{% block body %}
{% include 'MCoreBundle::menu_principal.html.twig' %}
	<div class="inscription">
		<div class="page_rencontres page">
			<h1>Faites des rencontres entre célibataires à Tanger</h1>
			<div class="image">
				<img src="{{ asset('bundles/mcore/images/Vitrine/photo-rencontre-maroc.jpg') }}" alt="Rencontre célibataire Tanger" />
			</div>
			<div class="content_article">
				<h2>Rencontres sérieuses à Tanger</h2>
				<p>Vous recherchez à faire <b>une rencontre à Tanger</b>. Tout comme vous, des célibataires sérieux recherchent leur moitié. Avec Rencontres &amp;Vous découvrez les profils des membres avec qui vous pourrez faire connaissance et avoir des points communs dans le respect et l’écoute de l’autre.</p>
				<h2>Découvrez nos membres célibataires à Tanger</h2>
				<p>En vous inscrivant sur Rencontres &amp;Vous , augmentez les chances de pouvoir rencontrer des célibataires  qui veulent  faire une vraie <b>rencontre  à Tanger</b>. Échanger sur vos loisirs, vos ambitions et sur votre vision de la vie pour arriver à dénicher votre partenaire idéal.</p>
				<p>Vous êtes  prêt à  vous impliquez pour une <b>rencontre à  Tanger</b> qui bouleversa votre vie,  mettez toutes les chances de votre coté en <b>vous inscrivant gratuitement sur  Rencontres &amp; Vous .ma
				</b></p>
			</div>
		</div>
		<div class="page_vitrine_interne" >{% include 'MCoreBundle:Home:inscription.html.twig' %}</div>
	</div>
{% endblock %}