{% extends 'MCoreBundle::layout.html.twig' %}
{% block title %}Rencontre à Casablanca entre célibataires sérieux -Rencontre célibataire Casablanca{% endblock %}
{% block meta %}
<meta name="description" content="Célibataire au Maroc ? Faites des rencontres à Casablanca en rejoignant la première communauté de célibataires et trouvez l'amour à Casablanca et sa région." />
<meta name="keywords" content="rencontre sérieuse à Casablanca, rencontre Célibataire à Casablanca, célibataire Casablanca ,femme célibataire Casablanca, homme célibataire Casablanca" />
{% endblock %}
{% block body %}
{% include 'MCoreBundle::menu_principal.html.twig' %}
	<div class="inscription">
		<div class="page_rencontres page">
			<h1>Faites des rencontres entre célibataires à Casablanca</h1>
			<div class="image">
				<img src="{{ asset('bundles/mcore/images/Vitrine/photo-rencontre-maroc.jpg') }}" alt="Rencontre célibataire Casablanca" />
			</div>
			<div class="content_article">
				<h2>Rencontres sérieuses à Casablanca</h2>
				<p >Grâce à Rencontres &amp;Vous,  vous avez la possibilité de trouver des profils de célibataires qui comme vous, résident dans la ville de Casablanca.</p>
				{#<p>En surfant sur Rencontres &amp; Vous , vous avez accès à des membres célibataires de qualité qui recherchent avec sérieux, respect et en toute confiance une <b>rencontre à Casablanca</b>.</p>
				<p>Vous pourrez échanger avec des membres selon vos affinités et vos attentes du couple. Nos sortie vous permettre de rentrer en contact dans un cadre sécurisé, convivial et propice à une rencontre à Casablanca ou sa région, et qui bouleversera votre vie. Échanger sur vos hobbies et passez un agréable moment qui débouchera peut-être sur la rencontre à Casablanca que vous attendez. <b>Inscrivez-vous gratuitement sur Rencontres &amp; Vous .ma</b></p>#}
				<p> 
					Sur Rencontres &amp;Vous, découvrez des membres célibataires de qualité qui recherchent avec sérieux, respect et en toute confiance une <b>rencontre à Casablanca</b>.
				</p>
				<h2>Découvrez nos membres célibataires à Casablanca</h2>
				<p>
					Vous pourrez échanger avec des membres selon vos affinités et vos attentes du couple. Nos sorties vous permettent d’entrer en contact dans un cadre sécurisé, convivial et propice à une rencontre de qualité à Casablanca ou sa région, et qui bouleversera peut-être votre vie. Échangez sur vos hobbies et passez un agréable moment qui débouchera peut-être sur la <b>rencontre à Casablanca</b> que vous attendez. <b>Inscrivez-vous gratuitement sur Rencontres &amp;Vous .ma </b>
				</p>
			</div>
		</div>
		<div class="page_vitrine_interne" >{% include 'MCoreBundle:Home:inscription.html.twig' %}</div>
	</div>
{% endblock %}