{% extends 'MCoreBundle::layout.html.twig' %}
{% block title %}Rencontre à Rabat entre célibataires sérieux – Rencontre célibataire Rabat{% endblock %}
{% block meta %}
<meta name="description" content="Célibataire au Maroc ? Pour faire de nouvelles rencontres à Rabat, rejoignez la première communauté de célibataires et trouvez l'amour à Rabat  grâce à Rencontres &amp; Vous." />
<meta name="keywords" content="rencontre sérieuse à Rabat, rencontre célibataire à Rabat, célibataire Rabat, femme célibataire Rabat, homme célibataire Rabat" />
{% endblock %}
{% block body %}
{% include 'MCoreBundle::menu_principal.html.twig' %}
	<div class="inscription">
		<div class="page_rencontres page">
			<h1>Faites des rencontres entre célibataires à Rabat</h1>
			<div class="image">
				<img src="{{ asset('bundles/mcore/images/Vitrine/photo-rencontre-maroc.jpg') }}" alt="Rencontre célibataire Rabat" />
			</div>
			<div class="content_article">
				<h2>Rencontres sérieuses à Rabat</h2>
				{#<p class="text_intro">Grâce à Rencontres &amp; Vous , découvrez les célibataires qui vivent dans la capitale du Royaume. Découvrez les nombreux profils membres célibataires motivés pour vivre une belle et respectueuse histoire d'amour et <b>une rencontre à Rabat</b>.</p>
				<p>Dialoguez avec des personnes en adéquation avec votre vision de la vie à deux, partagez sur l'avenir que vous envisagez ainsi que sur vos loisirs. Vivez une rencontre à Rabat organisée par Rencontres &amp; Vous , ce sera l'occasion d'approfondir  avec certains membres célibataires avec qui vous dialoguez sur le site de Rencontres &amp; Vous  ou bien de faire <b>une rencontre à Rabat</b> avec un membre de la communauté avec qui vous pourrez  avoir des affinités.</p>
				<p><b>Inscrivez-vous gratuitement sur Rencontres &amp; Vous .ma</b></p>#}
				<p>
					Sur Rencontres &amp; Vous, découvrez les célibataires qui vivent dans la capitale du Royaume. Découvrez les nombreux profils membres célibataires motivés pour vivre une belle et respectueuse histoire d'amour et une <b> rencontre à Rabat</b>.
				</p>
				<h2>Découvrez nos membres célibataires à Rabat</h2>
				<p>

					Dialoguez avec des membres en adéquation avec votre vision de la vie à deux, partagez sur l'avenir que vous envisagez ainsi que sur vos loisirs. Vivez une <b>rencontre à Rabat</b> organisée par Rencontres &amp; Vous, ce sera l'occasion d'approfondir  avec certains membres célibataires avec qui vous dialoguez sur le site de Rencontres &amp; Vous ou bien de faire <b>une rencontre à Rabat</b> avec un membre de la communauté avec qui vous pourrez  avoir des affinités.
				</p>
			<p>
				<b> Inscrivez-vous gratuitement sur Rencontres &amp;Vous .ma</b>
			</p>
			</div>
		</div>
		<div class="page_vitrine_interne" >{% include 'MCoreBundle:Home:inscription.html.twig' %}</div>
	</div>
{% endblock %}