.popup .validation
{
    position: absolute;
    top: 38%;
    left: 13.5%;
    border: 1px solid white;
    padding: 30px 60px 40px 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
    .popup .validation *
    {
        color: white;
        text-align: center;
    }
        .popup .validation p a{ text-decoration: underline; }  
        .popup .validation p a:hover{ color:#bb1871; }  
    .popup .validation button
    {
        border: white 1px solid;
        padding: 10px 20px 10px 40px;
        margin: 50px 10px 0px 150px;
        background: none;
        color: white;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        cursor: pointer;
    }
    .popup .validation button:hover
    {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }  
    .popup .validation button.accepter_conditions{ background: url('../images/accepter_conditions.png') 8% center no-repeat; }
    .popup .validation button.decliner_conditions{ background: url('../images/decliner_conditions.png') 8% center no-repeat; }

nav.authentication.on 
{

}
    nav.authentication.on form
    {
        float: right;
        width: 330px;
    }
        nav.authentication.on .block_auth
        {
            width: 148px;
            float: left;
        }
        
            .block_auth .field_auth
            {
                border: 1px gray solid;
                height: 20px;
                padding: 2px 5px 2px 5px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                margin-bottom: 5px;
            }
            .block_auth .username_auth
            {

            }
            .block_auth .password_auth
            {

            }
            .block_auth .remember_auth
            {

            }
            .ok_auth,
            .recherche_avancee .little_button
            {
                line-height: 20px;
                height: 25px;
                background: url('../images/profil_menu.jpg') center top repeat-x;
                border-radius: 1px;
                -webkit-border-radius: 1px;
                -moz-border-radius: 1px;
                border: gray 1px solid;
                cursor: pointer;
                color: white !important;
            }
            .ok_auth:hover,
            .Femme .recherche_avancee .little_button:hover{background: #bb1871;}
            .Homme .recherche_avancee .little_button:hover{background: #0090bb;}
            .block_auth label,
            .block_auth .oublie_auth
            {
                font-size: 11px;
                text-transform: none;
            }
            .block_auth .oublie_auth
            { 
                margin-left: 3px;
                margin-top: 3px;
                float: left; 
            }
nav.menu ul li:hover, .Femme nav.menu ul li.active{background: #bb1871;}

.inscription
{
    float: left;
    width: 100%;
}
    .inscription .bloc
    {
        float: left;
        height: 336px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
    }
    .inscription .slider_home
    {
        width: 700px;
        /*background: #a7aaac;*/
        background: black;
        float: left;
        margin-top: 20px;
    }
        .inscription .slider_home img
        {
            width: 100%;
            height: 100%;
        }
    .inscription .bloc_inscription
    {
        background: white;
        float: right;
        position: relative;
        width: 296px;
        margin-top: 20px;
        height: 352px;
    }
    .inscription .page_vitrine_interne
    {
        margin-top: 40px;
    }
        .inscription .bloc_inscription h4
        {
            text-align: center;
            color: white;
            height: 25px;
            background: url('../images/profil_menu.jpg') center top repeat-x;
            text-transform: uppercase;
            font-size: 15px;
            line-height: 25px;
            border-bottom: 2px solid black;
            border-top-left-radius: 4px;
            -webkit-border-top-left-radius: 4px;
            -moz-border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-top-right-radius: 4px;
        }
            .inscription form
            {
                padding: 0 12px 0 12px;
            }
                .bloc_inscription .bloc_field
                {
                    width: 100%;
                    padding: 10px 0 10px 0;
                }
                .bloc_inscription .inscription_captcha
                {
                    
                }
                    .bloc_inscription .inscription_captcha img
                    {  
                        float: left;
                        border:1px solid black;
                    }
                    .bloc_inscription .inscription_captcha input
                    {  
                        width: 184px;
                        margin-left: 4px;
                        padding-left: 5px;
                    }
                    
                .bloc_inscription .inscription_sexe,
                .bloc_inscription .inscription_datenaissance,
                .bloc_inscription .inscription_email
                {
                    border-bottom: 2px #cbccce dotted;
                }
                    .bloc_inscription .inscription_sexe select
                    {
                        width: 130px !important;
                    }
                .bloc_inscription .inscription_majeur
                {
                    padding-top: 5px;
                    border: #e7e8e9 1px solid;
                    float: left;
                    padding-bottom: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                }
                    .bloc_inscription .inscription_email input
                    { 
                        padding:0 4px 0 4px; 
                        width: 180px; 
                    }
                    .bloc_inscription .bloc_field label
                    {
                        float: left;
                        color: black;
                        margin-left: 5px;
                        display: block;
                        width: 70px;
                        line-height: 17px;
                    }

                    
                    .bloc_inscription .inscription_majeur label
                    {
                        font-size: 11px;
                        width: 236px;
                        text-align: justify;
                    }
                        .bloc_inscription .inscription_majeur label a
                        {
                            color: black;
                            text-decoration: underline;
                        }
                        .bloc_inscription .inscription_majeur label a:hover
                        {
                            text-decoration: none;
                        }
                    .bloc_inscription .inscription_majeur input
                    {
                        float: left;
                        margin-top: -1px;
                    }
                    .bloc_inscription .bloc_field select,
                    .bloc_inscription .bloc_field input
                    {
                        border: 1px #939598 solid;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        height: 20px;
                    }
                    .bloc_inscription .bloc_field select
                    {
                        border-right: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background: url('../images/arrow_select.png') right center no-repeat;
                        padding-right: 20px;
                        width: 63px;
                    }
                .bloc_inscription input[type="submit"]
                {
                    background: #424244;
                    border: none;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    height: 29px;
                    font-size: 16px;
                    margin-left: 54px;
                    cursor: pointer;
                    margin-top: 15px;
                    width: 174px;
                }
                .bloc_inscription input[type="submit"]:hover{ background:#c21570; }
            .bloc_inscription h5
            {
                background: #58595b;
                text-align: center;
                color: white;
                height: 31px;
                font-size: 15px;
                line-height: 25px;
                position: absolute;
                width: 100%;
                bottom: 0;
                border-bottom-left-radius: 4px;
                -webkit-border-bottom-left-radius: 4px;
                -moz-border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                -webkit-border-bottom-right-radius: 4px;
                -moz-border-bottom-right-radius: 4px;
            }
section.blocs_home
{
    float: left;
    width: 100%;
    margin-top: 0px;
}
    .blocs_home article
    {
        width: 29.3%;
        margin-right: 6%;
        margin-top: 3%;
        float: left;
    }
    .blocs_home article.article3,
    .blocs_home article.article6{ margin-right: 0; }
        .blocs_home article h3
        {
            text-transform: uppercase;
            font-size: 13px;
            padding-bottom: 5px;
            border-bottom: 2px solid #bb1871;
            margin-bottom: 15px;
        }
        .blocs_home article .image
        {
            background: #a7a9ab;
            margin: 4px 10px 0px 0px;
            float: left;
        }
            .blocs_home article .image img{ width: 100%; height: 100%; }
        .blocs_home .article1 .image,
        .blocs_home .article3 .image,
        .blocs_home .article4 .image,
        .blocs_home .article5 .image
        {
            width: 110px;
            height: 78px;
        }
        .blocs_home .article2 .image
        {
            width: 62px;
            height: 78px;
        }
        .blocs_home .article6 .image
        {
            width: 64px;
            height: 44px;
        }
        .blocs_home p,
        .blocs_home blockquote
        {
            color: white;
            font-size: 12px;
            text-align: justify;
            line-height: 13px;
            text-transform: none;
        }
        
        .blocs_home .article2 .username
        {
            font-size: 13px;
            font-weight: bold;
        }
        .blocs_home .article2 .username.homme{color:#0090bb;}
        .blocs_home .article2 .username.femme{color:#bb1870;}
        .blocs_home .article2 p,
        .blocs_home .article6 p,
        .blocs_home .article2 blockquote,
        .blocs_home .article6 blockquote{ font-size: 12px; }
        .blocs_home .article2 .bloc_article1,
        .blocs_home .article6 .bloc_article1,
        .blocs_home .article6 .bloc_article2
        { 
            margin-bottom: 10px;
            width: 100%;
            float: left; 
        }

.inscription .page
{
    width: 645px;
    float: left;
    margin-top: 38px;
}
    .inscription .page h2
    {
        text-transform: uppercase;
        font-size: 15px;
        padding-bottom:8px;
        border-bottom: 2px solid #bb1871;
        margin-bottom: 24px;
    }
    .inscription .page .image
    {
        width: 176px;
        height: 394px;
        background: #a7a9ab;
        margin: 4px 24px 0px 0px;
        float: left;
    }
        .inscription .page .image img{ width: 100%; height: 100%; }
    .inscription .page_temoignages.page .image
    {
        width: 96px;
        height: 122px;
    }
    .inscription .page .text_intro
    {
        margin-bottom:30px;
    }
    .inscription .page h3
    {
        color: #b91870;
        margin: 4px 0 16px 0;
        clear: both;
        font-size: 15px;
        font-weight: bold;
    }
    .inscription .page h4
    {
        color: #b91870;
        margin: 4px 0 16px 0;
        clear: both;
        font-size: 15px;
        text-decoration: underline;
        font-weight: 100;
    }
    .inscription .page p,
    .inscription .page blockquote,
    .inscription .page em,
    .inscription .page h5,
    .inscription .page li
    {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 17px;
        text-align: justify;
        float: left;
    }
    .inscription .page b
    {
        font-weight: bold;
        font-size: 12px;
    }
    .inscription .page li a{ font-size: 12px; }
    .inscription .page_temoignages p,
    .inscription .page_temoignages blockquote,
    .inscription .page_temoignages em,
    .inscription .page_temoignages h5{ width: 524px; }

    .inscription .page_temoignages .text_intro{ width: 100%; }

    .page_rencontres ul li,
    .page_services li
    {
        clear: both;
    }
        .page_services ul
        {
            margin-top: 12px;
            margin-left: 20px;
        }

        .page_rencontres ul li a:before,
        .page_services ul li:before{ content:'- '; }
        .page_rencontres ul li a:hover{ color:#bb1871; }

        
        .inscription .page h5 span
        {
            font-size: 13px;
            font-weight: bold;
        }
        .inscription .page h5 span.femme{color:#bb1870;}
        .inscription .page h5 span.homme{color:#0090bb;}
.inscription .content_article
{
    float: left;
    width: 444px;
}
.inscription .bloc_article
{
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
    .inscription .bloc_article .image
    {
        width: 148px;
        height: 102px;
    }

        
