body.pageerror{background: #231f20}
div.bloc_message_error {
background: #231f20 url('../img/404-R&V.png')no-repeat right top;
width: 806px;
margin: 46px auto 0;
font-family: Arial;
padding-top: 194px;
}
div.bloc_message_error h2{color:#fff;margin-left:38px;}
div.bloc_message_error .text_error{color:#fff;margin-bottom: 57px}
div.bloc_message_error .text_error p{font-size: 17px}
div.bloc_message_error .text_error p.first{margin-left: 59px}
.btn_bacc{background: #ec008c;
padding: 5px 43px;
color: #fff;
text-decoration: none;
text-transform: uppercase;
border-radius: 3px;
display: block;
width: 84px;
font-size: 18px;
margin: 0 auto;
margin-bottom: 63px;}
div.pied_error{text-align: right;width:818px;}