/* Default styling for jQuery Calendars Picker v1.2.1. */
.calendars 
{
	background-color: #fff;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 90%;
	position: relative;
	width: 640px !important;
	padding-left: 40px;
}
.calendars-rtl {
	direction: rtl;
}
.calendars-popup {
	z-index: 1000;
}
.calendars-disable {
	position: absolute;
	z-index: 100;
	background-color: white;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.calendars a {
	color: #fff;
	text-decoration: none;
}
.calendars a.calendars-disabled {
	color: #888;
	cursor: auto;
}
.calendars .navigation a
{
	position: absolute;
	display: block;
	z-index: 5000;
	width: 30px;
	height: 30px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	top: 120px;
	padding: 0 !important;
	margin: 0px !important;
}
.calendars .navigation a.calendars-cmd-prev
{
	left:-20px;
	background: url("../images/sc-graphics/tooltip_skin_navigation.png") no-repeat 0px 0px;	
}
.calendars .navigation a.calendars-cmd-prev:hover {
background-position: 0px -30px;
}
.calendars .navigation a.calendars-cmd-next:hover {
background-position: -30px -30px;
}
.calendars .navigation a.calendars-cmd-next
{
	right:-20px;
	background: url("../images/sc-graphics/tooltip_skin_navigation.png") no-repeat -30px 0px;
}



.calendars button {
    margin: 0.25em;
    padding: 0.125em 0em;
    background-color: #fcc;
    border: none;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    font-weight: bold;
}
.calendars-nav, .calendars-ctrl {
	float: left;
	width: 100%;
	background-color: #000;
	color: #fff;
	font-size: 90%;
	font-weight: bold;
	display: none;
}
.calendars-ctrl {
	background-color: #600;
}
.calendars-cmd {
	width: 30%;
}
.calendars-cmd:hover {
	background-color: #777;
}
.calendars-ctrl .calendars-cmd:hover {
	background-color: #f08080;
}
.calendars-cmd-prevJump, .calendars-cmd-nextJump {
	width: 8%;
}
a.calendars-cmd {
	height: 1.5em;
}
button.calendars-cmd {
	text-align: center;
}
.calendars-cmd-prev, .calendars-cmd-prevJump, .calendars-cmd-clear {
	float: left;
	padding-left: 2%;
}
.calendars-cmd-current, .calendars-cmd-today {
	float: left;
	width: 35%;
	text-align: center;
}
.calendars-cmd-next, .calendars-cmd-nextJump, .calendars-cmd-close {
	float: right;
	padding-right: 2%;
	text-align: right;
}
.calendars-rtl .calendars-cmd-prev, .calendars-rtl .calendars-cmd-prevJump,
.calendars-rtl .calendars-cmd-clear {
	float: right;
	padding-left: 0%;
	padding-right: 2%;
	text-align: right;
}
.calendars-rtl .calendars-cmd-current, .calendars-rtl .calendars-cmd-today {
	float: right;
}
.calendars-rtl .calendars-cmd-next, .calendars-rtl .calendars-cmd-nextJump,
.calendars-rtl .calendars-cmd-close {
	float: left;
	padding-left: 2%;
	padding-right: 0%;
	text-align: left;
}
.calendars-month-nav {
	float: left;
	background-color: #777;
	text-align: center;
}
.calendars-month-nav div {
	float: left;
	width: 12.5%;
	margin: 1%;
	padding: 1%;
}
.calendars-month-nav span {
	color: #888;
}
.calendars-month-row {
	clear: left;
}
.calendars-month 
{
	float: left;
	width: 282px;
	border: 1px solid #58595b;
	text-align: center;
	margin-right: 30px;
	height: 265px;
	background: #f1f2f2;
}
.calendars-month-header, .calendars-month-header select, .calendars-month-header input, .calendars-month-header select option {
	height: 30px;
	background-color: #808284;
	color: #fff !important;
	line-height: 27px;
	font-size: 15px;
}
.calendars-month-header select, .calendars-month-header input {
	height: 1.4em;
	border: none;
}
.calendars-month-header input {
	position: absolute;
	display: none;
}
.calendars-month table {
	width: 100%;
	border-collapse: collapse;
}
.calendars-month thead {
	border-bottom: 1px solid #bcbec0;
}
.calendars-month th, .calendars-month td {
	margin: 0em;
	padding: 0em;
	font-weight: normal;
	text-align: center;
}
.calendars-month th {
	/*border: 1px solid #777;*/
}
.calendars-month th, .calendars-month th a {
	background-color: #ffffff;
	color: #fff;
}
.calendars-month td {
	background-color: #eee;
	border-bottom: 1px solid #bcbec0;
}
.calendars-month td.calendars-week {
	border: 1px solid #777;
}
.calendars-month td.calendars-week * {
	background-color: #777;
	color: #fff;
	border: none;
}
.calendars-month a 
{
	display: block;
	width: 100%;
	background-color: #eee;
	color: #000;
	text-decoration: none;
	height: 27px;
	line-height: 28px;
	color: #8e9192 !important;
	width: 27px;
	margin-top: 3px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-bottom: 3px;
	margin-left: 8px;
	font-size: 13px;
}
.dialog .SelectedDate
{
	float: left;
	width: 600px;
	position: absolute;
}
.calendars-month a:hover 
{
	
}
.calendars-month span {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 30px;
	color: #58595b !important;
	background: #f1f2f2;
	font-size: 13px;
}
.calendars-month td span {
	color: #888;
}
.calendars-month td .calendars-other-month {
	/*background-color: #fff;*/
}
.calendars-month td .calendars-weekend {
	/*background-color: #ddd;*/
	color: black !important;
}
.Femme .calendars-month td .calendars-highlight,
.Femme .calendars-month td .calendars-selected {
	background: #c31570 !important;
	color: white !important;
}
.Homme .calendars-month td .calendars-highlight,
.Homme .calendars-month td .calendars-selected {
	background: #0090bb !important;
	color: white !important;
}
.calendars-month td .calendars-today {
	background-color: #808284;
	color: white !important;
}
/*.calendars-month td .calendars-selected {
	background-color: #808284;
	color: white !important;
}*/
.calendars-month th.calendars-week {
	background-color: #777;
	color: #fff;
}
.calendars-status {
	clear: both;
	background-color: #ddd;
	text-align: center;
}
.calendars-clear-fix {
	clear: both;
}
