.col-md-0
{
	width:48% !important;
}
	#btn-auth
	{
		float: left;
	}
	#btn-mdp
	{
		float: right;
	}
.form-menu
{
	display: none;
	opacity: 0;
}
.close-anime
{
	float: left;
	margin-left: -40px;
	margin-top: 8px !important;
	font-size: 20px;
	cursor: pointer;
}
.close-anime.right
{
	float: right;
	margin-right: -30px;
}
.row-fluid.profile .section
{
	border: 1px white solid;
	min-height: 300px;
	margin-bottom:10px;
}
.row-fluid.profile .section h4
{
	border-bottom: 1px white solid;
	margin-top: 4px;
	padding: 12px;
}
.form-horizontal .form-group
{
	margin-left: 0px;
	margin-right: 0px;
}
.form-group.input-group {
margin-left: -2px;
}

.slider_home
{
	border: 1px dashed;
	width: 100%;
	height: 380px;
}
.derniers_inscrits
{
	margin-top: 40px;
	border: 1px dotted;
	height: 140px;
}
.carousel
{
	height: 90%;
	margin-top: 0.6%;
	
}
.carousel li
{
	float: left;
	border: 1px white solid;
	margin:0px 5px 0px 5px;
	height: 100%;
	list-style: none;
	width:122px;
}
.presse_evenements
{
	border-top:1px solid white;
	margin-top:40px;
	height: 200px;
}
