{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container actualite">
		<div class="header">
			<a href="{{ path('m_core_profile_eventsactus') }}" title="Revenis aux actus">&#60;&#60; Revenis aux Actus</a>
			<i>Publié le {{oActu.publication|date('d/m/Y à H:m', timezone="Africa/Casablanca")}}</i>
		</div>
		<article>
			<div class="left_article">
				<img src="{{oActu.image}}" alt="">
				<p>{{oActu.date}}</p>
			</div>
			<div class="right_article">
				<h2>{{oActu.titre}}</h2>
				<div class="content_p">
					<p>{{oActu.description|nl2br }}</p>
				</div>
			</div>
		</article>
		<div class="footer">
			<i>Source : {{oActu.source}}</i>
		</div>
	</section>
{% endblock %}