{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container evenement">
		<article>
			<div class="left_article">
				<img src="{{oEvents.image}}" alt="">
				<div class="inscrits">
					<h3>Membres inscrits ({{iTotalInscrit + 1}})</h3>
					{% if app.user.sexe == 0 %}{% set sPlace = "ResteHomme"  %}{% elseif app.user.sexe == 1 %}{% set sPlace = "ResteFemme"  %}{% endif %}
					<div class="content_inscrits">
						<ul>
							<li class="membres_enligne">
								<a href="{% if app.user.sexe != oEvents.user.sexe and (oEvents.user.roles[0] != 'ADMIN' or oEvents.user.roles[0] != 'MODERATEUR') %}{{ path('m_core_profile_voir', {'sUser': oEvents.user.username}) }}{% else %}#{% endif %}" title="{{oEvents.user.username|capitalize}}" >
									<img src="{{sImage}}" alt="{{oEvents.user.username|capitalize}}">
									<span class="username {% if oEvents.user.sexe %} femme{% else %} homme{% endif %}">
										<span class="connectivite {% if oEvents.user.enligne %} enligne{% else %} horsligne{% endif %}"></span>{{oEvents.user.username|capitalize}}
									</span> - {{oEvents.user.age}} ans 
									<span class="ville">{{oEvents.user.ville.nom}}</span>
								</a>
								{% if app.user.sexe != oEvents.user.sexe and oEvents.user.enLigne == 1 %}
									<a href="#talkTo" title="Discuter avec {{ oEvents.user.username|capitalize }}" rel="{{ oEvents.user.username|capitalize }}" class="text-indent talk_to tooltip">Talk to</a> 
								{% endif %}
							</li>
							{% set sInscrit = false  %}
							{% for oUser in aInscrit %}
							{% if oUser.username == app.user.username   %} {% set sInscrit = true  %} {% endif %}

							<li class="membres_enligne">
								<a href="{% if app.user.sexe != oUser.sexe %}{{ path('m_core_profile_voir', {'sUser': oUser.username}) }}{% else %}#{% endif %}" title="{{oUser.username|capitalize}}" >
									<img src="{{oUser.image}}" alt="{{oUser.username|capitalize}}">
									<span class="username {% if oUser.sexe %} femme{% else %} homme{% endif %}">
										<span class="connectivite {% if oUser.enLigne %} enligne{% else %} horsligne{% endif %}"></span>{{oUser.username|capitalize}}
									</span> - {{oUser.age}} ans 
									<span class="ville">{{oUser.ville}}</span>
								</a>
								{% if app.user.sexe != oUser.sexe and oUser.enLigne == 1 %}
									<a href="#talkTo" title="Discuter avec {{ oUser.username|capitalize }}" rel="{{ oUser.username|capitalize }}" class="text-indent talk_to tooltip">Talk to</a> 
								{% endif %}
							</li>
							{% endfor %}
						</ul>

					</div>
				</div>
			</div>
			<div class="right_article">
				<h2>{{oEvents.titre}}</h2>
				<div class="block_left">
					<ul>
						<li><h5>{{oEvents.dateEvent}}</h5></li>
						<li>
							<h5>{{oEvents.lieu}} à {{oEvents.ville.nom}}</h5>
							<p class="adresse">{{oEvents.adresse}}</p>
						</li>
						<li><h5>Inscription {% if oEvents.inscription == 0 %}Gratuite{% else %}avec Réservation Payante{% endif %} </h5></li>
						<li class="inline_p"><p>Organisé par : </p>
							<h5>
								<span class="{% if oEvents.user.sexe %}femme{% else %}homme{% endif %}">
									<a href="{% if app.user.sexe != oEvents.user.sexe and (oEvents.user.roles[0] != 'ADMIN' or oEvents.user.roles[0] != 'MODERATEUR') %}{{ path('m_core_profile_voir', {'sUser': oEvents.user.username}) }}{% else %}#{% endif %}" title="{{oEvents.user.username|capitalize }}" >									
										{{ oEvents.user.username|capitalize }}
									</a>
								</span>	
							</h5></li>
						<li class="inline_p"><p>Statut :</p><button class="button {% if aPlaces[sPlace] == 0  %}ferme{% else %}ouvert{% endif %}">
							{% if aPlaces[sPlace] == 0  %}Complet{% else %}Ouvert{% endif %}</button></li>
					</ul>
				</div>
				<div class="block_right">
					<h3>Inscription</h3>
					<div class="entete">Nombre de Places Total : {{oEvents.places}}</div>
					<div class="content_block">
						<div class="block hommes"><span class="logo"></span> : {{aPlaces.Placehomme}} Places (reste {{aPlaces.ResteHomme}}  places)</div>
						<div class="block femmes"><span class="logo"></span> : {{aPlaces.Placefemme}} Places (reste {{aPlaces.ResteFemme}}  places)</div>
					</div>

					{% if app.user.username != oEvents.user.username or ( sInscrit == false and aPlaces[sPlace] == 0 ) %}
						<form method="POST">
							<input type="submit" name="{% if sInscrit %}desinscrire{% elseif aPlaces[sPlace] > 0 %}inscrire{% endif %}" class="button" value="{% if sInscrit %}Me désinscrire{% elseif aPlaces[sPlace] > 0 %}M'inscrire{% endif %}">
						</form>
					{% endif %}
				</div>
				<div class="content_p">
					<p>{{oEvents.description|nl2br}}</p>
				</div>
				<div class="map_container">
					<div class="map"></div>
				</div>
			</div>
		</article>
		<article class="actualite-sortie">
		<h2> Fil d'actualité de la sortie</h2>
		<p class="intro_actualite">
		Cet espace est réservé à toute personne qui souhaite s'adresser au membre organisateur ou aux membres inscrits afin de poser de questions ou commentaires strictement relatifs à ala sortie proposée. Merci de repecter ces conditions d'utilisation !
		</p>
		<p class="add-actualite-intro">
		<a href="#addpost" class="add-post"> Publier un Post</a>
		</p>
		
		<div class="list-actualite">
			{% if publications %}
		{% set nowtimestamp = "now"|date("U") %}
		{% for publication in publications %}
		{% set age = (nowtimestamp - publication.user.datenaissance)/ (365 * 24 * 60 * 60) %}
		<div class="detail-actualite">
	 {% for image in publication.user.images %} {% if image.profileDefault == 1%} 
	 <a href="{{ path('m_core_profile_voir',{'sUser':publication.user.username})}}" >
	 <img src="{{ image.image}}" width="30" height="30"></a> {% endif %} {% endfor %}	<p> 
	 <a href="{{ path('m_core_profile_voir',{'sUser':publication.user.username})}}" >
	 	<strong class="{% if publication.user.sexe == 0 %}homme{% else %}femme{% endif %}"> {{ publication.user.username }} </strong>
	 </a> 
	 <span class="detail-user-publication"> - {{age|round(0, 'floor')}} ans - {{ publication.user.ville.nom}} </span> 
	 <br> <span class="text-publication"> {{ publication.text}} <br></span> <span class="date-actualite">{{publication.dateadd|date('U')|activity}} </span> </p>
	 {% if publication.user.id == app.user.id or  oEvents.user.id == app.user.id or is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATEUR') %}
	  <form action="{{ path('m_core_profile_addpublication')}}" method="POST">

	  	<input type="hidden" name="post_target" value="{{publication.id}}">
	  <input type="submit" name="deletepost" id="delete-comment" value="Supprimer ce post">
	   </form>
	  {% endif %}
	

	 <div id="add-commentaire">
	 	<span class="loader {{publication.id}}"></span>
	 <ul class="list-comments" data-role="{{publication.id}}"> 
	 {% set lengthcommentaire = publication.commentaires|length %}
	 {% if lengthcommentaire > 3 %}
	 <a href="#" class="others-comments" data-role="{{publication.id}}">Afficher {% if lengthcommentaire-3 > 1 %} les {{lengthcommentaire-3}}  autres commentaires précédents {% else %} le commentaire précédent {% endif %}</a> 
	 {% endif %}
	 {% for commentaire in publication.commentaires|reverse|slice(0,3) %}
	 <li>
	 {% set ageuser = (nowtimestamp - commentaire.user.datenaissance)/ (365 * 24 * 60 * 60) %}
	 <span> {% for image in commentaire.user.images %} {% if image.profileDefault == 1 %} <img src=" {{image.image}} "> {% endif %} {% endfor %} </span> <span class="text-commentaire"> 
	 <a href="{{ path('m_core_profile_voir',{'sUser':commentaire.user.username})}}" >
	 	<strong class="{% if commentaire.user.sexe == 0 %}homme{% else %}femme{% endif %}"> {{ commentaire.user.username }} </strong>
	 </a>
	  <span class="detail-user-commentaire"> - {{ageuser|round(0,'floor')}} ans - {{commentaire.user.ville.nom}} </span><br> {{ commentaire.text}} <br>
	  {% if publication.user.id == app.user.id or  oEvents.user.id == app.user.id or is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATEUR') %}
	  <form action="{{path('m_core_profile_addcommentaire')}}" method="POST">

	  	<input type="hidden" name="comment_target" value="{{commentaire.id}}">
	  <input type="submit" name="deletecomment" id="delete-comment" value="Supprimer ce commentaire">
	   </form>
	  {% endif %}
	 <span class="date-commentaire">{{ commentaire.dateadd|date('U')|activity}} </span></span>
	 </li>
	 {% endfor %}
	 </ul>
	  {% for image in app.user.images %} {% if image.profileDefault == 1%}
	 <img src={{ image.image }} alt="{{ app.user.username }}" width="30" height="30" > {% endif %}
	 {% endfor %}
	 <form class ="frm-add-comment" data-role="{{publication.id}}">
	 <input type="hidden" name="publication_target" value="{{ publication.id}}">
	 <textarea class="txtcommentaire" name="txtcomment"></textarea>
	 <button class="add-comment" role="{{publication.id}}">Publier</button>
	</form>
	  </div>
		</div>
		{% endfor %}
		
		
		{% endif %}
		</div>
		<div class="form-actualite" id="addpost">
		<form {{ form_enctype(oFormPublication) }} id="form-add-actualite" method="post">
		<textarea name="txtpublication" id="txtpublication"></textarea>
		<input type="hidden" name="event_target" value="{{oEvents.id}}" >
		<p class="desc-add-actualite">
		Cet espace est strictement réservé à la sortie proposée. Nous vous demandons de publier uniquement des questions ou des commentaires relatifs à celle-ci afin de ne pas perturber ce fil. Merci ! <br>
		<button class="add-actualite"> Publier</button>
		</p>
		</form>
		</div>
		</article>

	</section>
	<script>
		$(document).ready(function(){
			mapMe(".map_container .map", "{{oEvents.ville.nom}}");
		});

		$('.add-actualite').on('click',function(e){
			e.preventDefault();
			var DATA = $('#form-add-actualite').serialize();
			var URL = "{{ path('m_core_profile_addpublication')}}";
			var txtpublication = $('#txtpublication').val();
				if(txtpublication!='')
				{
			ajaxpublication(URL,DATA);
			}

				else 
				{
					popMeOnError(Array('Erreur','Votre publication est trop courte'));
					return false;
				}
		})

			$('.add-comment').on('click',function(e){
		e.preventDefault();
		var pub = $(this).attr('role');
		/*var DATA = $(".frm-add-comment" + pub).serialize();*/
		var DATA = $(".frm-add-comment[data-role='"+ pub +"']").serialize();
		var URL = "{{path('m_core_profile_addcommentaire')}}";
		var txtcommentaire = $(".frm-add-comment[data-role='"+ pub +"'] .txtcommentaire").val();
		if(txtcommentaire!='')
		{
			ajaxcommentaire(URL,DATA,pub);
		}
		else
		{
			popMeOnError(Array('Erreur','Votre commentaire est trop court'));
			return false;
		}
			
			});

			$(".others-comments").on('click',function(){

				var pub = $(this).attr('data-role');
				var DATA = 'publication='+ pub;
				var URL = "{{path('m_core_profile_getcommentaire')}}";
				
					ajaxgetcommentaire(URL,DATA,pub);
				
				
				
				return false;

			});

			$("#formsuppcomment").on('submit',function(e){
				e.preventDefault();
				alert($(this).serialize());
			})

		var URL_AJAXADDPUBLICATION = "{{ path('m_core_profile_evenement',{'sTitre' : oEvents.titre}) }}";
	</script>
{% endblock %} 