{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container evenement_creation">
		<div class="block_evenement_creation">
			<h3 class="no-extra-margin"><span class="circle"></span>Création d'une sortie :</h3>
			<p>Veuillez compléter l'ensemble des informations ci-dessous et lire <a href="{{asset(roots.documents.Sorties)}}">les conditions de création d'une sortie</a>.</p>
			<p>Notre responsable des sorties "Rencontres &amp; Vous" vous contactera si besoin avant de publier votre sortie auprès des membres de notre communauté.</p>
			<form  method="POST" id="uploadData" {{ form_enctype(oFormEvent) }}>
				<div class="block_left">
					<ul>
						<li class="empty">
							<input id="upload0" class="upload" type="file" name="upload" accept="image/*" multiple="">
							<span>
								<a class="photo" href="#">
									<span class="loader"></span>
									<span class="add">
										<span class="plus">+</span>
										<p>Ajouter une photo</p>
									</span>
								</a>
							</span>
						</li>
						<input type="hidden" name="ADD_upload0" class="ADD_upload0" />
					</ul>
					<div class="block block_coordonnes">
						<h4>Vos Coordonnées</h4>
						<div class="content_block">
							<div class="block_input">
								{{ form_label(oFormEvent.prenom) }}
								{{ form_widget(oFormEvent.prenom, {'attr' : {'pattern' : '[a-z A-Z]{2,30}'}}) }}
							</div>
							<div class="block_input">
								{{ form_label(oFormEvent.mail) }}
								{{ form_widget(oFormEvent.mail) }}
							</div>
							<div class="block_input">
								{{ form_label(oFormEvent.tel) }}
								{{ form_widget(oFormEvent.tel, {'attr' : {'pattern' : '^\\+{0,1}[0-9]{8,14}$'}}) }}
							</div>
						</div>
					</div>
					{# <div class="block block_coordonnes block_responsable_lieu">
						<h4>Coordonnées Responsable du Lieu</h4>
						<div class="content_block">
							<div class="block_input">
								{{ form_label(oFormEvent.contact) }}
								{{ form_widget(oFormEvent.contact) }}
							</div>
							<div class="block_input">
								{{ form_label(oFormEvent.telcontact) }}
								{{ form_widget(oFormEvent.telcontact) }}
							</div>
						</div>
					</div> #}
					<p class="notice">Vos coordonnées ne seront pas visibles sur le site. Strictement confidentielles, ces informations permettront au responsable des  sorties de vous contactez si besoin.<p/>
					<p class="notice">* Le renseignement des champs ci-dessus est requis.</p>
				</div>
				<div class="block_right">
					<div class="block_input with-border block_titre">
						{{ form_label(oFormEvent.titre) }}
						{{ form_widget(oFormEvent.titre, {'attr' : {'pattern' : '[a-zA-Z0-9 \'éèâêïàù]{3,100}'}}) }}
					</div>

					<div class="block_input with-border">
						<div class="block_date">
							{{ form_label(oFormEvent.dateEvent) }}
							{{ form_widget(oFormEvent.dateEvent, {'attr' : {'placeholder' : 'jj/mm/aaaa', 'pattern':'^[0-9]{2}\/[0-9]{2}\/[0-9]{4}$'}}) }}
							{# <label for="date" >Date : </label>
							<input type="date" id="date" name="date" /> #}
						</div>
						<div class="block_heure">
							{{ form_label(oFormEvent.heure) }}
							{{ form_widget(oFormEvent.heure) }}
							{# <label for="heure" class="label_heure" >Heure : </label>
							<select name="heure" id="heure">
							<option value=""></option>
							{% for iHeure in 0..23 %}
								{% if iHeure|length == 1 %}
									{% set iHeure = '0' ~ iHeure %}
								{% endif %}
								<option value="{{ iHeure }}">{{ iHeure }}</option>
							{% endfor %}</select> #}
						</div>
					</div>

					<div class="block_input block_lieu">
						{{ form_label(oFormEvent.lieu) }}
						{{ form_widget(oFormEvent.lieu, {'attr' : {'pattern' : '[a-zA-Z0-9 \'éèâêïàù]{3,100}'}}) }}
					</div>

					<div class="block_input block_adresse">
						{{ form_label(oFormEvent.adresse) }}
						{{ form_widget(oFormEvent.adresse, {'attr' : {'pattern' : '[a-zA-Z0-9 \'éèâêïàù]{8,100}'}}) }}
					</div>

					<div class="block_input with-border block_ville">
						{{ form_label(oFormEvent.ville) }}
						{{ form_widget(oFormEvent.ville) }}
					</div>

					<div class="block_input block_nombre">
						{{ form_label(oFormEvent.places) }}
						{{ form_widget(oFormEvent.places, {'attr' : {'pattern' : '[0-9]{1,3}'}}) }}
					</div>

					<div class="block_input block_inscription">
						<label>Inscription : </label>
						{% for iKey, oInscription in oFormEvent.inscription %}
							<div class="{% if iKey == 0 %}block_gratuit{% else %}block_payant{% endif %}">
								{{ form_widget(oInscription) }}
								{{ form_label(oInscription) }}
							</div>
						{% endfor %}
					</div>
					<div class="block_input with-border block_prix">
						{{ form_label(oFormEvent.prix) }}
						{{ form_widget(oFormEvent.prix, {'attr' : {'pattern' : '[0-9,\.]{1,6}'}}) }}<label>MAD</label>
					</div>
					<div class="block_input block_description">
						{{ form_label(oFormEvent.description) }}
						{{ form_widget(oFormEvent.description) }}
					</div>
					{{ form_widget(oFormEvent._token) }}
					<input type="submit" value="Soumettre mon Event" class="button" />
				</div>
			</form>
			
		</div>
	</section>
	<script>
		$(document).ready(function(){
			$(".block_payant").remove();
			$(document).on('change', '.block_inscription input[type="radio"]', function(e){
				if ( $(this).is(':checked') && $(this).parents('.block_gratuit').length !== 0 )
					$('.block_prix').slideUp();
				else 
					$('.block_prix').slideDown();
			});

			$(document).on('submit', '#uploadData', function(e){
     			var $aError = Array();
     			if ($("#upload0").val().length <= 2)
     			{
     				$aError[0] = "Photo de l'évenement";
					$aError[1] = "La photo de l'évenement est obligatoire";
					popMeOnError($aError);
     				return false;
     			}
     			{% if not is_granted('ROLE_ADMIN') %}
	     			else if ( parseInt($('.block_nombre input').val()) < 4 )
	     			{
	     				$aError[0] = "Nombre de places";
						$aError[1] = "Le minimum est de 4 places par Sortie.";
						popMeOnError($aError);
	     				return false;
	     			}
	     			else if ( parseInt($('.block_nombre input').val()) > 20 )
	     			{
	     				$aError[0] = "Nombre de places";
						$aError[1] = "Le maximum est de 20 places par Sortie.";
						popMeOnError($aError);
	     				return false;
	     			}
	     		{% endif %}
     		});
		});
	</script>
{% endblock %} 