{% extends 'MCoreBundle:Profile:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container events-actus">
		<section class="block-events-actus events">
			<h3>Sorties <a href="{% if is_granted('ROLE_USER') %}{{ path('m_core_profile_evenement_creation') }}{% else %}{{ path('m_core_profile_abonnement') }}{% endif %}" title="Créer une sortie" class="{% if is_granted('ROLE_FREE') %}redirectA {% endif %}">+ Créer une sortie</a></h3>
			<form method="POST" {{ form_enctype(oFormFiltre) }}>
				<p>Recherche les Sorties par :</p>
				<div class="block block_ville">
					{{ form_label(oFormFiltre.ville) }}
					{{ form_widget(oFormFiltre.ville) }}
				</div>
				<div class="block block_date">
					{{ form_label(oFormFiltre.date) }}
					{{ form_widget(oFormFiltre.date, {'attr' : {'id':'date_event', 'placeholder' : 'jj/mm/aaaa', 'pattern':'^[0-9]{2}\/[0-9]{2}\/[0-9]{4}$'}}) }}
				{# 	<label for="date_event">Date :</label>
					<input type="date" name="date_event" id="" > #}
				</div>
				<input type="submit" name="rechercher" class="button" value="Rechercher">
			</form>
			<div class="evenements">

					{% for Events in aEvents %}
					<article class="evenement {% if loop.index0 is even %} colored gray{% endif %}">
						<div class="image_event">
							<img src="{{Events.image}}" alt="">
						</div>
						<div class="content_event">
							<h4>{% if Events.titre|length > 34 %}{{ Events.titre|slice(0,34) ~ '...' }}{% else %}{{Events.titre}}{% endif %}</h4>
							<h5>{{Events.sDate}} - {{Events.ville}}</h5>
							<h6>Organisateur : {{Events.username|capitalize }}</h6>
							<button class="button {% if Events.ouvert == 0  %}ferme{% else %}ouvert{% endif %}">{% if Events.ouvert == 0  %}Complet{% else %}Ouvert{% endif %}</button>
							<a href="{% if is_granted('ROLE_USER') %}{{ path('m_core_profile_evenement', {'sTitre' : Events.link  }) }}{% else %}{{ path('m_core_profile_abonnement') }}{% endif %}" title="" class="button {% if is_granted('ROLE_FREE') %}redirectA {% endif %}">Voir la sortie</a>
						</div>
					</article>
					{% endfor %}
				
			</div>
		</section>
		<section class="block-events-actus actus">
			<h3>Actualités</h3>
			<div class="actualites">
				{% for Actus in aActus %}
					<article class="actualite {% if loop.index0 is odd %} colored gray{% endif %}">
						<div class="image_actu">
							<img src="{{Actus.image}}" alt="">
						</div>
						<div class="content_actu">
							<h4><a href="{% if is_granted('ROLE_USER') %}{{ path('m_core_profile_actualite', {'sTitre' : Actus.link  }) }}{% else %}{{ path('m_core_profile_abonnement') }}{% endif %}" class="{% if is_granted('ROLE_FREE') %}redirectA {% endif %}">{% if Actus.titre|length > 34 %}{{ Actus.titre|slice(0,34) ~ '...' }}{% else %}{{Actus.titre}}{% endif %}</a></h4>
							<p>{{Actus.description}}...</p>
							<i>posté le : {{Actus.publication}}</i>
						</div>
					</article>
				{% endfor %}

			</div>
		</section>
	</section>
{% endblock %}