{% extends 'MCoreBundle::layout.html.twig' %}
{% block body %}
<script>
var conn = new ab.Session(
    'ws://rencontres-mariages.ma:7979' // The host (our Ratchet WebSocket server) to connect to
  , function() {            // Once the connection has been established
        conn.subscribe('message', function(topic, data) {
            console.log(topic);
            console.log(data);
        });
    }
  , function() {            // When the connection is closed
        console.warn('WebSocket connection closed');
    }
  , {                       // Additional parameters, we're ignoring the WAMP sub-protocol for older browsers
        'skipSubprotocolCheck': true
    }
);
</script>
{% endblock %}