@font-face {
    font-family: 'DIN30640StdNeuzeitGroteskLight';
    src: url('dinneuzeitgroteskstd-light.eot');
    src: url('dinneuzeitgroteskstd-light.eot') format('embedded-opentype'),
         url('dinneuzeitgroteskstd-light.woff') format('woff'),
         url('dinneuzeitgroteskstd-light.ttf') format('truetype'),
         url('dinneuzeitgroteskstd-light.svg#DIN30640StdNeuzeitGroteskLight') format('svg');
}
