{% extends 'MCoreBundle:Admin:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container events-actus">

	<section class="block-events-actus actus">
			<h3>{{ aActus|length }}  Actus</h3>
			<div class="actualites">

				{% for Actus in aActus %}
				<article class="actualite {% if loop.index0 is even %} colored gray{% endif %}" style="height:112px;" >
					<div class="image_actu" style="height:75px;">
						<img src="{{Actus.image}}" alt=""  >
					</div>
					<div class="content_actu"  >
						<h4><a href="{{ path('m_core_profile_actualite', {'sTitre' : Actus.link  }) }}" title="">{{Actus.titre}}</a> </h4>
						{% if Actus.accueil == 0  %}{% else %}<p>(En page d'Accueil)</p>{% endif %}
						<p>posté le : {{Actus.publication}}</p>
					</div>
							<form  method="POST" class="" style="height:100%;width:100%;padding:0;background:none;box-shadow:none;" >
							<input type="hidden" name="Actu[id]" value="{{Actus.id}}"  />
							<div style="float:left;width:100%">
								<input type="submit" value="supprimer" name="Actu[supprimer]" class="btn btn-primary button" style="margin-left:5px;clear:none;"><input type="submit" value="modifier" name="Actu[modifier]" class="btn btn-primary button" style="margin-left:5px;;clear:none;">
								<a href="{{ path('m_core_profile_actualite', {'sTitre' : Actus.link  }) }}" Traget="_blank" style="color:#FFF;float:left;margin-top: 13px;height: 15px;margin-left: 40px;" class="btn btn-primary ">Aperçu</a>
							</div>
							</form>
				</article>
				{% endfor %}

			</div>
		</section>

			<section class="block-events-actus actus">
			<h3>Nouvelle/Modifier Actus</h3>
			<div class="actualites">

		<form  method="POST" id="uploadData" {{ form_enctype(oFormActu) }} style="height:100%">
				<div class="image_actu">
					<div class="block_left">

						<ul>
							<li class="full" style="height: 154px;">
								<input id="upload0" class="upload" type="file" name="upload" accept="image/*" multiple="">
								<span>
									<a class="photo" href="#" >
										<img src="{{oActu.image}}" style="height: 100px;width:80px">
									</a>
									<a class="delete" href="#" > x </a>
								</span>
							</li>
							<input type="hidden" name="ADD_upload0" class="ADD_upload0" value="{{oActu.image}}"/>
						</ul>
					</div>
				</div>
					
			<div class="block_input with-border block_titre">
						{{ form_label(oFormActu.titre) }}
						<input type="text" value="{{oActu.titre}}" style="width: 80%; id=" name="m_corebundle_actu[titre]" required="required">
			</div>
			<div class="block_input with-border block_titre">
						{{ form_label(oFormActu.source) }}
						<input type="text" value="{{oActu.source}}" style="width: 76%; id=" id="m_corebundle_actu_source" name="m_corebundle_actu[source]" required="required">
			</div>
			<div class="block_input with-border block_titre">
						{{ form_label(oFormActu.publication) }}
						{{ form_widget(oFormActu.publication) }}
			</div>
			<div class="block_input with-border block_titre">
						<label for="date" >champs sous photo : </label>
						<input type="text" value="{{oActu.date}}" style="width: 76%; id=" id="m_corebundle_actu_date" name="m_corebundle_actu[date]" required="required">
			</div>
			<div style="width: 50%;float:left;">
						{{ form_label(oFormActu.accueil) }}
						<input type="checkbox" {% if oActu.accueil != NULL  %}checked="checked"{% endif %} id="m_corebundle_actu_accueil_0" name="m_corebundle_actu[accueil]" value="1">
			</div>
			<div style="width: 50%;float:left;">
						{{ form_label(oFormActu.status) }}
						<input type="checkbox" {% if oActu.status != NULL  %}checked="checked"{% endif %} id="m_corebundle_actu_status_0" name="m_corebundle_actu[status]" value="1">
			</div>
			<div  style="margin: 2px; width: 100%; height: 113px;">
							{{ form_label(oFormActu.description) }}
							<textarea id="m_corebundle_actu_description" name="m_corebundle_actu[description]" required="required" style="margin: 2px; width: 339px; height: 78px;">{{oActu.description}}</textarea>
			</div>
			<div style="float:left;width:100%">
				{% if oActu.id != NULL  %}
									
					<input type="hidden" name="m_corebundle_actu[id]" value="{{oActu.id}}"  />
				{% endif %}
				<input type="submit" value="Enregistrer" name="Actus[Enregistrer]" class="btn btn-primary button" style="margin-left:5px;clear:none;">
								
			</div>	
				
		</form>

				
		</section>
	</section>

{% endblock %}