{% extends 'MCoreBundle:Admin:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container evenement">
		<article>
			<div class="left_article">
				<img src="{{oEvents.image}}" alt="">
				<div class="inscrits">
					<h3>Membres inscrits ({{iTotalInscrit}})</h3>
					{% if app.user.sexe == 0 %}{% set sPlace = "ResteHomme"  %}{% elseif app.user.sexe == 1 %}{% set sPlace = "ResteFemme"  %}{% endif %}
					<div class="content_inscrits">
						<ul>
							{% set sInscrit = false  %}
							{% for oUser in aInscrit %}
							{% if oUser.username == app.user.username   %} {% set sInscrit = true  %} {% endif %}

							<li class="membres_enligne">
								<a href="{% if app.user.sexe != oUser.sexe %}{{ path('m_core_profile_voir', {'sUser': oUser.username}) }}{% else %}#{% endif %}" title="{{oUser.username|capitalize}}" >
									<img src="{{oUser.image}}" alt="{{oUser.username|capitalize}}">
									<span class="username femme"><span class="connectivite enligne"></span>{{oUser.username|capitalize}}</span> - {{oUser.age}} ans 
									<span class="ville">{{oUser.ville}}</span>
								</a>
								{% if app.user.sexe != oUser.sexe and oUser.enLigne == 1 %}<a href="#talkTo" title="{{oUser.username|capitalize}}" class="text-indent talk_to">Talk to</a> {% endif %}
							</li>
							{% endfor %}
						</ul>

					</div>
				</div>
			</div>
			<div class="right_article">
				<h2>{{oEvents.titre}}</h2>
				<div class="block_left">
					<ul>
						<li><h5>{{dDateEvent}}</h5></li>
						<li>
							<h5>{{oEvents.lieu}} à {{oEvents.ville.nom}}</h5>
							<p class="adresse">{{oEvents.adresse}}</p>
						</li>
						<li><h5>Inscription {% if oEvents.inscription == 0 %}Gratuite{% else %}avec Réservation Payante{% endif %} </h5></li>
						<li class="inline_p"><p>Organisé par : </p><h5>{{oEvents.user.username|capitalize}}</h5></li>
						<li class="inline_p"><p>Statut :</p><button class="button {% if aPlaces[sPlace] == 0  %}ferme{% else %}ouvert{% endif %}">
							{% if aPlaces[sPlace] == 0  %}Complet{% else %}Ouvert{% endif %}</button></li>
					</ul>
				</div>
				<div class="block_right">
					<h3>Inscription</h3>
					<div class="entete">Nombre de Places Total : {{oEvents.places}}</div>
					<div class="content_block">
						<div class="block hommes"><span class="logo"></span> : {{aPlaces.Placehomme}} Places (reste {{aPlaces.ResteHomme}}  places)</div>
						<div class="block femmes"><span class="logo"></span> : {{aPlaces.Placefemme}} Places (reste {{aPlaces.ResteFemme}}  places)</div>
					</div>

					{% if app.user.username != oEvents.user.username or ( sInscrit == false and aPlaces[sPlace] == 0 ) %}
					{# <form method="POST">
									<input type="submit" name="{% if sInscrit %}desinscrire{% elseif aPlaces[sPlace] > 0 %}inscrire{% endif %}" class="button" value="{% if sInscrit %}Désinscrire{% elseif aPlaces[sPlace] > 0 %}S'inscrire{% endif %}">
					</form> #}

					{% endif %}
				</div>
				<div class="content_p">
					<p>{{oEvents.description}}</p>
				</div>
				<form  method="POST" class="" style="height:100%;width:100%" >
					<div class="map_container">
							<label>Message de refus:</label>
					<textarea style="margin: 2px; width: 439px; height: 105px;" id="m_corebundle_usertype_description" name="m_corebundle_uservalide[message]"  class="textarea"></textarea>
					</div>

												
					<input type="hidden" name="m_corebundle_uservalide[id]" value="{{oEvents.id}}"  />
					{% if oEvents.status == 0  %} 
					<input type="submit" value="valider" name="m_corebundle_uservalide[valide]" class="btn btn-primary button" style="margin-left:50px;;margin-top:20px;">{% endif %}
					 <input type="submit" value="rejeter" name="m_corebundle_uservalide[rejeter]" class="btn btn-primary button" style="margin-left:150px;;margin-top:20px;">
								</form>
			</div>
		</article>
	</section>

	<section class="body_container evenement_creation">
		<div class="block_evenement_creation">
			<h3 class="no-extra-margin"><span class="circle"></span>Modifier une Sortie :</h3>
			<form  method="POST" id="uploadData" {{ form_enctype(oFormEvent) }}>
				<div class="block_left">
					<ul>
						<li class="full">
							<input id="upload0" class="upload" type="file" name="upload" accept="image/*" multiple="">
							<span>
								<a class="photo" href="#" '="">
									<img src="{{oEvents.image}}">
								</a>
								<a class="delete" href="#" '=""> x </a>
							</span>
						</li>
						<input type="hidden" name="ADD_upload0" class="ADD_upload0" value="{{oEvents.image}}"/>
					</ul>
					<div class="block block_coordonnes">
						<h4>Vos Coordonnées</h4>
						<div class="content_block">
							<div class="block_input">
								{{ form_label(oFormEvent.prenom) }}
								{{ form_widget(oFormEvent.prenom, {'attr' : {'pattern' : '[a-z A-Z]{2,30}'}}) }}
							</div>
							<div class="block_input">
								{{ form_label(oFormEvent.mail) }}
								{{ form_widget(oFormEvent.mail) }}
							</div>
							<div class="block_input">
								{{ form_label(oFormEvent.tel) }}
								{{ form_widget(oFormEvent.tel, {'attr' : {'pattern' : '^\\+{0,1}[0-9]{8,14}$'}}) }}
							</div>
						</div>
					</div>
					{# <div class="block block_coordonnes block_responsable_lieu">
						<h4>Coordonnées Responsable du Lieu</h4>
						<div class="content_block">
							<div class="block_input">
								{{ form_label(oFormEvent.contact) }}
								{{ form_widget(oFormEvent.contact) }}
							</div>
							<div class="block_input">
								{{ form_label(oFormEvent.telcontact) }}
								{{ form_widget(oFormEvent.telcontact) }}
							</div>
						</div>
					</div> #}
					<p class="notice">* Le renseignement des champs ci-dessus est requis.</p>
				</div>
				<div class="block_right">
					<div class="block_input with-border block_titre">
						{{ form_label(oFormEvent.titre) }}
						{{ form_widget(oFormEvent.titre, {'attr' : {'pattern' : '[a-zA-Z0-9 \'éèâêïàù]{3,100}'}}) }}
					</div>

					<div class="block_input with-border">
						<div class="block_date">
							<label for="date" >Date : </label>
						{{ form_widget(oFormEvent.dateEvent) }}
						</div>
						<div class="block_heure">
							{{ form_label(oFormEvent.heure) }}
							{{ form_widget(oFormEvent.heure) }}
						</div>
					</div>

					<div class="block_input block_lieu">
						{{ form_label(oFormEvent.lieu) }}
						{{ form_widget(oFormEvent.lieu, {'attr' : {'pattern' : '[a-zA-Z0-9 \'éèâêïàù]{3,100}'}}) }}
					</div>

					<div class="block_input block_adresse">
						{{ form_label(oFormEvent.adresse) }}
						{{ form_widget(oFormEvent.adresse, {'attr' : {'pattern' : '[a-zA-Z0-9 \'éèâêïàù]{8,100}'}}) }}
					</div>

					<div class="block_input with-border block_ville">
						{{ form_label(oFormEvent.ville) }}
						{{ form_widget(oFormEvent.ville) }}
					</div>

					<div class="block_input block_nombre">
						{{ form_label(oFormEvent.places) }}
						{{ form_widget(oFormEvent.places, {'attr' : {'pattern' : '[0-9]{1,3}'}}) }}
					</div>

					<div class="block_input block_inscription">
						<label>Inscription : </label>
						{% for iKey, oInscription in oFormEvent.inscription %}
							<div class="{% if iKey == 0 %}block_gratuit{% else %}block_payant{% endif %}">
								{{ form_widget(oInscription) }}
								{{ form_label(oInscription) }}
							</div>
						{% endfor %}
					</div>
					<div class="block_input with-border block_prix">
						{{ form_label(oFormEvent.prix) }}
						{{ form_widget(oFormEvent.prix, {'attr' : {'pattern' : '[0-9,\.]{1,6}'}}) }}<label>MAD</label>
					</div>
					<div class="block_input block_description">
						{{ form_label(oFormEvent.description) }}
						{{ form_widget(oFormEvent.description) }}
					</div>
					{{ form_widget(oFormEvent._token) }}
					<input type="submit" value="Modifier l'Event" class="button" />
				</div>
			</form>
			
		</div>
	</section>
	<script>
		$(document).ready(function(){
			$(document).on('change', '.block_inscription input[type="radio"]', function(e){
				if ( $(this).is(':checked') && $(this).parents('.block_gratuit').length !== 0 )
					$('.block_prix').slideUp();
				else 
					$('.block_prix').slideDown();
			});
		});
	</script>
	<script>
		$(document).ready(function(){
			mapMe(".map_container .map", "{{oEvents.ville.nom}}");
		});
	</script>
{% endblock %}