{% extends 'MCoreBundle:Admin:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container events-actus">
		<section class="block-events-actus events">
	<h3>{{ aNouveau|length }} Nvlles Sorties <a href="{{ path('m_core_profile_evenement_creation') }}" target="_blank" title="Créer un évenement">+ Créer une Sortie</a></h3>
				<div class="evenements">
				
				{% for Events in aNouveau %}
					<article class="evenement {% if loop.index0 is even %} colored gray{% endif %}">
						<div class="image_event">
							<img src="{{Events.image}}" alt="">
						</div>
						<div class="content_event">
							<h4>{{Events.titre}}</h4>
							<h5>{{Events.date}} - {{Events.ville}}</h5>
							<h6>Organisateur : {{Events.username|capitalize}}</h6>
							
							<a href="{{ path('m_core_admin_eventvoir', {'iId' : Events.id  }) }}" title="" class="button">Traiter</a>
						</div>
					</article>
				{% endfor %}
				
			</div>
		</section>
		<section class="block-events-actus events" >
			<h3>{{ aEvents|length }} Sorties en cours</h3>
			<div class="evenements" style="height: 500px;">

	
			{% for Events in aEvents %}
					<article class="evenement {% if loop.index0 is even %} colored gray{% endif %}" style="height: 125px;">
						<div class="image_event">
							<img src="{{Events.image}}" alt="">
						</div>
						<div class="content_event">
							<h4>{{Events.titre}}</h4>
							<h5>{{Events.sDate}} - {{Events.ville}}</h5>
							<h6>Organisateur : {{Events.username|capitalize}}</h6>
							<button class="button {% if Events.ouvert == 0  %}ferme{% else %}ouvert{% endif %}">{% if Events.ouvert == 0  %}Complet{% else %}Ouvert{% endif %}</button>
							<a href="{{ path('m_core_admin_eventvoir', {'iId' : Events.id  }) }}" title="" class="button">Modifier</a>
							<form  method="POST" class="" style="height:100%;width:100%;padding:0;background:none;box-shadow:none;" >
							<input type="hidden" name="m_corebundle_event[id]" value="{{Events.id}}"  />
							<input type="checkbox" id="m_corebundle_event" name="m_corebundle_event[affiche]" {% if Events.accueil == true %}checked="checked"{% endif %}value="1"> A L'affiche
							<input type="submit" value="valider" name="m_corebundle_event[valide]" class="btn btn-primary button" style="margin-left:50px;">
							</form>
									
						</div>
					</article>
			{% endfor %} 


			</div>
		</section>
		<section class="block-events-actus events">
			<h3>{{ aAncien|length }} Anciennes Sorties </h3>
			<div class="evenements">

	
			{% for Events in aAncien %}
					<article class="evenement {% if loop.index0 is even %} colored gray{% endif %}">
						<div class="image_event">
							<img src="{{Events.image}}" alt="">
						</div>
						<div class="content_event">
							<h4>{{Events.titre}}</h4>
							<h5>{{Events.sDate}} - {{Events.ville}}</h5>
							<h6>Organisateur : {{Events.username|capitalize}}</h6>
							<button class="button {% if Events.ouvert == 0  %}ferme{% else %}ouvert{% endif %}">{% if Events.ouvert == 0  %}Complet{% else %}Ouvert{% endif %}</button>
							<a href="{{ path('m_core_admin_eventvoir', {'iId' : Events.id  }) }}" title="" class="button">Voir l'event</a>
						</div>
					</article>
			{% endfor %} 


			</div>
		</section>
	</section>

{% endblock %}