{% extends 'MCoreBundle:Admin:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		<section class="block-events-actus actus" style="width:380px;margin-top:10px;">
		
		<h3>{{ aNew|length }} Nouveaux Membres</h3>
				<div class="actualites">
				
		
					{% for User in aNew %}
						
						<article class="{% if loop.index0 is even %} colored gray{% endif %}" style="height: 177px;" >
							
								
								<div style="float:left">
									<img alt="{{ app.user.prenom ~ ' ' ~ app.user.nom }}" style="margin-top:5px;" width="100" height="120" src="{{ User.image }}" class="profil_image" />
								</div>
								<form  method="POST" class="" style="height:100%;width:100%;padding:0;" >

								<div style="float:left;margin-top:5px;">
										Pseudo : {{ User.username|capitalize }} - {{ User.age }} ans<br>
										<br>
										{{ User.date_inscription.date|date('d/m/Y à H:m', timezone="Europe/Paris") }} <input type="checkbox" id="m_corebundle_uservalide" name="m_corebundle_uservalide[type]" value="1"> Abonner
										<br>
										Description :
								</div>
								
								 <textarea style="float:left;width:70%;height:70px">{{ User.description }}</textarea> 
								
								<div style="float:left;width:100%">
									<input type="hidden" name="m_corebundle_uservalide[id]" value="{{User.id}}"  />
									<input type="submit" value="valider" name="m_corebundle_uservalide[valide]" class="btn btn-primary button" style="margin-left:50px;">
								   <input type="submit" value="rejeter" name="m_corebundle_uservalide[rejeter]" class="btn btn-primary button" style="margin-left:80px;">
								</form>
								</div>
								

						</article>
						
					{% endfor %}

			
				</div>
		</section>

			<section class="block-events-actus actus" style="width:380px;margin-top:10px;">
				<h3>{{ aSignalement|length }} Nouveaux Signalements</h3>
			
					<div class="actualites">
					{% for User in aSignalement %}
						
						<article class="{% if loop.index0 is even %} colored gray{% endif %}" style="height: 177px;" >
							
								
								<div style="float:left">
									<img style="margin-top:5px;" width="100" height="120" src="{{ User.image }}" class="profil_image" />
								</div>

								<div style="float:left;margin-top:5px;">
										Pseudo : {{ User.username|capitalize }} - {{ User.age }} ans<br>
										<br>
										Signalement :
								</div>
								 {% set iLastId = "" %}
								 <textarea style="float:left;width:70%;height:81px">{% for signaleur in aListSignalement %} {% if loop.first %}{% set iLastId = signaleur.id %}{% endif %}{% if signaleur.idsignaler == User.id %}{{signaleur.username|capitalize}} le {{signaleur.dateSignal|date('d/m/Y à H:m', timezone="Europe/Paris")}}{% if signaleur.averti %} ( Averti ){% endif %} :&#10;{{signaleur.message}}&#10;---------------------------------------------------------------&#10;{% endif %}{% endfor %}</textarea> 
								
								<div style="float:left;width:100%">
								<form  method="POST" class="" style="height:100%;width:100%;padding:0;" >
									<input type="hidden" name="m_corebundle_signalement[id]" value="{{User.id}}"  />
									<input type="hidden" name="m_corebundle_signalement[lastsignalementid]" value="{{iLastId}}"  />
									<input type="submit" value="vue" name="m_corebundle_signalement[vue]" class="btn btn-primary button" style="margin-left:50px;">
								   <input type="submit" value="avertir" name="m_corebundle_signalement[avertir]" class="btn btn-primary button" style="margin-left:50px;">
								 
	    						 	{% if is_granted('ROLE_ADMIN') %}
								   <input type="submit" value="bloquer" name="m_corebundle_signalement[bloquer]" class="btn btn-primary button" style="margin-left:50px;">
								   {% endif %}
								</form>
								</div>
								

						</article>
					
					{% endfor %}

			
				</div>
		</section>
			<section class="block-events-actus actus" style="width:380px;margin-top:10px;">

		<h3>{{ aNewdescriptionAbonnes|length }} Nouvelles descriptions des Membres abonnés</h3>
				<div class="actualites">
				

					{% for User in aNewdescriptionAbonnes %}
						
						<article class="{% if loop.index0 is even %} colored gray{% endif %}" style="height: 177px;" >
							
								
								<div style="float:left">
									<img style="margin-top:5px;" width="100" height="120" src="{{ User.image }}" class="profil_image" />
								</div>

								<div style="float:left;margin-top:5px;">
										Pseudo : {{ User.username|capitalize }} - {{ User.age }} ans<br>
										<br>
										{{ User.date_inscription.date|date('d/m/Y', timezone="Europe/Paris") }}
										<br>
										Description :
								</div>
								
								 <textarea style="float:left;width:70%;height:81px">{{ User.description }}</textarea> 
								
								<div style="float:left;width:100%">
								<form  method="POST" class="" style="height:100%;width:100%;padding:0;" >
									<input type="hidden" name="m_corebundle_descriptionabonne[id]" value="{{User.id}}"  />
									<input type="submit" value="valider" name="m_corebundle_descriptionabonne[valide]" class="btn btn-primary button" style="margin-left:50px;">
								   <input type="submit" value="rejeter" name="m_corebundle_descriptionabonne[rejeter]" class="btn btn-primary button" style="margin-left:80px;">
								</form>
								</div>
								

						</article>
						
					{% endfor %}

			
				</div>
		</section>

			<section class="block-events-actus actus" style="width:380px;margin-top:10px;">
				
				<h3>{{ aNewdescriptionGratuit|length }} Nouvelles descriptions des Membres gratuits</h3>
				<div class="actualites">
				
		
					{% for User in aNewdescriptionGratuit %}
						<article class="{% if loop.index0 is even %} colored gray{% endif %}" style="height: 177px;" >
						
								
								<div style="float:left">
									<img alt="{{ app.user.prenom ~ ' ' ~ app.user.nom }}" style="margin-top:5px;" width="100" height="120" src="{{ User.image }}" class="profil_image" />
								</div>

								<div style="float:left;margin-top:5px;">
										Pseudo : {{ User.username|capitalize }} - {{ User.age }} ans<br>
										<br>
										{{ User.date_inscription.date|date('d/m/Y', timezone="Europe/Paris") }}
										<br>
										Description :
								</div>
								
								 <textarea style="float:left;width:70%;height:81px">{{ User.description }}</textarea> 
								
								<div style="float:left;width:100%">
								<form  method="POST" class="" style="height:100%;width:100%;padding:0;" >
									<input type="hidden" name="m_corebundle_descriptiongratuit[id]" value="{{User.id}}"  />
									<input type="submit" value="valider" name="m_corebundle_descriptiongratuit[valide]" class="btn btn-primary button" style="margin-left:50px;">
								   <input type="submit" value="rejeter" name="m_corebundle_descriptiongratuit[rejeter]" class="btn btn-primary button" style="margin-left:80px;">
								</form>
								</div>
								

						</article>
							
					{% endfor %}

			
				</div>
		</section>

			<section class="block-events-actus actus" style="width:380px;margin-top:10px;">
				<h3>{{ aNewimageAbonne|length }} Membres  photos profil Abonnés</h3>
			<div class="actualites">
						
					{% for iKey, User in aNewimageAbonne %}
						
						<article class="{% if loop.index0 is even %} colored gray{% endif %}" style="height: 177px;" >
							
								

								<div style="float:left;margin-top:5px;">
										Pseudo : {{ iKey }} 
								</div>
								
									
								<div style="float:left;width:100%">
								<form  method="POST" class="ceformulaire" style="height:100%;width:100%;padding:0;" >
									<div style="float:left;width:100%;">
									{% for Image in User.images %}
									<div style="float:left;width:80px;height:95px;">
									<img alt="" style="margin-left:10px;" width="70" height="80" src="{{ Image.nom }}" class="profil_image" />
									<input type="checkbox" id="m_corebundle_photoabonne" name="m_corebundle_photoabonne[Image][]" value="{{ Image.id }}"> Refuser
									</div>
									{% endfor %}
									<input type="text" class="hidden refus" name="m_corebundle_photoabonne[refus][]" />
									<input type="text" class="hidden accepte" name="m_corebundle_photoabonne[accepte][]" />
									</div>
									<input type="submit" value="valider" name="m_corebundle_photoabonne[valide]" class="btn btn-primary button" style="margin-left:50px;">
								</form>
								</div>
								

						</article>
					{% endfor %}

			
				</div>

		</section>

		<section class="block-events-actus actus" style="width:380px;margin-top:10px;">
			<h3>{{ aNewimageGratuit|length }} Membres photos profil gratuits</h3>
			<div class="actualites">

		

					{% for iKey, User in aNewimageGratuit %}
						
						<article class="{% if loop.index0 is even %} colored gray{% endif %}" style="height: 177px;" >
							
								

								<div style="float:left;margin-top:5px;">
										Pseudo : {{ iKey }} 
								</div>
								
									
								<div style="float:left;width:100%">
								<form  method="POST" class="ceformulaire" style="height:100%;width:100%;padding:0;" >
									<div style="float:left;width:100%;height:100px;">
									{% for Image in User.images %}
									<div style="float:left;width:80px;height:95px;">
										<img alt="" style="margin-left:10px;" width="70" height="80" src="{{ Image.nom }}" class="profil_image" />
										<input type="checkbox" id="m_corebundle_photoabonne" name="m_corebundle_photoabonne[Image][]" value="{{ Image.id }}"> Rejeter
									</div>
									{% endfor %}
									<input type="text" class="hidden refus" name="m_corebundle_photoabonne[refus][]" />
									<input type="text" class="hidden accepte" name="m_corebundle_photoabonne[accepte][]" />
									</div>
									<input type="submit" value="valider" name="m_corebundle_photoabonne[valide]" class="btn btn-primary button" style="margin-left:50px;">
								</form>
								</div>
								

						</article>
						
					{% endfor %}

			
				</div>
			
		</section>

		<section class="block-events-actus actus" style="width:380px;margin-top:10px;">
			
				<h3>{{ aNewimageAlbum|length }} Membres  photos Album</h3>
				<div class="actualites">
				
		
					{% for iKey, User in aNewimageAlbum %}
						
						<article class="{% if loop.index0 is even %} colored gray{% endif %}" style="height: 177px;" >
							
								

								<div style="float:left;margin-top:5px;">
										Pseudo : {{ iKey }} 
								</div>
								
									
								<div style="float:left;width:100%">
								<form  method="POST" class="ceformulaire" style="height:100%;width:100%;padding:0;" >
									<div style="float:left;width:100%;height:100px;">
									{% for Image in User.images %}
									<div style="float:left;width:80px;height:95px;">
										<img alt="" style="margin-left:10px;" width="70" height="80" src="{{ Image.nom }}" class="profil_image" />
										<input type="checkbox" id="m_corebundle_photoalbum" name="m_corebundle_photoalbum[Image][]" value="{{ Image.id }}"> Rejeter
									</div>
									{% endfor %}
									<input type="text" class="hidden refus" name="m_corebundle_photoalbum[refus][]" />
									<input type="text" class="hidden accepte" name="m_corebundle_photoalbum[accepte][]" />
									</div>
									<input type="submit" value="valider" name="m_corebundle_photoalbum[valide]" class="btn btn-primary button" style="margin-left:50px;">
								</form>
								</div>
								

						</article>
						
					{% endfor %}

			
				</div>
		</section>

	</section>
	<script>
		$(document).ready(function(){
			$(document).on('submit', '.ceformulaire', function(e){
				$this = $(this);
				$('.refus').val('');
				$('.accepte').val('');
				$.each($(this).find('input[type="checkbox"]'), function(index, value){
					if( $(this).is(':checked') )
					{
						$('.refus').val($('.refus').val() + ';' + $(this).val());
						console.log($('.refus').val());
					}
					else
					{
						$('.accepte').val($('.accepte').val() + ';' + $(this).val());
						console.log($('.accepte').val());
					}
				});
			});
		});
	</script>

{% endblock %}