{% extends 'MCoreBundle::layout.html.twig' %}
{% block body %}
	{% include 'MCoreBundle:Admin:menu.html.twig' %}
	{% block content %}
		<div class="content_container">
			<div class="content">
				{% block content_chat %}

				{% endblock %}
				{% block content_body %}{% endblock %}



	{% endblock %}
{% endblock %}