{% set root = app.request.attributes.get('_route') %}
<nav class="profil_menu menu" role="navigation" >
	<ul>
		<li {% if root == 'm_core_profile' %}class="active"{% endif %}>
			<a href="{{ path('m_core_profile') }}" title="">Home</a>
		</li>
		<li {% if root == 'm_core_admin' %}class="active"{% endif %}>
			<a href="{{ path('m_core_admin') }}" title="">Membres</a>
		</li>
		<li {% if root == 'm_core_admin_event' %}class="active"{% endif %}>
			<a href="{{ path('m_core_admin_event') }}" title="">Sorties</a>
		</li>
		<li {% if root == 'm_core_admin_actus' %}class="active"{% endif %}>
			<a href="{{ path('m_core_admin_actus') }}" title="">Actus</a>
		</li>
		<li {% if root == 'm_core_admin_page' %}class="active"{% endif %}>
			<a href="{{ path('m_core_admin_page') }}" title="">Pages</a>
		</li>		
		{% if is_granted('ROLE_ADMIN') %}
		<li {% if root == 'm_core_admin_message' %}class="active"{% endif %}>
			<a href="{{ path('m_core_admin_message') }}" title="">Messages</a>
		</li>
		<li {% if root == 'm_core_admin_moderateur' %}class="active"{% endif %}>
			<a href="{{ path('m_core_admin_moderateur') }}" title="">Moderateurs</a>
		</li>
		<li {% if root == 'm_core_admin_stats' %}class="active"{% endif %}>
			<a href="{{ path('m_core_admin_stats') }}" title="">Stats</a>
		</li>
		{% endif %}

	</ul>
</nav>
