{% extends 'MCoreBundle:Admin:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		<section class="recherche_avancee">
			<h3>Envoie Messages</h3>
			<form method="post">
				<div class="block_section">
					<div class="block_left block_field block_pseudo">
						<label for="m_corebundle_usertype_username">Pseudo : </label>
						<input id="m_corebundle_usertype_username" type="text" name="m_corebundle_usertype[username]" >
						<input value="OK" class="little_button" type="submit" name="username" >
					</div>
					<div class="block_right block_field block_recherche_favorite">
						{{ form_label(oFormFav.recherche) }}
						{{ form_widget(oFormFav.recherche) }}
						{{ form_rest(oFormFav) }}
						<input value="OK" class="little_button" type="submit" name="recherche_favorite" >
					</div>
				</div>
				<div class="block_section">

					<div class="block_left block_scroll_left">
						<div class="block_field">	
				    		{{ form_label(oForm.ageDebut) }}
				    		{{ form_widget(oForm.ageDebut, {'attr' : {'class':'little_select'}}) }}
				    		{{ form_label(oForm.ageFin) }}
				    		{{ form_widget(oForm.ageFin, {'attr' : {'class':'little_select'}}) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.marital) }}
				    		{{ form_widget(oForm.marital) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.nbEnfant) }}
				    		{{ form_widget(oForm.nbEnfant) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.nationalite) }}
				    		{{ form_widget(oForm.nationalite) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.tailleDebut) }}
				    		{{ form_widget(oForm.tailleDebut, {'attr' : {'class':'little_select'}}) }}
				    		{{ form_label(oForm.tailleFin) }}
				    		{{ form_widget(oForm.tailleFin, {'attr' : {'class':'little_select'}}) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.silhouette) }}
				    		{{ form_widget(oForm.silhouette) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.cheveux) }}
				    		{{ form_widget(oForm.cheveux) }}
				    	</div>
					</div>
					<div class="block_right block_scroll_right">
						<div class="notice"></div>
						<div class="block_field">	
				    		{{ form_label(oForm.yeux) }}
				    		{{ form_widget(oForm.yeux) }}
				    	</div>
			    		<div class="block_field">	
				    		{{ form_label(oForm.ville) }}
				    		{{ form_widget(oForm.ville) }}
				    	</div>
						<div class="block_field">	
				    		{{ form_label(oForm.etudes) }}
				    		{{ form_widget(oForm.etudes) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.vestimentaire) }}
				    		{{ form_widget(oForm.vestimentaire) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.sport) }}
				    		{{ form_widget(oForm.sport) }}
				    	</div>
				    	<div class="block_field">	
				    		{{ form_label(oForm.fumeur) }}
				    		{{ form_widget(oForm.fumeur) }}
				    	</div>
						<div class="block_field">	
				    		<label for="m_corebundle_usertype_fumeur">Sexe</label>
				    		<select id="m_corebundle_usertype_fumeur" name="m_corebundle_usertype[sexe]"><option value="">Sélectionnez</option><option value="0">Homme</option><option value="1">Femme</option></select>
				    	</div>
				    	<div class="block_field">	
				    		<label for="m_corebundle_usertype_fumeur">Type Abonnement</label>
				    		<select id="m_corebundle_usertype_fumeur" name="m_corebundle_usertype[typeabonne]"><option value="">Sélectionnez</option><option value="USER">Abonnée</option><option value="FREE">Pas Abonnées</option>
				    		</select>
				    	</div>
					</div>
				</div>
				<div class="block_section colored gray" >
					<h4><span class="circle"></span>Centres d'intérêts :</h4>
					<div class="block_field">
						<div class="block_center">
							<div id="tab-container" class="tab-container">
								{% set iCount = 1 %}
								<ul class='etabs'>
									{% for oCentres in aFormCentresInteret %}
										{% set aNom = oCentres.nom|split(' ') %}
										<li class='tab'><a href="#{% spaceless %}{{ aNom[0]|lower }}{% endspaceless %}" title="">{% spaceless %}{{ aNom[0] }}{% endspaceless %}</a></li>
										{% set iCount = iCount + 1 %}
									{% endfor %}
								</ul>
								{% set iCount = 1 %}
								{% for oCentres in aFormCentresInteret %}
									{% set aNom = oCentres.nom|split(' ') %}
									<div id="{% spaceless %}{{ aNom[0]|lower }}{% endspaceless %}" class="tab-content" >
										{% for aCentre in oCentres.donnees %}
											 <div class="block_checkbox">
												<input type="checkbox" id="m_corebundle_usertype_Centresinteret_{{aCentre.id }}" name="m_corebundle_usertype[Centresinteret][]" value="{{aCentre.id}}" {% if aCentre.selected == 1 %}checked="checked"{% endif %}>
												<label for="m_corebundle_usertype_Centresinteret_{{aCentre.id}}">{{aCentre.nom }}</label>
											</div>
										{% endfor %}
									</div>
									{% set iCount = iCount + 1 %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="block_section">
					<h4><span class="circle"></span>Vos préferences</h4>
					<div class="block_field enLigne">
						{{ form_label(oForm.EnLigne) }}
						{{ form_widget(oForm.EnLigne) }}
					</div>
					<div class="block_field inscription">
						{{ form_label(oForm.inscritDepuis) }}
						{{ form_widget(oForm.inscritDepuis) }}
					</div>
				</div>	 
				<div class="block_section colored gray recherche_favorite">
					<h4><span class="circle"></span>Enregistrer cette recherche dans mes favorites :</h4>
					<label for="enLigne">Saisissez un nom de votre choix dans cette recherche :</label>
					<input type="text" name="recherche">
					<input value="Enregistrer" name="enregistrer" type="submit" class="button" >
				</div>
				<div class="block_section">
					<h4><span class="circle"></span>Message</h4>
					<div class="block_field enLigne">
						<label>Message :</label>
					<textarea style="margin: 2px; width: 639px; height: 105px;" id="m_corebundle_usertype_description" name="m_corebundle_usertype[description]" required="required" class="textarea"></textarea>

				</div>
				{{ form_rest(oForm) }}
				<input value="Envoi des messages" type="submit" name="rechercher" class="button lancer_recherche" />
			</form>
		</section>

	</section>

{% endblock %}