{% extends 'MCoreBundle:Admin:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container events-actus">
		{# <section style="width: 375px;height: 508px;float: left;" >
		<h3>Moderateur</h3>
				<div class="evenements">
				<form  method="POST" id="uploadData" class="" style="height:100%;width:100%;padding:0;background:none;box-shadow:none;" >
						<input id="upload{{compte}}" class="upload" type="file" name="upload{{compte}}" accept="image/*" multiple="">
						<span>
							<a class="photo" href="#">
								<span class="loader"></span>
								<span class="add">
									<span class="plus">+</span>
										<div class="image_actu" style="height:75px;width:100px;float:left">
											<img src="{{oUser.image}}" style="height:136px;width:100px;" alt=""  >
										</div>
								</span>
							</a>
						</span>
						<input type="hidden" name="ADD_upload{{compte}}" class="ADD_upload{{compte}}" value="{{oUser.image}}"/>

						<div class="content_actu"  >
							<h4><input type="text" value="{{oUser.username}}" style="width: 60px; id=" name="Temoignages[username]" required="required"><input type="text" value="{{Temoignages.titre}}" style="width:190px;" name="Temoignages[titre]" required="required"></h4>
							<textarea name="Temoignages[texte]" style="float: left; width: 258px; height: 82px; margin: 0px;">{{Temoignages.texte}}</textarea>
							
						</div>
						<div class="content_actu"  >		
							<input type="hidden" name="Temoignages[id]"  value="{{Temoignages.id}}" />
							
							<div  style="width:130px;float:left;margin-right:140px;margin-top:5px;">
							<input type="radio" id="m_corebundle_usertype_EnLigne_0" name="Temoignages[sexe]" {% if Temoignages.sexe == true  %}checked="checked"{% endif %} value="1"><label for="m_corebundle_usertype_EnLigne_0">Femme</label><input type="radio" id="m_corebundle_usertype_EnLigne_1" name="Temoignages[sexe]" value="0" {% if Temoignages.sexe == false  %}checked="checked"{% endif %}><label for="m_corebundle_usertype_EnLigne_1">Homme</label>
							</div>
							<input type="submit" value="Enregistrer" name="modifiertemoignage" class="btn btn-primary button">
						</div>
					</form>
			
				</div>
		</section> #}

		<section style="width: 375px;height: 508px;float: left;" >
			<h3>Traitements</h3>
			<div class="evenements">
			<textarea style="float:left;width:90%;height:300px">{% for Traitement in aTraitement %} {{Traitement.type}} : {{Traitement.Compteur}}&#10;{% endfor %}</textarea> 
			<form  method="POST" id="uploadData" class="" style="height:100%;width:100%;padding:0;background:none;box-shadow:none;" >

								<div class="block_section">
					<label for="m_corebundle_usertype_ageDebut">Traitement </label>
					Du : <input type="date" id="m_corebundle_usertype" name="m_corebundle_usertype[inscriptiondu]">
				  	AU :<input type="date" id="m_corebundle_usertype" name="m_corebundle_usertype[inscriptionau]">
				</div> 

			
				<input type="submit" value="Valider" class="btn btn-primary button" style="margin-left:80px;">
			</form>
			</div>
		</section>
	</section>
 
{% endblock %}