{% extends 'MCoreBundle:Admin:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		<section class="block-events-actus actus" style="width:380px;margin-top:10px;">
		
				<h3>{{ aModerateurs|length }} Moderateurs</h3>
				<div class="actualites">
				
		
					{% for User in aModerateurs %}
						
						<article class="{% if loop.index0 is even %} colored gray{% endif %}" style="height: 177px;" >
							
								
								<div style="float:left">
									<img alt="{{ app.user.prenom ~ ' ' ~ app.user.nom }}" style="margin-top:5px;" width="100" height="120" src="{{ User.image }}" class="profil_image" />
								</div>

								<div style="float:left;margin-top:5px;">
										Pseudo : {{ User.username|capitalize }}<br>
										EMAIL : {{ User.email }}<br>

								</div>

								<textarea style="float:left;width:70%;height:81px">{% for Traitement in aTraitement %} {% if Traitement.idmoderateur == User.id %}{{Traitement.type}} : {{Traitement.Compteur}}&#10;{% endif %}{% endfor %}</textarea> 
								
								
								<div style="float:left;width:100%">
								<form  method="POST" class="" style="height:100%;width:100%;padding:0;" >
									<input type="hidden" name="supprimer[id]" value="{{User.id}}"  />
									<a href="{{ path('m_core_admin_moderateurvoir', {'iId' : User.id  }) }}" title="" class="btn btn-primary button">Voir</a>
								   <input type="submit" value="Supprimer" class="btn btn-primary button" style="margin-left:80px;">
								</form>
								</div>
								

						</article>
							
					{% endfor %}

			
				</div>
		</section>

		<section class="block-events-actus actus" style="width:380px;margin-top:10px;">
		
			<h3>Creer Moderateur</h3>
			<div class="evenements">

				
				<article class="" style="height: 300px;" >
					<form  method="POST" id="uploadData" class="form_step1" style="height:100%;width:100%;padding:0;background:none;box-shadow:none;" >
				<li class="empty">
									<input id="upload4" required="required" class="upload" type="file" name="upload4" accept="image/*" multiple="" style="display:none;">
									<span>
										<a class="photo" href="#">
											<span class="loader"></span>
											<span class="add">
												<span class="plus">+</span>
												<p>Ajouter une photo</p>
											</span>
										</a>
									</span>
				</li>
								<input type="hidden" name="ADD_upload4" class="ADD_upload4">
					<div class="content_actu"  >
						<p>Username : <input type="text" value="" style="width: 200px;" id="m_corebundle_usertype_username" name="nouveau[username]" required="required">
						<span class="state_username">
		    			<span class="loader"></span>
		    			<span class="success"></span>
		    			<span class="error"></span>
		    			</span></p>
		    			<p style="margin-left:20px;">Password : <input type="text" value="" style="width:200px;"  name="nouveau[mdp]" required="required"></p>
		    			<p style="margin-left:20px;">
		    			 E-Mail : <input type="text" value="" style="width:200px;"  name="nouveau[mail]" required="required"></p>
		    									
					</div>
						<div class="content_actu"  >		
												
						<div  style="width:130px;float:left;margin-right:140px;margin-top:5px;">
						<input type="radio" checked="checked" id="m_corebundle_usertype_EnLigne_0" name="nouveau[sexe]"value="1"><label for="m_corebundle_usertype_EnLigne_0">Femme</label><input type="radio" id="m_corebundle_usertype_EnLigne_1" name="nouveau[sexe]" value="0" ><label for="m_corebundle_usertype_EnLigne_1">Homme</label>
						</div><input type="submit" value="Enregistrer" class="btn btn-primary button">
					</div>
					</form>
				</article>
				

			</div>
		</section>
	</section>
 <script>
     	$(document).ready(function(){
     		$(document).on('keyup focusout', '#m_corebundle_usertype_username', function(e){
     			$this = $(this);
     			$sUsername = $(this).val();
     			console.log($sUsername);
     			$('.state_username span').removeClass('shown');
     			$('.state_username span.loader').addClass('shown');
     			if ( $sUsername.length > 4 )
     			{
     				$.ajax({
						url: "{{ path('m_core_profile_ajax_checkusernameexists') }}",
						type: "POST",
						data: {
							sUsername: $sUsername
						}
					// Quand la requete retourne une réponse
					}).done(function( data ) {
						console.log(data);
						$('.state_username span').removeClass('shown');
						if ( data === 'error' )
						{
							$this.removeClass('valid');
							$this.addClass('invalid');
							$('.state_username span.error').addClass('shown');
							return false;
						}
						else
						{
							$this.removeClass('invalid');
							$this.addClass('valid');
							$('.state_username span.success').addClass('shown');
						}
					}).fail(function( data ){
						alert("Un problème est survenu");
					});
     			}
     		});
     		$(document).on('submit', '.form_step1', function(e){
     			if ( $('.invalid').length > 0 )
     			{
     				e.preventDefault();
     				popMeOnError(['Formulaire', "Veuillez Changer le username"]);
     			}
     		});
     	});
     </script>
{% endblock %}