{% extends 'MCoreBundle:Admin:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">


			<section class="mon_profil">
					<h3>Affichage</h3>
						<form method="POST" accept-charset="utf-8">
				    		<div class="block_line">
			    				<label>Afficher Membres En ligne :</label><br><br>
			    			<div id="enligne_EnLigne">
			    				<input type="radio" id="enligne_EnLigne_0" name="enligne[EnLigne]" value="1" {% if oInfoAdmin.onlineuser %}checked="checked"{% endif %}><label for="enligne_EnLigne_0">Oui</label>
			    				<input type="radio" id="enligne_EnLigne_1" name="enligne[EnLigne]" value="0" {% if oInfoAdmin.onlineuser == false %}checked="checked"{% endif %}><label for="enligne_EnLigne_1">Non</label></div>
			    			</div>
			    			<div class="block_line"><br><br>
			    				<label>Afficher Membres Inscrits :</label><br>
			    			<div id="enligne_EnLigne">
			    				<input type="radio" id="enligne_EnLigne_0" name="enligne[membreinscrit]" value="1" {% if oInfoAdmin.membreinscrit %}checked="checked"{% endif %}><label for="enligne_EnLigne_0">Oui</label>
			    				<input type="radio" id="enligne_EnLigne_1" name="enligne[membreinscrit]" value="0" {% if oInfoAdmin.membreinscrit == false %}checked="checked"{% endif %}><label for="enligne_EnLigne_1">Non</label></div>
			    			</div>
						<br><br>
						<label>Membres Inscrits :</label><br><br>
						<input type="text" id="enligne" name="enligne[nbrconnecte]" class="username" value="{{oInfoAdmin.nbrconnecte}}">
						<br>
			    		<input type="submit" value="Valider" name="en ligne" class="btn btn-primary button">
					</form>
			</section>
			<form method="POST" accept-charset="utf-8">

			<section class="recherche_rapide profil_details_photoprofil" style="width:217px;">
				<h3>PROMO</h3>
					
						<div class="block_left">
						<label for="promo" class="required">Code : </label>
						<input type="text" id="codepromo" name="promo[codepromo]" class="username" value="{{oInfoAdmin.codepromo}}"><br>
						<label for="promo" class="required">  Reduction en % : </label>
						<input type="text" id="codepromo"  style="width:25px;" name="promo[reduction]"  value="{{oInfoAdmin.reduction}}"><br>
						 <label for="promo" class="required"> Debut : </label>
						<input type="date" id="promo" name="promo[promodebut]" value="{{oInfoAdmin.promodebut|date('Y-m-d')}}"><br>
						   <label for="promo" class="required"> Fin : </label>
						<input type="date" id="promo" name="promo[promofin]"  value="{{oInfoAdmin.promofin|date('Y-m-d')}}">
							<br><input type="submit" value="Valider" style="margin-left:0px;" name="affiche" class="btn btn-primary button">
						</div>	
						
					
			</section>
			</form>
			<form  method="POST" id="uploadData" style="margin:0px" >
			<section class="recherche_rapide profil_details_photoprofil" style="width:217px" >
				<h3>A L'affiche</h3>
						<div class="block_left">
							<ul>
					
							<li class="full" >
								<input id="upload0" class="upload" type="file" name="upload0" accept="image/*" multiple="">
								<span>
									<a class="photo" href="#" >
										<img src="{{oInfoAdmin.image}}">
									</a>
									<a class="delete" href="#"> x </a>
								</span>
								
							</li>
							<input type="hidden" name="affiche[ADD_upload0]" class="ADD_upload0" value="{{oInfoAdmin.image}}"/>
						
							</ul>
							<input type="text" id="enligne" name="affiche[lienaffiche]" class="username" value="{{oInfoAdmin.lienaffiche}}">
							<input type="submit" value="Valider" style="margin-left:0px;" name="baffiche" class="btn btn-primary button">
						</div>	
						
			</section>
	<section class="block-events-actus actus profil_details_photoprofil" style="width:380px;margin-top:10px;">
			<h3>{{ temoignage|length }}  Temoignage</h3>
			<div class="actualites">
				{% set compte = 3 %}
				{% for Temoignages in temoignage %}

				<article class="{% if loop.index0 is even %} colored gray{% endif %}" style="height: 194px;">
						
							<ul>
					
							<li class="full" >
								<input id="upload{{compte}}" class="upload" type="file" name="upload{{compte}}" accept="image/*" multiple="">
								<span>
									<a class="photo" href="#" >
										<img src="{{Temoignages.image}}">
									</a>
									<a class="delete" href="#"> x </a>
								</span>
								
							</li>
							<input type="hidden" name="Temoignages[{{Temoignages.id}}][ADD_upload]" class="ADD_upload{{compte}}" value="{{Temoignages.image}}"/>
						
							</ul>
					

						<div style="float:left;width: 174px;"  >
							<h4><input type="text" value="{{Temoignages.username}}" style="width: 60px; id=" name="Temoignages[{{Temoignages.id}}][username]" ><input type="text" value="{{Temoignages.titre}}" style="width:190px;" name="Temoignages[{{Temoignages.id}}][titre]" ></h4>
							<textarea name="Temoignages[{{Temoignages.id}}][texte]" style="float: left; width: 238px; height: 82px; margin: 0px;">{{Temoignages.texte}}</textarea>
							
						</div>
						<div class="content_actu"  >		
							<input type="hidden" name="Temoignages[{{Temoignages.id}}][id]"  value="{{Temoignages.id}}" />
							
							<div  style="width:130px;float:left;margin-right:140px;margin-top:5px;">
							<input type="radio" id="m_corebundle_usertype_EnLigne_0" name="Temoignages[{{Temoignages.id}}][sexe]" {% if Temoignages.sexe == true  %}checked="checked"{% endif %} value="1"><label for="m_corebundle_usertype_EnLigne_0">Femme</label><input type="radio" id="m_corebundle_usertype_EnLigne_1" name="Temoignages[{{Temoignages.id}}][sexe]" value="0" {% if Temoignages.sexe == false  %}checked="checked"{% endif %}><label for="m_corebundle_usertype_EnLigne_1">Homme</label>
							</div>
							<input type="submit" value="Enregistrer" name="modifiertemoignage[{{Temoignages.id}}]" class="btn btn-primary button">
						</div>
					
				</article>
				{% set compte = compte + 1 %}
				{% endfor %}

			</div>
		</section>

			<section class="block-events-actus actus profil_details_photoprofil" style="width:380px;margin-top:10px;">
			<h3>{{ presses|length }}  Presse</h3>
			<div class="actualites">

				{% for presse in presses %}
				<article class="{% if loop.index0 is even %} colored gray{% endif %}" style="height: 177px;" >
						<ul>
					
							<li class="full" >
								<input id="upload{{compte}}" class="upload" type="file" name="upload{{compte}}" accept="image/*" multiple="">
								<span>
									<a class="photo" href="#" >
										<img src="{{presse.image}}">
									</a>
									<a class="delete" href="#"> x </a>
								</span>
								
							</li>
							<input type="hidden" name="presse[{{presse.id}}][ADD_upload]" class="ADD_upload{{compte}}" value="{{presse.image}}"/>
						
							</ul>
					<div class="content_actu"  >
						<h4><input type="text" value="{{presse.source}}" style="width: 240px; id=" name="presse[{{presse.id}}][source]" ></h4>
						<textarea name="presse[{{presse.id}}][texte]" style="float: left; width: 240px; height: 111px; margin: 0px;">{{presse.texte}}</textarea>
					<input type="hidden" name="presse[{{presse.id}}][id]" value="{{presse.id}}" />
					<input type="submit" name="modifierpresse[{{presse.id}}]" value="Enregistrer"  class="btn btn-primary button" style="float: left; margin-left: 157px;">
					</div>
				</article>
				{% set compte = compte + 1 %}
				{% endfor %}

			</div>
		</section>

	<section class="block-events-actus actus profil_details_photoprofil" style="width:380px;margin-top:10px;">
			<h3>Creer Temoignage</h3>
			<div class="actualites" style="height: 177px;">
				<article class="" style="height: 177px;" >

					<ul>
					<li class="empty">
									<input id="upload1" class="upload" type="file" name="NewTemoignages[upload1]" accept="image/*" multiple="">
									<span>
										<a class="photo" href="#">
											<span class="loader"></span>
											<span class="add">
												<span class="plus">+</span>
												<p>Ajouter une photo</p>
											</span>
										</a>
									</span>
					</li>
					</ul>
					<div class="content_actu" style="float:left; width:200px;"  >

						<input type="radio" checked="checked" id="m_corebundle_usertype_EnLigne_0" name="NewTemoignages[sexe]"value="1"><label for="m_corebundle_usertype_EnLigne_0">Femme</label><input type="radio" id="m_corebundle_usertype_EnLigne_1" name="NewTemoignages[sexe]" value="0" ><label for="m_corebundle_usertype_EnLigne_1">Homme</label>
						
							<input type="text" value="" style="width: 60px;" name="NewTemoignages[username]" ><input type="text" value="" style="width:190px;" name="NewTemoignages[titre]">

						<textarea name="NewTemoignages[texte]" style="float: left; width: 240px; height: 82px; margin: 0px;"></textarea>
						<input type="hidden" name="NewTemoignages[ADD_upload1]" class="ADD_upload1">

						<input type="submit" value="Enregistrer"  name="NewTemoignage" class="btn btn-primary button">
					</div>
	
				</article>
				

			</div>
		</section>

			<section class="block-events-actus actus profil_details_photoprofil" style="width:380px;margin-top:10px;">
			<h3>Creer  Presse</h3>
			<div class="actualites" style="height: 177px;">

				
				<article class="" style="height: 177px;" >
					<ul>
					<li class="empty">
									<input id="upload2" class="upload" type="file" name="Newpresses[upload2]" accept="image/*" multiple="">
									<span>
										<a class="photo" href="#">
											<span class="loader"></span>
											<span class="add">
												<span class="plus">+</span>
												<p>Ajouter une photo</p>
											</span>
										</a>
									</span>
					</li>
					</ul>
					<div class="content_actu"  >
						<input type="hidden" name="Newpresses[ADD_upload2]" class="ADD_upload2">
						<h4><input type="text" value="" style="width: 240px; id=" name="Newpresses[source]" ></h4>
						<textarea name="Newpresses[texte]"  style="float: left; width: 240px; height: 110px; margin: 0px;"></textarea>
						<input type="submit" value="Enregistrer"  name="Newpresse"  class="btn btn-primary button" style="float: left; margin-left: 100px;">
					</div>
				</article>
			

			</div>
		</section>
					</form>


	</section>

{% endblock %}