{% extends 'MCoreBundle:Admin:layout.html.twig' %}
{% block body %}
	{{ parent() }}
{% endblock %}
{% block content_body %}
	<section class="body_container">
		<section class="resultat">
			<h3>Resultats de votre recherche<a href="{{url('m_core_admin_stats')}}" title="Lancer Une Nouvelle Recherche">Lancer Une Nouvelle Recherche</a></h3>
			<div class="pagination header_pagination">
				<span class="nb_resultat">
					{{ iTotalResult }} {% if iTotalResult > 1 %} profils {% else %} profil  {% endif %} correspondent à votre recherche
				</span>	
				{% include 'MCoreBundle:Profile:paginator.html.twig' %}
			</div>
			{% if aResult|length == 0 %}
				<div class="not_found">
					<p>Aucun résultat trouvé </p>
					<p>Vous pouvez à tout moment <a href="{{url('m_core_admin_stats')}}" title="Lancer Une Nouvelle Recherche">Lancer Une Nouvelle Recherche</a></p>
				</div>
			{% endif %}
			<ul class="list_users">
			{% for User in aResult %}
				<li class="users">
					<a href="{{ path('m_core_profile_voir', {'sUser': User.username}) }}" title="">
						<img alt="{{ app.user.prenom ~ ' ' ~ app.user.nom }}" src="{{ User.image }}" class="profil_image" />
					</a>
					<dl>
						<dd class="first">
							<a href="{{ path('m_core_profile_voir', {'sUser': User.username}) }}" title=""> 
								<span class="connectivite {% if User.enLigne %} enligne{% else %} horsligne{% endif %}"></span>
								{{ User.username }}
							</a>
						</dd>
						<dd class="no-text-transform">{{ User.age }} ans</dd>
						<dd>{{ User.ville }}</dd>
						<dd>{{ User.signe }}</dd>
					</dl>
					<div class="envoi_notif">
						<ul>

							<li class="item2 envoyer_message tooltip" title="Envoyer un message">
								<a href="#" title="{{ User.username }}">
									<img src="{{ asset('bundles/mcore/images/item2.png') }}">
								</a>
							</li>

						</ul>
					</div>
				</li>
			{% endfor %}
			</ul>
			<div class="pagination header_pagination">
				<span class="nb_resultat">
					{{ iTotalResult }} {% if iTotalResult > 1 %} profils {% else %} profil  {% endif %} correspondent à votre recherche
				</span>	
				{% include 'MCoreBundle:Profile:paginator.html.twig' %}
			</div>
			<script>
				// En cliquant sur le coup de coeur
				$(document).on('click', '.resultat li.users .envoi_notif li.item3.coup_coeur a', function(e)
				{
					ajaxMe(e, $(this), "{{ path('m_core_profile_ajax_setCoeur') }}", "coup_coeur", "{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}");
				});
				$(document).on('click', '.resultat li.users .envoi_notif li.item4.ajout_contact a', function(e)
				{
					ajaxMe(e, $(this), "{{ path('m_core_profile_ajax_setNewContact') }}", "ajout_contact", "{{ asset('bundles/mcore/images/sc-graphics/preloader.gif') }}");
				});
				$(document).on('click', '.resultat li.users .envoi_notif li.item2.envoyer_message a', function(e)
				{
					e.preventDefault();
					popUpCreate($(this).attr('title'), 'envoyer_message', '{{ asset("bundles/mcore/images/") }}');
				});
				
			</script>
		</section>
	</section>
{% endblock %}