{% extends 'MCoreBundle::layout.html.twig' %}
{% block meta %}
<meta name="description" content="Faites des rencontres de qualité en rejoignant la 1ere communauté de célibataires sérieux au Maroc." />
<meta name="keywords" content="Site de rencontre Maroc, rencontre sérieuse, rencontre célibataire Maroc" />
 {% endblock %}
{% block title %}1er Site de rencontres sérieuses entre célibataires sur internet au Maroc | Rencontres &amp; Vous {% endblock %}
{% block body %}
{% include 'MCoreBundle::menu_principal.html.twig' %}
	<div class="inscription">
		<div class="page_decouvrir page">
			<h1>Nouveau concept de rencontres pour les célibataires au Maroc</h1>
			<div class="image">
				<img src="{{ asset('bundles/mcore/images/Vitrine/photo-concept.jpg') }}" alt="Découvrir concept rencontre" />
			</div>
			<div class="content_article">
				<h2>Rejoignez la 1ère communauté de célibataires sérieux ! </h2>
				<p><b>Rencontres &amp; Vous</b> est un site internet 100% marocain qui s’adresse aux célibataires, femmes et hommes adultes qui résident au Maroc. Lieu de connexité unique, <b>Rencontres &amp; Vous </b> a pour but de favoriser des rencontres de qualité entre les célibataires sérieux au Maroc qui partagent le désir commun de trouver l’âme soeur.</p>
				<p>
					Avec une profonde volonté de développer un esprit d’appartenance et de créer la toute première communauté de célibataires sérieux au Maroc,<b> Rencontres &amp; Vous </b> présente la première plate-forme de rencontres sérieuses en ligne. Un environnement sain et propice à la création de vraies rencontres.
				</p>
				<h2>Des sorties organisées par et pour les membres de la communauté</h2>
				<p>
					<b> Rencontres &amp; Vous </b> propose un agenda dynamique de sorties afin de créer une grande variété d’activités entre célibataires  dans toutes les villes du Royaume.
Chaque membre a la possibilité de  proposer des sorties à l'ensemble de la communauté et peut organiser des activités proches de chez lui.

				</p>
				<h2>Des valeurs et une éthique irréprochables !</h2>
				<p>
					Nos valeurs fondatrices sont immuables et se déclinent à travers le respect, l’éthique, la confidentialité, la sécurité, l’honnêteté. </p>
				<p>
				Seuls les célibataires, femmes et hommes majeurs résidents au Maroc, sérieux et motivés par des rencontres de qualité sont concernés par <b>Rencontres &amp; Vous</b>. La plate-forme a pour but de rassembler des personnes partageant nos valeurs de respect et garantir ainsi des échanges de qualité. 
			</p>
			</div>
		</div>
		<div class="page_vitrine_interne" >{% include 'MCoreBundle:Home:inscription.html.twig' %}</div>
	</div>
{% endblock %}