{% extends 'MCoreBundle::layout.html.twig' %}
{% block meta %}
<meta name="description" content=" Participez aux sorties exclusivement réservées aux célibataires de la communauté de Rencontres &amp; Vous dans toutes les villes du Royaume : Casablanca, Marrakech, Rabat, Tanger …" />
<meta name="keywords" content="Sortir entre célibataire au Maroc, événements dédiés pour célibataires au Maroc , soirées célibataires au Maroc, soirées thème célibataires" />
{% endblock %}
{% block title %} Sorties et événements au Maroc organisés pour les célibataires de la communauté de Rencontres &amp; Vous{% endblock  %}
{% block body %}
{% include 'MCoreBundle::menu_principal.html.twig' %}
	<div class="inscription">
		<div class="page_evenements page">
			<h1>Les sorties entre célibataires</h1>
			<div class="image">
				<img src="{{ asset('bundles/mcore/images/Vitrine/photo-sorties.jpg') }}" alt="Organisation sortie" />
			</div>
			<div class="content_article">
				<h2>Passez du virtuel au réel !</h2>
				<p>Pour faciliter le chemin entre vie virtuelle et vie réelle, <b> Rencontres &amp; Vous </b> met en place un agenda de sorties dynamique afin de proposer une grande variété d’activités entre célibataires de toutes les villes du Royaume.</p>

				<p>Nous pensons qu'il est bien plus facile et sécurisant de rencontrer des membres de notre communauté autour d'une sortie à thème où la convivialité et le partage sauront vous mettre à l'aise.</p>

				<p>
					 A vous de jouer ! Donnez-vous la chance de rencontrer la personne qui pourrait partager le reste votre vie.
				</p>

				<h2>Proposez des activités qui vous ressemblent !</h2>

				<p>Si certaines sorties sont créées par l’équipe de <b> Rencontres &amp; Vous </b>, la plupart sont organisées par les membres qui disposent d'un outil de création de sorties et peuvent ainsi proposer aux autres membres de la communauté, des loisirs et des passions à partager.</p>

				<p>
					Un cours de cuisine, le vernissage d’un peintre à Rabat,  une soirée déguisée, un footing sur la corniche de Casablanca,  un week-end à Oualidia,  un concert à Marrakech,  un bon restaurant,  une pièce de théâtre,  un pique-nique sur la plage, un week-end en bivouac dans les dunes de  Merzouga  ou tout simplement partager le couscous du vendredi…
				</p>

				<p>
					Consultez et choisissez ainsi les sorties qui vous intéressent par ville, par date et par thèmes proposés et faites de nouvelles rencontres  réelles de qualité près de chez vous.
				</p>
			</div>
		</div>
		<div class="page_vitrine_interne" >{% include 'MCoreBundle:Home:inscription.html.twig' %}</div>
	</div>
{% endblock %}