{% extends 'MCoreBundle::layout.html.twig' %}
{% block meta %}
<meta name="description" content="Faites des rencontres entre célibataires sérieux au Maroc. Rejoignez notre communauté !" />
<meta name="keywords" content="site de rencontre, rencontre sérieuse, rencontre célibataire Maroc" />
{% endblock %}
{% block title %} Rencontres &amp; Vous  entre célibataires sérieux au Maroc. {% endblock  %}
{% block body %}
{% include 'MCoreBundle::menu_principal.html.twig' %}
	<!-- DEBUT : INSCRIPTION ET SLIDER -->
	<div class="inscription">
		<div class="slider_home bloc">
			<div id="owl-demo" class="owl-carousel owl-theme">
				{# {% image 'bundles/mcore/images/Slider/*' %}
				    <div class="item">
				    	<img src="{{ asset_url }}" >
				    </div>
				{% endimage %} #}
				<div class="item">
			    	<img src="{{ asset('bundles/mcore/images/Slider/photo-diapo-accueil-1.jpg') }}" alt="Rencontre femme célibataire Maroc">
			    </div>
			    <div class="item">
			    	<img src="{{ asset('bundles/mcore/images/Slider/photo-diapo-accueil-2.jpg') }}" alt="rencontre homme célibataire Maroc" >
			    </div>
			    <div class="item">
			    	<img src="{{ asset('bundles/mcore/images/Slider/photo-diapo-accueil-3.jpg') }}" alt="Rencontre célibataire Maroc" >
			    </div>
			    <div class="item">
			    	<img src="{{ asset('bundles/mcore/images/Slider/photo-diapo-accueil-4.jpg') }}" alt="Rencontre femme célibataire Maroc">
			    </div>
			    <div class="item">
			    	<img src="{{ asset('bundles/mcore/images/Slider/photo-diapo-accueil-5.jpg') }}" alt="Rencontre sérieuse Maroc">
			    </div>
			</div>
		</div>
		{% include 'MCoreBundle:Home:inscription.html.twig' %}
	</div>
	<!-- FIN : INSCRIPTION ET SLIDER -->

	<!-- DEBUT : PRESSE ET EVENEMENTS -->
	<section class="blocs_home">
		<h1 class="titre_bloc_home">Rejoigner la  1<sup>ére</sup> communauté de célibataires sérieux au Maroc </h1>
		<article class="article1">
			<a href="{{ path('m_core_homepage_decouvrir') }}" title="">
				<h2>Découvrir notre concept</h2>
				<div class="image">
					<img src="{{ asset('bundles/mcore/images/Vitrine/Photo-accueil-concept.jpg') }}" alt="Site rencontre Maroc" />
				</div>
				<p><b>Rencontre &amp; Vous</b> est un site internet marocain qui s’adresse aux célibataires, femmes et hommes adultes, résidents au Maroc, de nationalité marocaine ou autre. Notre plate-forme  permet à ses membres de faire des rencontres partout dans le Royaume. <br>Dans l'espace privé du site, chaque célibataire dispose d'un profil ou il peut renseigner ses centres d’intérêt, son style de vie, sa vision du couple, son profil idéal recherché etc...  Des renseignements qui permettent à chacun de déceler des affinités communes avec d'autres membre du site....</p>
			</a>
		</article>
		<article class="article2">
			<a href="{{ path('m_core_homepage_temoignages') }}" title="">
				<h2>Témoignages</h2>
				{% set iCount = 1 %}
				{% for Temoignages in aTemoignage if iCount < 3 %}
					<div class="bloc_article{{ iCount }} bloc_article">
						<div class="image">
							<img height="122" width="96" src="{{ Temoignages.image }}" alt="{{Temoignages.username|capitalize}}" />
						</div>
						<p><span class="username {% if Temoignages.sexe %}femme{% else %}homme{% endif %}">
							{{ Temoignages.username|capitalize }}</span><strong> - {{Temoignages.titre}} </strong>
						</p>
						{% set sText = Temoignages.texte %}
						{% set iLimit = 220 %}
						{% if sText|length > iLimit %}{% set sText = sText|slice(0, iLimit) ~ '...' %}{% endif %}
						<blockquote>«{{ sText }}»</blockquote> 
					</div>
					{% set iCount = iCount + 1 %}
				{% endfor %}
			</a>
		</article>
		<article class="article3">
			<a href="{{ path('m_core_homepage_evenements') }}" title="">
				<h2>Les sorties entre célibataires</h2>
				<div class="image">
					<img src="{{ asset('bundles/mcore/images/Vitrine/photo-accueil-sorties.jpg') }}" alt="Rencontre sérieuse Maroc" />
				</div>
				<p>Rejoindre Rencontres &amp; Vous c’est entrer dans une communauté active qui et participer à des activités nouvelles pour faire des rencontres. Nous savons qu’il n’est pas toujours simple de passer du virtuel au réel. C’est pourquoi nous allons mettre en place un agenda d’événements afin de proposer une grande variété de soirées entre célibataires. Nos  événements seront  l’occasion de se rencontrer à plusieurs, en petit comité ou non, afin de faire des rencontres plus naturellement. Qu’il s’agisse d’ateliers culinaires, d’exposition culturelle, de soirées à thème ou d’activités sportives ...</p>
			</a>
		</article>
		<article class="article4">
			
				<a href="{{ path('m_core_homepage_rencontres') }}" title=""><h2>Rencontres dans votre ville au Maroc</h2></a>
				<div class="image">
					<img src="{{ asset('bundles/mcore/images/Vitrine/photo-accueil-rencontre-ville.jpg') }}" alt="Rencontre sérieuse Maroc"/>
				</div>

				<p>
					<a href="{{ path('m_core_homepage_rencontres') }}" title="">Rencontres &amp; Vous vous offre la possibilité de rencontrer dans votre ville des célibataires impliqués comme vous dans la recherche de l'âme sœur. Qui sait ? Votre futur(e) partenaire est peut-être tout proche de vous... ! Provoquez le hasard et  trouvez l'amour grâce à Rencontres &amp; Vous , le seul site au Maroc avec sélection des membres dès l’inscription...
					</a>
					<a href="{{ path('m_core_homepage_rencontres_casablanca') }}" class="recontres_villes">Rencontres Casablanca,</a>
				
					<a href="{{ path('m_core_homepage_rencontres_rabat') }}" class="recontres_villes">Rencontres Rabat,</a>
					<a href="{{ path('m_core_homepage_rencontres_agadir') }}" class="recontres_villes">Rencontres Agadir,</a>
					<a href="{{ path('m_core_homepage_rencontres_tanger') }}" class="recontres_villes">Rencontres Tanger,</a>
					<a href="{{ path('m_core_homepage_rencontres_fes') }}" class="recontres_villes">Rencontres Fes,</a>
					<a href="{{ path('m_core_homepage_rencontres_marrakesh') }}" class="recontres_villes">Rencontres Marrakech</a>
				</p>
			
		</article>
		<article class="article5">
			<a href="{{ path('m_core_homepage_services') }}" title="">
				<h2>Coaching</h2>
				<div class="image">
					<img src="{{ asset('bundles/mcore/images/Vitrine/photo-accueil-service-perso.jpg') }}" alt="Rencontre célibataire Maroc" />
				</div>
				<p>Vous voulez multiplier vos chances de rencontres avec un partenaire qui vous convient vraiment ? Optez pour un accompagnement ciblé et personnalisé avec notre coach.
Notre coach est à votre disposition pour vous aider à trouver des réponses concrètes à vos problématiques et à vous débarrasser des comportements et croyances qui vous empêchent de nouer une relation sentimentale durable. Notre raison d’être est de vous emmener là où vous voulez aller dans votre vie amoureuse,...</p>
			</a>
		</article>
		<article class="article6">
			<a href="{{ path('m_core_homepage_presse') }}" title="">
				<h2>Revue de presse</h2>
				<div class="bloc_article1">
					<div class="image">
						<img src="{{ asset('bundles/mcore/images/Vitrine/photo-accueil-revuepresse.jpg') }}" alt="Site rencontre Maroc" />
					</div>
					<blockquote>L'équipe de Rencontres & Vous est disponible pour toute demande d'information concernant le site et sa communauté. Cette rubrique est destinée aux différents média, presse, radio, TV , Blogs et autres.</blockquote>
				</div>
				</a>
				<div class="bloc_article3">
					<blockquote>
Si vous souhaitez en savoir plus sur notre concept, nous vous invitons à nous contacter via <a href="#" class="declenche_contact" style="text-transform:none;text-decoration:underline;font-size: 12px;">ce formulaire.</a>
					</blockquote>
				</div>
			
		</article>
	</section>
	<!-- FIN : PRESSE ET EVENEMENTS -->
		{% if app.session.flashbag.get('successinscription') %}
	<script type="text/javascript">
	popUpCreate('Confirmation de votre inscription', 'successinscription', '{{ asset("bundles/mcore/images/") }}');
	</script>
	{% endif %}
	<script>
		$(document).ready(function(e){
			$("#owl-demo").owlCarousel({
				slideSpeed : 4000,
				singleItem: true,
				autoPlay : 4000,
				transitionStyle : "fade",
				navigation : false,
				pagination : false
				/*stopOnHover : true,
				lazyEffect : 2000,*/
			});
		});
	</script>

{% endblock %}