<div class="bloc_inscription bloc">
	<h4>Inscription</h4>
	<form id="reg" class="form-horizontal" role="form" action="{{ path('m_core_registration') }}" method="POST" {{ form_enctype(oForm) }} >
		<div class="bloc_field inscription_sexe">
			{{ form_label(oForm.sexe) }}
			{{ form_widget(oForm.sexe) }}
		</div>
		<div class="bloc_field inscription_datenaissance">
			{{ form_label(oForm.datenaissance) }}
			{{ form_widget(oForm.datenaissance) }}
		</div>
		<div class="bloc_field inscription_email">
			{{ form_label(oForm.email) }}
			{{ form_widget(oForm.email, {'attr' : {'placeHolder' : 'Votre e-mail restera confidentiel'}}) }}
		</div>
		<div class="bloc_field inscription_captcha">
	    	{{ form_widget(oForm.captcha, {'attr' : {'placeHolder' : "Saisir ce qu'il y a dans l'image"}}) }}
	    </div>
		<div class="bloc_field inscription_majeur">
			{{ form_widget(oForm.majeur) }}
			<label for="m_corebundle_usertype_majeur" class="required">Je certifie être majeur(e), avoir lu et accepté les <a href="{{asset(roots.documents.CGU)}}" class="chart" target="_blank" >CGUV</a> ainsi que la politique sur la vie privée et la <a href="{{asset(roots.documents.CharteQualite)}}" class="chart" target="_blank">charte</a> du site</label>
		</div>
	    <input type="submit" class="button" value="Je m'inscris" />
	    {{ form_rest(oForm) }}
	</form>
	<h5>{% if bAffichage == 1 %} Membres inscrits : {{ NbrConnecte }} {% endif %}</h5>
</div>