{% extends 'MCoreBundle::layout.html.twig' %}
{% block meta %}
<meta name="description" content="Cette rubrique est destinée aux différents médias : presse, radio, TV, blogs au Maroc qui parlent de Rencontres &amp; Vous." />
<meta name="keywords" content="Revue de presse, Rencontres &amp; Vous, articles de presse marocains," />
{% endblock %}
{% block title %}Revue de presse et articles qui parlent de Rencontres &amp; Vous au Maroc.{% endblock %}
{% block body %}
{% include 'MCoreBundle::menu_principal.html.twig' %}
	<div class="inscription">
		<div class="page_presse page">
			<h1>Revue de presse / Articles de presse </h1>
			<p>L'équipe de Rencontres &amp; Vous est disponible pour toute demande d'information concernant le site et sa communauté. Cette rubrique est destinée aux différents média, presse, radio, TV , Blogs et autres.</p>
			<p>Si vous souhaitez en savoir plus sur notre concept, nous vous invitons à nous contacter via <a href="#" class="declenche_contact" style="text-transform:none;text-decoration:underline;font-size: 12px;">ce formulaire.</a></p>
			{% for Presses in presse %}
				<div class="bloc_article1 bloc_article">
					<div class="image"><img height="102" width="148" alt="" src="{{ Presses.image }}"/></div>
					<blockquote>« {{ Presses.texte|nl2br }} »</blockquote>
					<em>{{ Presses.source }}</em>
				</div>
			{% endfor %}
{# 
			<div class="bloc_article1 bloc_article">
				<div class="image"></div>
				<blockquote>« Ce besoin de réel, Ludovic Huraux, président et fondateur d’Attractive World […] l’a rapidement constaté. […] Rien qu’en février, le site dénombre 8.000 événements organisés par les membres ou par le site. À l’origine de cette tendance: les membres justement. […]</blockquote>
				<blockquote>Depuis les premiers Afterwork entre célibataires, le site a évolué et met désormais en place des partenariats afin d’offrir à ses membres des événements de qualité, toujours dans la vie réelle. » </blockquote>
				<em>Huffington Post – 14 Février 2013 </em>
			</div>
			<div class="bloc_article2 bloc_article">
				<div class="image"></div>
				<blockquote>« Le site de rencontre Attractive World propose depuis cinq ans plus de 100 événements par mois : afterwork, avant-premières cinéma, soirées d’accueil des nouveaux membres, vernissages, sorties culturelles ou sportives… Autant d’occasions de passer du virtuel au réel et de rencontrer d’autres célibataires sur un mode simple et décontracté. »</blockquote>
			</div>
			<div class="bloc_article3 bloc_article">
				<div class="image"></div>
				<blockquote>« [...] La sélection se fait selon des critères de motivation. (…) Il y a énormément de rencontres sur Attractive World, qui est un réseau social efficace [...] »</blockquote>  
				<em>Europe 1 – Des clics et des claques – 10 Septembre 2012 </em>
			</div>
			<div class="bloc_article4 bloc_article">
				<div class="image"></div>
				<blockquote>« Ce besoin de réel, Ludovic Huraux, président et fondateur d’Attractive World […] l’a rapidement constaté. […] Rien qu’en février, le site dénombre 8.000 événements organisés par les membres ou par le site. À l’origine de cette tendance: les membres justement. […]</blockquote>
				<blockquote>Depuis les premiers Afterwork entre célibataires, le site a évolué et met désormais en place des partenariats afin d’offrir à ses membres des événements de qualité, toujours dans la vie réelle. »</blockquote>
				<em>Huffington Post – 14 Février 2013 </em>
			</div>
			<div class="bloc_article5 bloc_article">
				<div class="image"></div>
				<blockquote>« Le site de rencontre Attractive World propose depuis cinq ans plus de 100 événements par mois : afterwork, avant-premières cinéma, soirées d’accueil des nouveaux membres, vernissages, sorties culturelles ou sportives… Autant d’occasions de passer du virtuel au réel et de rencontrer d’autres célibataires sur un mode simple et décontracté. »</blockquote>
			</div>
			<div class="bloc_article6 bloc_article">
				<div class="image"></div>
				<blockquote>« [...] La sélection se fait selon des critères de motivation. (…) Il y a énormément de rencontres sur Attractive World, qui est un réseau social efficace [...] »</blockquote>  
				<em>Europe 1 – Des clics et des claques – 10 Septembre 2012 </em>
			</div> #}
		</div>
		<div class="page_vitrine_interne" >{% include 'MCoreBundle:Home:inscription.html.twig' %}</div>
	</div>
{% endblock %}