{% extends 'MCoreBundle::layout.html.twig' %}
{% block meta %}
<meta name="description" content="Optez pour un accompagnement personnalisé dans votre recherche de l'amour. Comme dans une agence matrimoniale, bénéficiez d'un conseiller dédié au Maroc qui vous aidera à rencontrer votre âme soeur." />
<meta name="keywords" content="Agence matrimoniale Maroc, Agence matrimoniale Casablanca, Agence matrimoniale Marrakech, Agence matrimoniale Rabat, Agence matrimoniale Tanger, Agence matrimoniale Agadir, Agence matrimoniale Fès" />
{% endblock %}
{% block title %} Rencontres &amp; Vous : Accompagnement personnalisé pour célibataires sérieux au Maroc{% endblock %}
{% block body %}
{% include 'MCoreBundle::menu_principal.html.twig' %}
	<div class="inscription">
		<div class="page_services page">
			<h1>Bénéficiez d'un accompagnement personnalisé</h1>
			<div class="image">
				<img src="{{ asset('bundles/mcore/images/Vitrine/photo-service-perso.jpg') }}" alt="service perso rencontre" />
			</div>
			<div class="content_article">
				<h2>Un service personnalisé et efficace</h2>
				<p> 
					Vous voulez multiplier vos chances de rencontres avec un partenaire qui vous convient vraiment ? Optez pour un accompagnement ciblé et personnalisé avec notre coach.
				</p>
				<p>
					Notre coach est à votre disposition pour vous aider à trouver des réponses concrètes à vos problématiques et à vous débarrasser des comportements et croyances qui vous empêchent de nouer une relation sentimentale durable. Notre raison d’être est de vous emmener là où vous voulez aller dans votre vie amoureuse, vous offrir la liberté d’agir et de choisir votre voie à vous.
				</p>
				<h2>Préparez-vous à faire la rencontre !</h2>
				<p>
					Parce qu’une rencontre n’est jamais le fruit du hasard, notre coach va vous permettre de :
					<ul>
						<li>Mieux vous connaître dans le cadre d’une relation amoureuse et savoir ce qui vous rend heureux en amour. </li>
						<li>Prendre conscience de ce qui vous rend unique et savoir l’utiliser afin de mener les changements dont vous avez besoin. </li>
						<li>Mieux comprendre l’autre. </li>
						<li>Apprendre à séduire tel(le) que vous êtes, parce que c’est comme cela que vous attirerez la personne qui VOUS convient. </li>
					</ul>

				</p>
				<p>
					Notre coach est certifié en PNL. Elle met à contribution toute son expertise et son savoir-faire pour vous permettre de créer la dynamique dont vous avez besoin pour provoquer et gérer la rencontre.
				</p>
				<p>
					Notre coach est certifiée en PNL par la Society of NLP, institut d’un des co-fondateurs de la PNL (Programmation Neuro-Linguistique). Elle a également suivi de nombreux stages et formations aux Etats-Unis, auprès de grands coachs renommés. Elle met à contribution toute son expertise et son savoir-faire pour vous permettre de créer la dynamique dont vous avez besoin pour provoquer la rencontre.
				</p>
				<blockquote>
Si vous souhaitez en savoir plus sur notre concept, nous vous invitons à nous contacter via <a href="#" class="declenche_contact" style="text-transform:none;text-decoration:underline;font-size: 12px;">ce formulaire.</a>
					</blockquote>
			</div>
		</div>
		<div class="page_vitrine_interne" >{% include 'MCoreBundle:Home:inscription.html.twig' %}</div>
	</div>
{% endblock %}