{% extends 'MCoreBundle::layout.html.twig' %}
{% block meta %}
<meta name="description" content="Consulter les témoignages de célibataires marocains - Rencontres &amp; Vous" />
<meta name="keywords" content="Site de rencontre Maroc, rencontre sérieuse,  témoignages célibataires maroc" />
{% endblock %}
{% block title %}
Témoignages de célibataires au Maroc - Rencontres &amp; Vous
{% endblock %}
{% block body %}
{% include 'MCoreBundle::menu_principal.html.twig' %}
	<div class="inscription">
		<div class="page_temoignages page">
			<h1>Témoignages de célibataires marocains </h1>
			<p class="text_intro intro_temoignage"><b>La rubrique « Témoignages » offrira la possibilité aux couples formés grâce à Rencontres &amp; Vous de raconter leur histoire.</b>Nous vous avons d’ores-et-déjà sélectionnés des témoignages de personnes ayant participé au groupe de discussion qui nous ont permis de comprendre les attentes précises des célibataires vivant au Maroc.</p>
			{% for Temoignages in temoignage%}
			<div class="bloc_article1 bloc_article">
				<div class="image"><img  src="{{ Temoignages.image }}" height="122" width="96" alt="{{ Temoignages.username|capitalize }}" /></div>
				<h2 style="clear:none" class="{% if Temoignages.sexe %}femme{% else %}homme{% endif %}"><span class="username {% if Temoignages.sexe %}femme{% else %}homme{% endif %}">{{ Temoignages.username|capitalize }}</span>, {{Temoignages.titre}}</h2>
				<blockquote><em>«{{Temoignages.texte}}»</em></blockquote>
			</div>
			{% endfor %}
			 {# <div class="bloc_article1 bloc_article">
				<div class="image"></div>
				<h5><span class="username femme">Lamia</span>, 37 ans - Cadre dans une compagnie d’assurance</h5>
				<blockquote><em>« J'ai une vie professionnelle active et peu de temps pour les loisirs en semaine. Puis, le week-end, je suis souvent en  famille ou avec mon groupe d'amis. Je me suis rendue compte que rencontrer de nouvelles personnes en dehors du travail et de mes proches ne m’était pas arrivé depuis longtemps. Très déçue des sites de rencontre « traditionnels », j'adhère complètement au principe de partager des sorties avec d'autres célibataires autour d'activités qui me plaisent. »</em></blockquote>
			</div>
			<div class="bloc_article2 bloc_article">
				<div class="image"></div>
				<h5><span class="username homme">Omar</span>, 36 ans - Journaliste</h5>
				<blockquote><em>« A l'heure du tout internet et de l'individualisation de notre société, je suis à 200 % pour ce type de projet ! Recentrer l’échange,  le partage et le réel entre les personnes est une bonne chose. Rester derrière son ordinateur et se créer une vie virtuelle, j'en vois de plus en plus autour de moi. A moins d'être un peu fou, je n’ai pas encore vu de mariage entre un homme et son ordi !!! »</em></blockquote>
			</div>
			<div class="bloc_article3 bloc_article">
				<div class="image"></div>
				<h5><span class="username femme">Sofia</span>, 31 ans - Gérante d'un Spa</h5>
				<blockquote><em>«  Je suis une femme très active, je pratique une activité physique deux à trois fois par semaine. Participer aux sorties autour du sport m’intéresse beaucoup car je recherche une personne avec qui partager ma passion et pouvoir pratiquer le sport en couple. »</em></blockquote>
			</div>
			<div class="bloc_article4 bloc_article">
				<div class="image"></div>
				<h5><span class="username homme">David</span>, 40 ans - Directeur de restaurant</h5>
				<blockquote><em>« Gérant de mon restaurant et passionné par l'univers de la restauration, j'adore la gastronomie sous toutes ses formes. Sauf que découvrir seul les bonnes tables de ma ville, c'est pas génial !Le concept de Rencontre&amp;Vous me plaît dans le fait de pouvoir proposer des sorties en petit comité autour d'un bon repas plutôt qu'en tête à tête ! Je suis (un peu) réservé donc en groupe c'est moins intimidant… »</em></blockquote>
			</div>
			<div class="bloc_article5 bloc_article">
				<div class="image"></div>
				<h5><span class="username femme">Layla</span>, 32 ans - Commerciale</h5>
				<blockquote><em>« Je m'étais inscrite sur un site de rencontres, mais je n'ai jamais été à un RDV par peur de me retrouver en tête à tête avec un homme et de n'avoir rien à lui dire. Participer à une sortie entre célibataires où je ne serai pas la seule femme me rassure. Si mon prince charmant n'est pas au RDV, alors je trouverai peut-être de nouvelles amies. »</em></blockquote>
			</div>
			<div class="bloc_article4 bloc_article">
				<div class="image"></div>
				<h5><span class="username homme">Sifeddine</span>, 28 ans - Courtier en immobilier</h5>
				<blockquote><em>« Une des grandes différences qu'il y a entre « Rencontres &amp; Vous » et les autres sites de rencontres accessibles depuis le Maroc est que ce site propose de vrais profils de personnes, résidants sur le territoire Marocain. Beaucoup de sites  affichent comme communication « site pour les gens du Maghreb »… Ok ! Mais naviguer et voir des profils vivants en Algérie, en France ou en Tunisie n'a aucun intérêt pour moi ... »</em></blockquote>
			</div> #}
		</div> 
		<div class="page_vitrine_interne" >{% include 'MCoreBundle:Home:inscription.html.twig' %}</div>
	</div>
{% endblock %}