{% extends 'MCoreBundle::layout.html.twig' %}
{% block body %}
	<div class="inscription_container">
		<div class="etapes_inscription {{ app.session.get('UserRegistration_Sexe') }}">
			<h1>Inscription en 3 étapes</h1>
			<div class="steps">
				<span class="step1 step {% block step1 %}{% endblock %}">1</span>
				<span class="sep"></span>
				<span class="step2 step {% block step2 %}{% endblock %}">2</span>
				<span class="sep"></span>
				<span class="step3 step {% block step3 %}{% endblock %}">3</span>
			</div>
			<p class="text_explicatif">Les informations ci-dessous apparaîtrons sur votre profil. Une fois votre inscription validée, en étant membre vous pourrez modifier vos informations si vous le souhaitez.</p>
			{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}