{% extends 'MCoreBundle::layout.html.twig' %}
{% block body %}
<div class="container-fluid wrapper" >
   <div class="well">
     <form method="post" {{ form_enctype(form) }}>
       {{ form_widget(form) }}
       <input type="submit" class="btn btn-primary" />
     </form>
   </div>
 </div> 
 {% endblock %}