{% extends 'MCoreBundle:Registration:layout.html.twig' %}
{% block step3 %}actif{% endblock %}
{% block content %}
    <form method="post" {{ form_enctype(oForm) }} id="uploadData" >
    	<div class="formulaire enregistrement_photo_profil" >
	    	{# if oForm.username.vars.errors|length %}has-error{% endif #}{# form_errors(oField) #}
	    	<h3 class="no-extra-margin width-full">Ma photo de profil principale </h3>
	    	<div class="block_left">
	    		<ul>
					<li class="empty">
						<input id="upload0" class="upload" type="file" name="m_corebundle_usertype[image]" accept="image/*" multiple="">
						<span>
							<a class="photo" href="#">
								<span class="loader"></span>
								<span class="add">
									<span class="plus">+</span>
									<p>Ajouter une photo</p>
								</span>
							</a>
						</span>
					</li>
					<button class="add_pic button">Ajouter une photo</button>
				</ul>
				{{ form_widget(oForm.image, {'attr' : {'class' : 'ADD_upload0'}}) }}
			</div>
			<div class="block_right">
				<p class="desc_photo_inscription">Rencontres &amp; Vous souhaite instaurer un climat de confiance et de transparence entre ses membres. C’est pourquoi il est obligatoire, par soucis d’honnêteté, de mettre une photo de profil .Cela permet à chaque membre de mettre un visage sur la personne qui veut rentrer en contact avec vous, et vice-versa. Si le physique ne fait pas tout, il reste en revanche important d’avoir une idée du type d’homme ou de femme avec qui vous communiquerez.</p>
				<p>L’esprit de la communauté créé au sein de Rencontres &amp; Vous vise la transparence et chaque membre doit ajouter obligatoirement une photo de profil pour valider son inscription. Votre photo de profil ne sera visible que dans l'espace privé et sécurisé du site Rencontres &amp; Vous.</p>
				<p>Toutes les photos sont vérifiées et validées manuellement par notre équipe.</p>
				<a href="{{asset(roots.documents.CharteQualite)}}" target="_blank">Voir les conditions générales d’utilisation &amp; la charte qualité</a>
			</div>
		    {{ form_rest(oForm) }}
		</div>
		<input type="submit" value="Valider mon inscription" />
		{# if oPassword.vars.errors|length %}has-error{% endif #}
		
   		{# form_rest(oForm) #}
     </form>
     <script>
     	$(document).ready(function(){
     		$(document).on('submit', '#uploadData', function(e){
     			var $aError = Array();
     			if ($("#upload0").val().length <= 2)
     			{
     				$aError[0] = 'Photo de profil';
					$aError[1] = 'La photo de profil est obligatoire';
					popMeOnError($aError);
     				return false;
     			}
     		});
     	});
     </script>
 {% endblock %}