{% extends 'MCoreBundle:Registration:layout.html.twig' %}
{% block step1 %}actif{% endblock %}
{% block content %}
    <form method="post" {{ form_enctype(oForm) }} class="form_step1" >
    	<div class="formulaire">
	    	{# if oForm.username.vars.errors|length %}has-error{% endif #}{# form_errors(oField) #}
	    	<div class="block_left">
	    		<div class="block_field">	
		    		{{ form_label(oForm.username) }}
		    		{{ form_widget(oForm.username, {'attr' : {'pattern' : '[a-zA-Z0-9]{5,12}'}}) }}
		    		<span class="state_username">
		    			<span class="loader"></span>
		    			<span class="success"></span>
		    			<span class="error"></span>
		    		</span>
		    	</div>
		    	{% for oPassword in oForm.password %}
					<div class="block_field block_pass">	
		    			{{ form_label(oPassword) }}
		    			{{ form_widget(oPassword, {'attr' : {'pattern' : '^(?=.*?[A-Za-z])(?=.*?[0-9]).{8,20}$'}}) }}
		    		</div> 
				{% endfor %}
				<h3>A propos de vous :</h3>
				<div class="block_field">	
		    		{{ form_label(oForm.marital) }}
		    		{{ form_widget(oForm.marital) }}
		    	</div>
		    	<div class="block_field">	
		    		{{ form_label(oForm.nbEnfant) }}
		    		{{ form_widget(oForm.nbEnfant) }}
		    	</div>
		    	<div class="block_field">	
		    		{{ form_label(oForm.nationalite) }}
		    		{{ form_widget(oForm.nationalite) }}
		    	</div>
		    	<div class="block_field">	
		    		{{ form_label(oForm.taille) }}
		    		{{ form_widget(oForm.taille) }}
		    	</div>
		    	<div class="block_field">	
		    		{{ form_label(oForm.silhouette) }}
		    		{{ form_widget(oForm.silhouette) }}
		    	</div>
		    	<div class="block_field">	
		    		{{ form_label(oForm.cheveux) }}
		    		{{ form_widget(oForm.cheveux) }}
		    	</div>
		    	<div class="block_field">	
		    		{{ form_label(oForm.yeux) }}
		    		{{ form_widget(oForm.yeux) }}
		    	</div>
			</div>
			<div class="block_right">
				<div class="notice pseudo">
					<p>Votre Pseudo doit se composer de lettres et/ou de chiffres de 5 à 12 caractéres maximum .</p>
				</div>
				<div class="notice password">
					<p>Votre mot de passe doit contenir un minimum de 8 caractères et doit se composer de chiffres et de lettres.</p>
				</div>
	    		<div class="block_field">	
		    		{{ form_label(oForm.ville) }}
		    		{{ form_widget(oForm.ville) }}
		    	</div>
				<div class="block_field">	
		    		{{ form_label(oForm.etudes) }}
		    		{{ form_widget(oForm.etudes) }}
		    	</div>
		    	<div class="block_field">	
		    		{{ form_label(oForm.profession) }}
		    		{{ form_widget(oForm.profession) }}
		    	</div>
		    	<div class="block_field">	
		    		{{ form_label(oForm.secteur) }}
		    		{{ form_widget(oForm.secteur) }}
		    	</div>
		    	<div class="block_field">	
		    		{{ form_label(oForm.vestimentaire) }}
		    		{{ form_widget(oForm.vestimentaire) }}
		    	</div>
		    	<div class="block_field">	
		    		{{ form_label(oForm.sport) }}
		    		{{ form_widget(oForm.sport) }}
		    	</div>
		    	<div class="block_field">	
		    		{{ form_label(oForm.fumeur) }}
		    		{{ form_widget(oForm.fumeur) }}
		    	</div>
		    	{{ form_rest(oForm) }}
			</div>
			<p class="footer">Le renseignement de l'ensemble des champs ci-dessus est obligatoire.</p>
		</div>
		
		<input type="submit" value="Etape suivante" />
		{# if oPassword.vars.errors|length %}has-error{% endif #}
		
   		{# form_rest(oForm) #}
     </form>
     <script>
     	$(document).ready(function(){
     		$(document).on('keyup focusout', '#m_corebundle_usertype_username', function(e){
     			$this = $(this);
     			$sUsername = $(this).val();
     			console.log($sUsername);
     			$('.state_username span').removeClass('shown');
     			$('.state_username span.loader').addClass('shown');
     			if ( $sUsername.length > 4 )
     			{
     				$.ajax({
						url: "{{ path('m_core_profile_ajax_checkusernameexists') }}",
						type: "POST",
						data: {
							sUsername: $sUsername
						}
					// Quand la requete retourne une réponse
					}).done(function( data ) {
						console.log(data);
						$('.state_username span').removeClass('shown');
						if ( data === 'error' )
						{
							$this.removeClass('valid');
							$this.addClass('invalid');
							$('.state_username span.error').addClass('shown');
							return false;
						}
						else
						{
							$this.removeClass('invalid');
							$this.addClass('valid');
							$('.state_username span.success').addClass('shown');
						}
					}).fail(function( data ){
						alert("Un problème est survenu");
					});
     			}
     		});
     		$(document).on('submit', '.form_step1', function(e){
     			if ( $('.invalid').length > 0 )
     			{
     				e.preventDefault();
     				popMeOnError(['Formulaire', "Veuillez vérifier les champs non valides avant de ne passer à l'étape suivante"]);
     			}
     		});
     	});
     </script>
 {% endblock %}