{% extends 'MCoreBundle:Registration:layout.html.twig' %}
{% block step2 %}actif{% endblock %}
{% block content %}
    <form method="post" {{ form_enctype(oForm) }} class="step2_formulaire" >
    	<div class="formulaire">
	    	{# if oForm.username.vars.errors|length %}has-error{% endif #}{# form_errors(oField) #}
	    	<div class="block_left">
	    		<h3 class="no-extra-margin">Ma description :</h3>
	    		<div class="block_field">
		    		{{ form_widget(oForm.description, {'attr':{'class' : 'textarea'}}) }}
		    	</div>
		    	<p class="help">* minimum de 80 caractères obligatoires.</p>
			</div>
			<div class="block_right">
				<div class="explication">
					<h4>Votre description :</h4>
					<p>Soyez authentique en vous exprimant avec vos mots.

					Veuillez en quelques mots, décrire votre personnalité et vos attentes concernant votre recherche du partenaire idéal. En étant précis dans votre description, vous permettrez à des membres susceptibles d’avoir des affinités avec vous de vouloir vous contacter.</p>
				</div>
			</div>
			<div class="block_center">
				<h3 class="bloc_qualite inscription">Mes qualités : <span class="help extra-margin inscription">Cochez les 6 adjectifs qui vous correspondent le mieux parmi la liste proposée.</span></h3>
				
				{% for qualite in oForm.qualites %}
					<div class="block_checkbox">	
			    		{{ form_widget(qualite, {'attr':{'class' : 'qualite'}}) }}
			    		{{ form_label(qualite) }}
			    	</div>
				{% endfor %}
		    	
		    </div>
		    {{ form_rest(oForm) }}
		</div>
		<input type="submit" value="Etape suivante" />
     </form>
     <script>
		$(document).ready(function()
		{
			$(document).on('submit', '.step2_formulaire', function(e){
				var $aError = Array();
				if ($.trim($('.block_left textarea').val()).length < 80 || $('.block_center .qualite:checked').length < 6)
				{
					if ( $.trim($('.block_left textarea').val()).length < 80 )
					{
						$aError[0] = 'Description';
						$aError[1] = 'Votre description ne fait pas un minimum de 80 caractères.';
						popMeOnError($aError);
					}
					else if ( $.trim($('.block_left textarea').val()).length > 500 )
					{
						$aError[0] = 'Description';
						$aError[1] = 'Votre description ne doit pas dépasser 500 caractères.';
						popMeOnError($aError);
					}
				
					if ($('.block_center .qualite:checked').length < 6)
					{
						$aError[0] = 'Qualités';
						$aError[1] = 'Vous devez cocher au minimum 6 qualités.';
						popMeOnError($aError);
					}
					return false;
				}
			});
		});	
	</script>
 {% endblock %}