.inscription_container
{
	width: 772px;
	margin: auto;
}
.etapes_inscription
{
	margin: auto;
	width: 690px;
	float: left;
}
	.etapes_inscription h1
	{
		text-align: center;
		color: white;
		font-size: 18px;
		text-transform: uppercase;
		margin: 12px 0 10px 0;
	}
	.etapes_inscription .text_explicatif
	{
		float: left;
		margin: 10px 0 10px 0;
		line-height: 22px;
		font-size: 12px;
	}
	.etapes_inscription .steps
	{
		width: 420px;
		margin: auto;
		color: white;
	}
		.etapes_inscription .steps span{float: left;}
		.Femme.etapes_inscription .steps .step{border: 1px solid #bb1871;}
		.Homme.etapes_inscription .steps .step{border: 1px solid #0090ba;}
		.etapes_inscription .steps .step
		{
			font-size: 26px;
			line-height: 48px;
			display: block;
			width: 50px;
			height: 50px;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			border-radius: 30px;
			text-align: center;
		}
		.Femme.etapes_inscription .steps .step.actif{background: #bb1871;}
		.Homme.etapes_inscription .steps .step.actif{background: #0090ba;}
		.Femme.etapes_inscription .steps .sep{border-top: 3px solid #bb1871;}
		.Homme.etapes_inscription .steps .sep{border-top: 3px solid #0090ba;}
		.etapes_inscription .steps .sep
		{
			width: 124px;
			height: 2px;
			margin-top: 24px;
		}
	.etapes_inscription .formulaire
	{
		border: #a7a9ac solid 1px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		padding: 40px;
		float: left;
		width: 690px;
	}
	.Femme.etapes_inscription form input[type="submit"]{background: #bb1870;}
	.Femme.etapes_inscription form input[type="submit"]:hover{background: #e51e88;}
	.Homme.etapes_inscription form input[type="submit"]{background: #0090ba;}
	.Homme.etapes_inscription form input[type="submit"]:hover{background: #00b0e5;}
	.etapes_inscription form input[type="submit"]
	{
		margin: 10px 0 0 290px;
		height: 30px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		cursor: pointer;
		border: none;
		font-size: 18px;
		color: white;
		float: left;
		padding: 0px 10px 0px 10px;
	}
	.etapes_inscription form .footer
	{
		float: left;
		font-size: 12px;
		margin: 20px 0 0 40px;
		width: 100%;
	}
		
		.etapes_inscription .formulaire .block_left,
		.profil_details_apropos .block_left
		{
			float: left;
			width: 50%;
		}
		.etapes_inscription .formulaire .block_right,
		.profil_details_apropos .block_right
		{
			float: right;
			width: 50%;
		}
			.etapes_inscription .formulaire h3.no-extra-margin,
			.profil_details_apropos h3.no-extra-margin,
			.profil_details_album h3.no-extra-margin{ margin: 0px 0px 12px 0px; }
			.etapes_inscription .formulaire h3,
			.profil_details_apropos h3,
			.profil_details_centreinteret h3,
			.profil_details_album h3,
			.profil_details_profilideal h3,
			.recherche_avancee h4,
			section.compte h4
			{
				float: left;
				margin: 30px 0 20px 0px;
				width: 100%;
				font-weight: bold;
				font-size: 14px;
				line-height: 18px;
			}
			.enregistrement_photo_profil .block_right h3{ margin-top: -30px !important; }
			.recherche_avancee h4{ margin-top: 0px !important; }
			section.compte h4{ margin: 0px 0 10px 0px !important; }
			.profil_details_profilideal h3{ margin: 0px 0 20px 0px; }
			.etapes_inscription .formulaire .block_field,
			.profil_details_apropos .block_field,
			.profil_details_centreinteret .block_field,
			.profil_details_profilideal .block_field,
			.profil_details_album .block_field,
			.recherche_avancee .block_field
			{
				width: 100%;
				margin-bottom: 8px;
			}
			.recherche_avancee .block_field.enLigne
			{
				float: left !important;
				width: 330px !important;
				margin-left: 45px !important;
			}
				.recherche_avancee .block_field.enLigne label{line-height: 25px;}
			.recherche_avancee .block_field.inscription
			{
				float: right !important;
				width: 300px !important;
			}
				.recherche_avancee .block_field.inscription select
				{
					width: 150px !important;
				}
			.recherche_avancee .block_field.recherche_favorite
			{
				float: left !important;
				width: 330px !important;
				margin-left: 45px !important;
			}
		.recherche_avancee .block_section.recherche_favorite label
		{
			font-size: 14px !important;
		}
		.recherche_avancee .block_section.recherche_favorite input[type="text"]
		{
			width: 190px !important;
			padding-left: 5px !important;
		}
		.recherche_avancee .block_section.recherche_favorite input[type="submit"]
		{
			float: right !important;
			margin: -3px !important;
		}
			
			.etapes_inscription .formulaire .block_checkbox, 
			.profil_details_apropos .block_checkbox,
			.profil_details_profilideal .block_checkbox, 
			.profil_details_centreinteret .block_checkbox, 
			.recherche_avancee .block_checkbox 
			{
				float: left;
				width: 20%;
				margin-bottom: 5px;
			}
			.recherche_avancee .block_checkbox
			{
				width: 113px !important;
			}
				.etapes_inscription .formulaire .block_checkbox label,
				.profil_details_apropos .block_checkbox label,
				.profil_details_centreinteret .block_checkbox label,
				.recherche_avancee .block_checkbox label
				{
					font-size: 11px;
				}
				.profil_details_album .album_status
				{

				}
					.profil_details_album .album_status .block_checkbox
					{
						float: left;
						margin-right: 40px;
					}
					.profil_details_album .album_status p
					{
						float: left;
						margin-right: 20px;
					}
						.profil_details_album .album_status .block_checkbox p
						{

						}
						.profil_details_album .album_status .block_checkbox label
						{
							margin-top: 2px;
							font-size: 13px;
							float: left;
							margin-left: 8px;
						}
						.profil_details_album .album_status .block_checkbox input[type="radio"]
						{
							float: left;
						}
				.profil_details_apropos .block_checkbox label{ color:black; }
			.etapes_inscription .formulaire .block_left .block_field,
			.profil_details_profilideal .block_left .block_field,
			.profil_details_apropos .block_left .block_field,
			.recherche_avancee .block_left .block_field{ float: left; }
			.etapes_inscription .formulaire .block_right .block_field,
			.profil_details_apropos .block_right .block_field,
			.profil_details_profilideal .block_right .block_field,
			.recherche_avancee .block_right .block_field{ float: right; width: auto; }
			
			.etapes_inscription .formulaire .notice
			{
				width: 290px;
				float: right;
				height: 50px;
				border: 1px solid white;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
				margin-bottom: 50px;
				margin-top: 55px;
				line-height: 14px;
				padding: 5px;
			}
				.etapes_inscription .formulaire .block_field label,
				.profil_details_apropos .block_field label,
				.profil_details_profilideal .block_field label,
				.profil_details_album .block_field label,
				.recherche_avancee .block_field label
				{
					float: left;
					width: 140px;
					font-size: 12px;
					line-height: 22px;
				}
				.etapes_inscription .formulaire .block_field input[type="text"],
				.etapes_inscription .formulaire .block_field input[type="password"]
				{
					border: 1px #939598 solid;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					height: 20px;
					width: 160px;
					padding-left: 4px;
				}
				.recherche_avancee .block_checkbox label
				{
					width: 93px !important;
					line-height: 26px !important;
				}
				.etapes_inscription .formulaire .block_left select, .etapes_inscription .formulaire .block_left input,
				.profil_details_apropos .block_left select, .profil_details_apropos .block_left input,

				.profil_details_profilideal .block_left select, .profil_details_profilideal .block_left input,
				.recherche_avancee .block_left select{width: 160px;}

				.etapes_inscription .formulaire .block_right select, .etapes_inscription .formulaire .block_right input,
				.profil_details_apropos .block_right select, .profil_details_apropos .block_right input,
				.profil_details_profilideal .block_right select, .profil_details_profilideal .block_right input,
				.recherche_avancee .block_right select{width: 160px;}


				.etapes_inscription .formulaire .block_field select,
				.profil_details_apropos .block_field select,
				.profil_details_profilideal .block_field select,
				.recherche_avancee .block_field select
				{
					float: left;
				}
				.profil_details_profilideal .block_field select.little_select,
				.recherche_avancee .block_field select.little_select{width: 60px !important; float: left;}
				.second_label {margin: 0 11px 0 11px !important;}

				.etapes_inscription .formulaire .block_field input,
				.profil_details_apropos .block_field input,
				.profil_details_profilideal .block_field input,
				.recherche_avancee .block_field input
				{
					float: left;
				}
				.etapes_inscription .formulaire .textarea,
				.profil_details_apropos .textarea
				{
					width: 90%;
					height: 120px;
					resize: none;
					overflow-x: hidden;
					overflow-y: scroll;
					color:black;
					font-size: 11px;
				}

		.etapes_inscription .explication,
		.profil_details_apropos .explication,
		.profil_details_album .explication{margin-top:28px;}
		.profil_details_profilideal .explication
		{
			float: left;
			margin-top: 0px;
		}
			.etapes_inscription .explication h4,
			.profil_details_apropos .explication h4
			{
				font-size: 15px;
				text-decoration: underline;
				margin-bottom: 8px;
			}
			.etapes_inscription .explication p,
			.profil_details_apropos .explication p,
			.profil_details_profilideal .explication p,

			.profil_details_album .explication p,
			.recherche_avancee p
			{
				font-size: 12px;
				text-align: justify;
				line-height: 15px;
				margin-bottom: 15px;
			}
			.etapes_inscription .explication a:before,
			.etapes_inscription .enregistrement_photo_profil .block_right a:before,
			.profil_details_apropos .explication a:before,
			.profil_details_apropos .block_right a:before,
			.profil_details_album .explication a:before{content:'> ';}

			.etapes_inscription .enregistrement_photo_profil .block_right a,
			.etapes_inscription .explication a,
			.profil_details_apropos .block_right a,
			.profil_details_apropos .explication a,
			.profil_details_album .explication a
			{
				font-size: 13px;
				color:#0090ba;
				text-transform: none;
			}
			.etapes_inscription .enregistrement_photo_profil .block_right a:hover,
			.profil_details_apropos .block_right a:hover,
			.etapes_inscription .explication a:hover,
			.profil_details_apropos .explication a:hover,
			.profil_details_album .explication a:hover{ color:#00b0e5; }
		.etapes_inscription .help,
		.profil_details_apropos .help,
		.profil_details_centreinteret .help
		{
			float: left;
			font-size: 11px;
		}
		.etapes_inscription .help.extra-margin,
		.profil_details_apropos .help.extra-margin{margin-top:15px;}
		.etapes_inscription .block_center,
		.profil_details_apropos .block_center,
		.profil_details_centreinteret .block_center
		{
			float: left;
			width: 100%;
		}
			.etapes_inscription .block_center h3,
			.profil_details_apropos .block_center h3
			{
				width: 100%;
			}
		.etapes_inscription .width-full,
		.profil_details_apropos .width-full{ width: 100%; }
		.etapes_inscription .enregistrement_photo_profil .block_left,
		.profil_details_apropos .block_left{width: 35%;}
		.etapes_inscription .enregistrement_photo_profil .block_right,
		.profil_details_apropos .block_right{width: 65%;}
		.etapes_inscription .enregistrement_photo_profil .block_right p,
		.profil_details_apropos .block_right p
		{
			font-size: 12px;
			line-height: 17px;
			text-align: justify;
			margin-bottom: 10px;
		}
			.etapes_inscription .enregistrement_photo_profil .block_left .button,
			.profil_details_apropos .block_left .button,
			.recherche_avancee .button
	        {
				background: #424244;
				border: none;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				height: 28px;
				padding: 0px 30px 0 30px;
				color: white;
				font-size: 16px;
				margin-left: 20px;
				cursor: pointer;
				margin-top: 16px;
				float: left;
				clear: both;
	        }
	        .recherche_avancee .lancer_recherche
	        {
	        	margin-left: 36%;
	        }
	        	.etapes_inscription .enregistrement_photo_profil a.photo,
	        	.profil_details_apropos a.photo{margin: 0px 0 0 45px;}
